[2018-01-16 00:09] jenweber opened #12 "Repair bad line breaks and missing version #s in links"
Related to https://github.com/ember-learn/guides-app/issues/4

What is that, you say? [Time for some RegEx?](https://imgs.xkcd.com/comics/perl_problems.png)

[2018-01-16 00:52] jenweber commented on #12
Finding urls that have a newline between the `]` and `(`:
[code]
-m multiline, -r recursive, final arg is the directory to search in. `\` precedes punctuation that would usually be interpreted as regex syntax, but that we want to be treated as a character.

[2018-01-16 07:01] jenweber commented on #12
The branch `jenweber:links-awakening` has a script called `link-checker.js`. It prints a list of faulty links to the console.

Run it with `node link-checker.js` and it will crawl the file tree and md files looking for invalid links.

[2018-01-18 05:45] jenweber opened #14 "Run link checker on later versions of Ember Guides"
When I fixed all the links, it went as far as 2.17. We need to run `link-checker.js` on later versions before merging them in.

[2018-01-23 16:20] mansona commented on #12
@jenweber can you confirm that this was fixed as part of: https://github.com/ember-learn/guides-source/pull/15

[2018-01-23 16:21] mansona commented on #14
I'm going to close this because your link-checking code is part of testing and CI so no versions can be added without them being right 🎉

[2018-01-23 16:21] #14 closed

[2018-02-07 05:10] rwwagner90 opened #499 "Remove jQuery"
The motivation for this change is best described by @acorncom:

For more info see the conversation on #38

[2018-04-22 20:40] jenweber opened #20 "Epic - improving Ember Data sections"
This issue is a reference for future Ember Data section improvements. Following discussion and consensus, these items should be broken into separate issues and small PRs.

- [ ] sample req and res objects/spec for different adapters/serializers
- [ ] Replace "customizing" language for serializers. I think we could simplify the mental model for everyone by teaching more about what a serializer is a

[2018-04-22 20:41] jenweber commented on #20
cc @runspired - please edit however you want ^^^

[2018-04-23 06:44] lifeart commented on #20
In serializers: `_normalizeDocumentHelper`, `extractAttributes`, `extractRelationships` - most used methods for me, it will be nice to cover it for newbies

[2018-05-03 18:53] efx opened #25 "discussion of pushing records into store using wrong method"
https://guides.emberjs.com/v3.1.0/models/pushing-records-into-the-store/
The page discusses using `store.push` but the code example at the end uses `pushPayload`:
<img width="783" alt="screen shot 2018-05-03 at 14 52 12" src="https://user-images.githubusercontent.com/472721/39596822-9a5b7106-4ee1-11e8-986a-3f744e4a51d2.png">
I expect the documentation to be consistent or explain the different sema

[2018-05-08 07:05] sivakumar-kailasam opened #32 "Update guide source repo links in "toc_reporting-a-problem""
We need to update the links in https://guides.emberjs.com/v3.1.0/#toc_reporting-a-problem before going live.

[2018-05-08 19:31] efx opened #33 "incorrect comment about jQuery.ajax returning a Promise"
The  [async routing section on promises](https://guides.emberjs.com/v3.1.0/routing/asynchronous-routing/#toc_a-word-on-promises) has a comment that states:

This is incorrect. The[ jQuery API](http://api.jquery.com/jQuery.getJSON/) indicates `$.getJSON` and other low level methods return the `jqXHR` [type](http://api.jquery.com/Types/#jqXHR). I think the code in this example should be updated with

[2018-05-09 13:52] jenweber opened #34 "Make the Controllers section more helpful"
There's not much on https://guides.emberjs.com/current/controllers - they are not distinguishable from routes or components in this explanation.

Try to help someone new understand, “where and when should I use a Controller?”

You can base content off [this blog post](https://medium.com/@jenweber/what-are-controllers-used-for-in-ember-js-cba712bf3b3e?source=linkShare-bbfa056dba1d-1525867885). The

[2018-05-09 13:56] jenweber commented on #34
@chrisrng is working on this.

I encourage you to open a PR once you have a first draft in order to get feedback. Thank you!

[2018-05-10 01:47] woohoou opened #35 "Nested routes can't find top level loading substates"
Seems that the documentation is missed an important part of the bubble mechanism in loading substate.

It says that a loading substate is bubble up to root level loading.hbs, but really only render the route-level loading template.

Here is the original issue:
emberjs/ember.js#12367

[2018-05-10 09:50] sivakumar-kailasam commented on #33
Thanks for reporting this. Here's a comment from their [api docs](http://api.jquery.com/jQuery.getJSON/),

We might have avoided mentioning the jqXHR object to avoid explaining the intricacies of jqXHR when we originally wrote that code block back in 1.x series of the guides.

Closing this issue for now. Please feel free to open a separate issue/PR about modernizing it.

[2018-05-10 09:50] #33 closed

[2018-05-12 19:01] gabrielgrant opened #40 "Re-add documentation for custom test helpers"
There used to be [documentation on creating custom test helpers](https://guides.emberjs.com/v2.18.0/testing/acceptance/#toc_custom-test-helpers). These no longer worked [(though were still included) in v3.0](https://guides.emberjs.com/v3.0.0/testing/acceptance/#toc_custom-test-helpers), but have been [removed in v3.1](https://guides.emberjs.com/v3.1.0/testing/acceptance/#toc_custom-test-helpers)

[2018-05-12 22:02] #25 closed

[2018-05-17 00:57] nathanhammond opened #42 "Component testing guide."
`locationService` is not in scope in the component here:

https://github.com/ember-learn/guides-source/blame/master/guides/v3.1.0/testing/testing-components.md#L435-L437

[2018-05-18 13:07] #32 closed

[2018-05-24 02:58] #34 closed

[2018-05-25 10:00] sivakumar-kailasam opened #496 "Providing an offline experience"
We could provide users with a button that could download content in the background & cache it via service workers so that they can read whatever version of docs they were viewing even when they go offline.

[2018-05-26 04:41] locks opened #56 "documentation link not working on ember test guide"
@abdullah2891

OP: https://github.com/emberjs/ember.js/issues/16636

[2018-05-28 23:54] jenweber opened #66 "How should we manage creating new version folders?"
**Current behavior:**
When we make a new folder of versions, we risk creating more work/losing valuable work when open PRs are still pointed at earlier versions. We also lose the git history.

**Desired behavior:**
We don't need to duplicate work when a new version is cut.

**Options:**
- merge or close PRs before making a new version
- make a "current" folder that holds the next version, and PRs

[2018-05-29 00:07] chrismou commented on #66
Personally I'd say the `current` directory makes more sense, as there'll always be times a PR isn't ready for the release and you don't want to be rushed into merging it to avoid work later.

As you say, if fixes all point at master, you only ever have to worry about backporting, and you can judge whether its worth it based on the importance.  Typos, for example, could probably just be left in mos

[2018-05-29 00:17] sivakumar-kailasam commented on #66
New features would need to be documented early in Dev cycle in the guides going forward since some of them require more time for review. Their content usually goes into n+2nd folder if 'n' is the current version of guides. This is an additional constraint to account for

[2018-05-31 17:32] shroy opened #495 "404 error clicking on old-version-warning btn link on v1.10.0"
When navigating to [Views: Inserting Views in Templates v1.10.0](https://guides.emberjs.com/v1.10.0/views/inserting-views-in-templates/), the `VIEW v3.1.0` link returns a **404 error**.

Error message in the response..

`
Error: Ember Data Request GET /content/v3.1.0/views/inserting-views-in-templates/index.json returned a 404
Payload (Empty Content-Type)
`

[2018-06-01 16:55] mansona opened #494 "Consider changing the length of the `description` meta-data"
This is a continuation from a conversation I had with @sivakumar-kailasam in #135

Currently, the description is limited to 260 characters because of a default in [ember-meta](https://github.com/shipshapecode/ember-meta) /cc @rwwagner90

The main point of the conversation was this:

[2018-06-01 19:45] brandonmack111 opened #69 "delete"

[2018-06-01 19:49] #69 closed

[2018-06-01 22:18] #56 closed

[2018-06-05 04:16] tchan opened #78 "Stubbing services"
https://guides.emberjs.com/release/testing/testing-components/#toc_stubbing-services

As per discussion on slack (hopefully it hasn't disappeared) https://embercommunity.slack.com/archives/C045C9ABM/p1528120489000077 , the code snippets on updating values on a service is outdated and perhaps should be something like (if there's a more ember-matic way i'd be curious to know as well)

[code]

The co

[2018-06-05 22:55] mattmarcum opened #79 "invoking-actions-directly-on-component-collaborators bad example"
https://guides.emberjs.com/release/components/triggering-changes-with-actions/#toc_invoking-actions-directly-on-component-collaborators

Hi hope this is the right place for this.  At the bottom of the section is a service `app/services/messaging.js` that has an `actions` hash with a method, `sendMessage` on it.  `sendMessage` should not be in an actions hash, it should just be directly accessible

[2018-06-07 06:09] sivakumar-kailasam commented on #78
This is now fixed. thanks for reporting it :)

[2018-06-07 06:10] sivakumar-kailasam opened #82 "Describe how computed props works with objects in more detail"
When we get to https://guides.emberjs.com/release/object-model/computed-properties/#toc_multiple-dependents-on-the-same-object we don’t seem to specify that computed doesn’t work directly on an object but has to be pointed to props inside that object. To newcomers this can be trippy since they might wonder why they can't compute on the object itself.

[2018-06-07 20:16] rodrigoyoshida opened #83 "Unwanted trailing slashes on services page"
There are some unwanted trailing slashes on guides page causing errors when using that part of the code. Tried to paste it and confirmed that it does not work, also checked the official guides-source repository and the trailing slashes are not there.

The trailing slashes come after the 'location' and 'element' words.

[code]

Link: https://github.com/ember-learn/guides-source/blob/master/guides/v

[2018-06-07 21:59] mansona commented on #83
hey @rodrigoyoshida thanks for the report 🎉

Do you want to submit the PR for this yourself? The simplest way to do so is to click the pencil button at the top right of the page when you're looking at the production Guides but if you want to do any local development I'm happy to guide you through it 👍

[2018-06-08 13:55] rodrigoyoshida commented on #83
Sure! Already did it. Changed the file and created a pull request.

[2018-06-13 03:21] acorncom commented on #79
Thanks much @mattmarcum, any chance you'd be able to send in a PR to address the issue?

[2018-06-13 09:36] sivakumar-kailasam opened #493 "Add a loading template for page transitions"

[2018-06-15 14:38] mattmarcum commented on #79
https://ember-twiddle.com/3e57cb6d449c1e66ac758d721f3d0fe3

[2018-06-21 10:37] kasinaat opened #91 "Dead Link at footer"
https://guides.emberjs.com/logos/

When I click the logos on the footer it leads to this page which displays nothing.

Edit:I noticed all the links in the footer displays nothing

[2018-06-21 10:56] sivakumar-kailasam commented on #91
Are you sure about that url @
?

[2018-06-21 10:59] kasinaat commented on #91
Yes I am sure

Hope this helps

![giterr](https://user-images.githubusercontent.com/21967976/41715164-31472b00-7570-11e8-8d24-2d5660855c95.PNG)

[2018-06-21 11:00] sivakumar-kailasam commented on #91
oh I see what you mean. Thanks for reporting this.

[2018-06-21 11:16] sivakumar-kailasam commented on #91
Fixed by https://github.com/ember-learn/ember-styleguide/pull/73

[2018-06-21 11:16] #91 closed

[2018-06-22 04:25] gabrielgrant opened #93 "Naming conventions page"
A number of place on the web* link to a "naming conventions" page at https://emberjs.com/guides/concepts/naming-conventions/ however such a page doesn't exist. Searching for a current version of that doc doesn't seem to turn up anything -- the latest version that I've found comes from v1.13: https://guides.emberjs.com/v1.13.0/getting-started/naming-conventions/

Given Ember's emphasis on conventio

[2018-06-24 22:29] ykcai opened #97 "Typo in guides/v3.2.0/tutorial/subroutes.md line 229"
Just a random "/" in the code, made a change on pull request https://github.com/ember-learn/guides-source/pull/96

[2018-06-25 03:11] sivakumar-kailasam commented on #97
Would you like to raise a PR for it?

[2018-06-27 20:49] peabnuts123 opened #100 "Code examples for Testing seem different from reality"
I am quite confused here and presumably looking to be told why I am wrong. I have been reviewing the guides for Testing, but none of the code examples match what is generated in my ember app. This has been very confusing for me because the code examples on the guides look way more legit.

For example, I am reviewing [this page](https://guides.emberjs.com/v2.18.0/testing/acceptance/) on writing acc

[2018-06-27 21:13] ykcai commented on #97
Yes I made one already, it is linked in the description

[2018-06-28 13:23] kasinaat commented on #91
I think still the issue persists but you have closed it

[2018-06-29 22:03] acorncom commented on #100
@peabnuts123 The testing framework did change in Ember 3.0, but it should have been left unchanged in Ember 2.18. We may have goofed on that somehow as we released a new version of the guides ...

Details on the changes can be found on the Ember 3.0 blog post (https://emberjs.com/blog/2018/02/14/ember-3-0-released.html#toc_updates-to-the-testing-defaults).

As far as the blueprints go, you're righ

[2018-06-29 22:07] acorncom commented on #100
For anyone interested in helping, we'd love to see the Ember 2.17 testing guides copied over to Ember 2.18 in this repo so we eliminate the confusion here. @peabnuts123 if you have time, a PR would be great, otherwise we'll see about getting this cleaned up in a bit.

[2018-06-29 22:14] acorncom commented on #93
@gabrielgrant there was a bunch of purging and cleaning that occurred in the 1.13 -> 2.0 timeframe. I would expect it was an active decision, but I wasn't around when that decision was made 😀 Good point on the dynamic segment naming styles.

With that exception do you see much reason for having that entire page? If we don't bring the page back (due to it mainly being redundant info, now that the c

[2018-07-01 20:46] peabnuts123 commented on #100
This makes sense. I went on to learn about the testing overhauls that have happened but left the issue open as the contents of `node_modules/ember-source` did not have the RFC-232 blueprints in it and I was thoroughly confused. Thanks for the info! I may or may not have time to put together a PR, I am unsure.
Question for you, @acorncom, can I use the new test formats / get my hands on the bluepri

[2018-07-01 21:00] peabnuts123 commented on #100
Have opened #102. Please take a look and see if it is correct.

[2018-07-02 23:29] acorncom commented on #78
@tchan would you have time to update the guides here? Would love to get this cleaned up ...

[2018-07-03 14:06] dcyriller opened #104 "Searching the v3.2 doc"
It looks like the v3.2 doc hasn't been scrapped by algolia yet (https://github.com/algolia/docsearch).

Requests to algolia return empty payloads when POST payload includes`facetFilters: [["version:v3.2.0"]]"}`.

Any thought on how the indexing may be triggered?

[2018-07-03 19:08] lupestro opened #492 "Guides have a few hiccups with older versions of Edge."
With the Anniversary Edition of Windows 10, Edge doesn't display the dropdown of the version selector. Clicking the dropdown shows an empty list and the version appears as blank after that. Also, the black background for the example text isn't showing, making the examples hard to read.

Both issues occur on:
[code]

But it works in:
[code]

I dug around a little. While poised on object `ember619`

[2018-07-04 00:10] lupestro opened #491 "Guides also have a few hiccups in IE11"
The version drop-down isn't working at all in IE11. Loading the initial page, I saw `Object doesn't support property or method 'includes' ` so I suspect something, (maybe the select addon?) wasn't polyfilled during the build.

IE11 also had a little problem with the "Installing Ember" page. The URL path was "getting-started/" rather than "getting-started/something" (which seems suspicious anyway),

[2018-07-09 02:04] jenweber commented on #104
Thanks for the note @dcyriller! We are working on getting that fixed.

@sivakumar-kailasam can you close this when the Algolia fix is done? Thank you!

[2018-07-09 02:05] jenweber commented on #83
Closed by merging https://github.com/ember-learn/guides-source/pull/84

Thanks for your help with this!

[2018-07-09 02:05] #83 closed

[2018-07-09 14:52] dcyriller commented on #104
If I can help, let me know @jenweber

[2018-07-09 15:00] sivakumar-kailasam commented on #104
@dcyriller thanks for offering to help. We already have a custom index for the API docs & the current plan is to create new indexes for guides & populate them periodically.

If you feel up for it please reach out to me on slack & I can provide more information to get you started on this

[2018-07-20 14:05] jenweber opened #113 "patch release of the guides source and deployment instructions"
- clone the repo/make sure you have the latest
- `npm install -g np`
- `npm login` <--- by someone who has the permissions. Ask an admin to add more people. [link to add people](https://www.npmjs.com/settings/ember-learn/members)
- `np`
- choose "minor"
- In about 5 mins, look for a dependabot PR on guides-app and merge it [example](https://github.com/ember-learn/guides-app/pull/186) and merge it

[2018-07-20 18:14] jenweber commented on #113
PR'd https://github.com/ember-learn/guides-source/pull/114

[2018-07-20 18:17] #113 closed

[2018-07-26 15:25] knownasilya opened #117 "Actions change API without a description"
This section https://guides.emberjs.com/release/templates/actions/#toc_modifying-the-actions-first-parameter changes from the element modifier version of actions to the closure version (? - should probably also give a name to the two types so users know what to say/search for) without even a sentence about why, what the difference is, when to use which, and the caveats. This makes actions quite co

[2018-07-29 01:26] jenweber opened #121 "Tutorial lacks an index.md"
tchan reported this as an invalid link: https://guides.emberjs.com/release/tutorial/.

The same bug persists when a version is selected. However, similar links work fine, like https://guides.emberjs.com/release/routing/.

I think this happens because Tutorial lacks an index.md. However, we can't just change the filename of the entry point file, because if anyone has linked to it, then we break tho

[2018-07-29 20:42] jenweber commented on #121
Closed, Chris figured out why this is happening and the fix is not this.

[2018-07-29 20:42] #121 closed

[2018-07-29 20:53] jenweber opened #123 "Create a Rolodex tutorial (easier than Super Rentals, more than the Quickstart)"
This initiative is underway by @pzuraq! Just posting an issue here so that other people who come here to contribute know what is going on with our big initiatives.

[2018-07-29 21:16] pzuraq commented on #123
The branch can be found here, for anyone interested in progress: https://github.com/pzuraq/guides-source/tree/pzuraq/adds-rolodex-tutorial

I'm expecting to have a chunk of time to finish it up mid-August!

[2018-07-30 15:51] cspanring commented on #42
I believe it is (https://guides.emberjs.com/release/testing/testing-components/#toc_stubbing-services), but I agree, you have to scroll and make the mental connection to the first code example in the section.

Would just mutating `locationStub.<prop>` be easier to understand for that purpose?

[2018-08-14 21:11] loren-osborn opened #132 "Guides should recommend custom inflector rules be put in initializers instead of models"
The official ember docs [currently recommend](https://guides.emberjs.com/release/models/customizing-adapters/#toc_pluralization-customization) custom inflector rules be added to app/models, which seems like an odd place and can introduce bugs if the inflector rules are not properly loaded before a user interacts with the store.  I consulted with @runspired, and we agreed that a better place for su

[2018-08-15 02:57] acorncom commented on #132
hey @loren-osborn that sounds like a great idea, would you have time to send in a PR to update things? The guides are a community resource, so we actively encourage folks to send in PRs to make the changes they're noticing a need for 😄

[2018-08-25 15:12] #82 closed

[2018-08-30 13:33] toddjordan opened #139 "Quest: Transition guides documentation to use angle bracket invocation (rfc 311)"
See [RFC 311](https://github.com/emberjs/rfcs/blob/master/text/0311-angle-bracket-invocation.md)

This is a placeholder for a quest issue for converting the guides to introduce and explain angle bracket component invocation to ember developers.

[2018-09-04 20:13] nruth opened #144 "should the object model guide talk about factory registration?"
I'd like to report a shortcoming I've noticed in the guide, and suggest adding a further-reading link between two of its pages. I don't understand the issue well enough to suggest another edit.

While adding the router service to an event-handler object (EmberObject subclass) I got the error `Attempting to lookup an injected property on an object without a container, ensure that the object was ins

[2018-09-10 15:35] sohara opened #148 "Runloop guides are out of date"
The guides for the runloop (version 3.4) are quite out of date. They refer to things that no longer exist, such as `Ember.run.queues` (there are still queues but they are no longer accessible on `Ember.run` and there is an embedded demo app here: https://s3.amazonaws.com/emberjs.com/run-loop-guide/index.html

That demo app uses an extremely old version of Ember (`1.3.2+pre.25108e91`).

Not sure wh

[2018-09-24 02:17] jenweber commented on #148
@sohara at minimum, our guides should not provide incorrect info, so I agree that we should remove misleading information.

Do you know any more specifics about which parts are incorrect/unavailable now? Thanks!

[2018-09-24 14:39] sohara commented on #148
@jenweber At a minimum parts of the guides that refer to the internals as being publicly available are misleading. E.g. this section: https://github.com/ember-learn/guides-source/blob/master/guides/v3.4.0/applications/run-loop.md#how-does-the-run-loop-work-in-ember
It refers to `Ember.run.queues` being a publicly accessible array of available queues. This used to be the case but it has been made p

[2018-09-28 04:08] jenweber commented on #148
@sohara it is perfect, thank you.

To-dos for anyone who wants to pick up this issue:
- [ ] remove reference to `Ember.run.queues`
- [ ] Add a disclaimer at the very top of the [Run Loop Guide](https://guides.emberjs.com/release/applications/run-loop/) that says something to indicate that most Ember developers don't have to think about or learn the run loop, but those who are interested in the int

[2018-09-28 04:10] jenweber commented on #139
I think the decision was maybe we wait for Octane before documenting this? Just wanted to add a note that contributors should not attempt this yet. Thoughts?

[2018-09-28 04:34] jenweber opened #155 "Write a friendlier introduction to the Objects guide"
When someone is done with the tutorial, the first thing they read is [this](https://guides.emberjs.com/release/object-model/). It's very confusing to beginners and right away, makes us look dated, because ES2015 is hardly new 😆

To-do:
- [ ] take out the reference to ES2015 being "new"
- [ ] write a better introduction. Imagine someone is reading this on day-one of Ember! New learners are probably

[2018-09-28 04:36] jenweber commented on #66
Closing, this has been less of a problem now that 3.x guides have stabilized.

[2018-09-28 04:36] #66 closed

[2018-09-29 21:44] jenweber opened #156 "Explain when to use `index` routes"
**Problem:**
It's unclear what to actually use index routes for. We can add some more details to the Guides on this.

**To do:**
- add more detail to the [Index Routes](https://guides.emberjs.com/release/routing/defining-your-routes/#toc_index-routes) section. Only make changes to the markdown file for the latest version of Ember.

**Suggestions collected from Discord chat:**
- "I explain this by

[2018-09-29 22:09] jenweber opened #157 "Explain how to transition between Routes"
We should add a section to [Defining your routes](https://guides.emberjs.com/release/routing/defining-your-routes/) that very briefly explains how to move between routes, and link to the API docs

There are 3 main ways:
- `this.transitionTo` or `transitionToRoute` from a route
- using the Router Service
- link to in a template

[2018-09-29 22:14] jenweber opened #158 "Say explicitly what kind of Query Parameters are being taught"
It's common for new learners to confuse API request query parameters (Ember Data) with routing query parameters.

Add a couple sentences to the intro section of [Query Params](https://guides.emberjs.com/release/routing/query-params/) to indicate that in web development, query params can be one of two things, either in the url or for making API requests. In Ember, these are two separate concepts. L

[2018-09-29 22:18] jenweber opened #159 "Add one sentence to say what a helper is"
This section on handlebars mentions helpers without saying what they are. Add one sentence to give new learners an idea, so they don't have to dig into handlebars docs. You might find a good definition in the API docs, or you could use this definition from the "built-in helpers" guide, which is "A helper is usually a simple function that can be used in any template."

[Here is the section](https:/

[2018-09-29 22:28] jenweber opened #160 "Make this sentence easier to understand: "Ember components are used to encapsulate markup and style into reusable content.""
[This sentence in the guides](https://guides.emberjs.com/release/components/defining-a-component/) would be difficult for non-native English speakers and new developers:

Change this sentence so it is said more plainly, even if it takes more words. "Encapsulate" is the main issue.

Make your changes to only the markdown file for the latest version of Ember.

[2018-09-29 22:33] jenweber opened #161 "Rework "Defining a Component Subclass""
I don't really understand what this section is trying to say. Do you know? Add or edit to make it easier to understand!

[Defining a component subclass](https://guides.emberjs.com/release/components/defining-a-component/#toc_defining-a-component-subclass)

Please make changes to only the markdown file for the latest version of Ember. I can't provide more guidance on how to rewrite this, but if you

[2018-09-29 22:48] jenweber opened #162 "Explain how to pass actions and then use actions that have been passed"
There are a few different ways to pass actions in Ember. We don't realllly teach them in the Guides, though it's covered in the Tutorial.

To do:
- [ ] link to [this section](https://guides.emberjs.com/release/components/triggering-changes-with-actions/#toc_passing-the-action-to-the-component) on passing actions to components from [here](https://guides.emberjs.com/release/components/passing-proper

[2018-09-29 22:54] jenweber opened #163 "Link to the section on Query Parameters from the Controller guide"
The opening paragraph of [Controllers](https://guides.emberjs.com/release/controllers/) should mention that they are the place to define routing query parameters, and link to [this page](https://guides.emberjs.com/release/routing/query-params/)

You should only make changes to the markdown file for the latest version of the guides.

If you are an experienced contributor, when you are done with thi

[2018-09-29 22:57] jenweber opened #164 "Rework the Models intro"
I'm going to attempt this. Again.

https://guides.emberjs.com/release/models/

Goals:
- Clear distinction between Ember and Ember Data
- Explain what Ember Data is
- Clear distinction between model hooks and Models models
- Mergeable PRs, this time.

[2018-09-30 00:30] jenweber opened #166 "Show how to do arrays/objects in an Ember Data model"
[This page](https://guides.emberjs.com/release/models/defining-models/) shows how to do type transforms. But what about if a record has a deeply nested read-only object or array? New learners might think they need to make relationships and child models, and this gets difficult quickly, however there is a simple solution.

Add a note and an example of read-only arrays and nested objects in Ember Da

[2018-09-30 00:37] jenweber opened #167 "Link to ember-auto-import in "Managing Dependencies""
We don't actually show new devs how to use `npm` packages. We should.

This is somewhat the domain of `ember-cli` instead, but I think in the interim, we should link to [ember-auto-import](https://github.com/ef4/ember-auto-import) in the [managing dependencies](https://guides.emberjs.com/release/addons-and-dependencies/managing-dependencies/) guide. The explanation should be clear that there are m

[2018-09-30 21:34] John-E5 commented on #159
I'd like to take this on.

[2018-09-30 21:37] jenweber commented on #159
Awesome, all yours! If you want it to count for Hacktoberfest, open your PR on or after Oct 1st. Thanks for your help!

[2018-09-30 21:56] John-E5 commented on #159
That's great ill submit the PR tomorrow so.

[2018-10-01 01:00] CosmicWebServices commented on #160
Can I take this?

I was thinking "Ember components are used to turn markup text and stylesheets into reusable content. "

[2018-10-01 01:29] CosmicWebServices commented on #161
Got this one.

[2018-10-01 10:42] John-E5 commented on #159
Requested changes have been added.

[2018-10-01 11:38] #159 closed

[2018-10-01 12:12] John-E5 commented on #167
I'll take this on

[2018-10-01 12:59] ynotdraw commented on #157
Hey @jenweber, I'd love to take a stab at this!

[2018-10-01 13:49] Parrryy commented on #163
I'd be happy to pick this up.

[2018-10-01 13:50] Parrryy commented on #162
I'd be happy to pick this up :)

[2018-10-02 01:48] jenweber commented on #163
Closed by merging #173

[2018-10-02 01:48] #163 closed

[2018-10-02 01:58] jenweber opened #179 "Show how to do internal guides links in CONTRIBUTING.md"
Whenever one section of the guides links to another section, it should use relative links. Please add a section to [CONTRIBUTING.md](https://github.com/ember-learn/guides-source/blob/master/CONTRIBUTING.md) that shows people how to make these links.

Incorrect: `https://guides.emberjs.com/release/routing/query-params/`
Correct: `../routing/query-params/`

The catch is that if you're in an `index.m

[2018-10-02 02:09] #167 closed

[2018-10-02 02:57] jenweber commented on #161
Closed by merging #172

[2018-10-02 02:57] #161 closed

[2018-10-02 04:45] sivakumar-kailasam commented on #148
In addition to @jenweber's comments, anyone working on this can get feedback on the content by checking with framework core authors by reaching out via the #dev-ember-js on [discord](https://discordapp.com/invite/zT3asNS)

[2018-10-02 14:06] NullVoxPopuli opened #180 "A guide on how to handle promises with computed properties"
I think they should be a page on how to deal with promises when using computed properties, for example, I have this addon: https://emberobserver.com/addons/ember-computed-promise-monitor (though, diving in to this addon could be a neat post by itself).

But, also, there is the built in `PromiseProxy`

Basically, it needs to be clear when the value of a computed property is read, and when a "reques

[2018-10-02 22:45] jayjayjpg opened #181 "Improve Explanation on Action Binding in the Input Helpers Section"
## Current Behaviour

The [Input Helper Section](https://guides.emberjs.com/v3.4.0/templates/input-helpers/) on the Guides highlights how different types of the `input` helper can be used.
When reviewing the section on how to bind actions to the `{{input}}` helper (https://guides.emberjs.com/v3.4.0/templates/input-helpers/#toc_actions), the following statement is made:

```Event Names must be dash

[2018-10-02 23:53] mikewang0326 opened #182 "ember.js quickstart failed"
1, Error Scenario

When I execute the commandline "ember serve", I clicked the link "http://localhost:4200/", I got the error info "" in Chrome console.

2, Error info
Uncaught Error: Could not find module `ember-compatibility-helpers` imported from `@ember/ordered-set/index`
    at missingModule (loader.js:247)
    at findModule (loader.js:258)
    at Module.findDeps (loader.js:168)
    at findMo

[2018-10-03 03:11] sivakumar-kailasam commented on #182
@mikewang0326 could you share the repo where this could be reproduced?

[2018-10-03 08:07] sivakumar-kailasam commented on #182
This issue has been reported on cli https://github.com/ember-cli/ember-cli/issues/8084. A patch release of cli on 3.4 should fix this. Until then anyone facing this issue should upgrade `ember-compatibility-helpers`

[2018-10-03 08:55] locks commented on #182
Patched for now, thanks for reaching out!

[2018-10-03 08:55] #182 closed

[2018-10-03 12:52] jenweber opened #184 "Discussion: rename Ember Data to ember-data in the guides?"
In #165, @runspired suggests that some learning confusion stems from people not understanding that Ember Data is a library within the ember ecosystem. Chris suggests that calling it ember-data might help.

I would like to discuss the pros and cons and decide if we will do the renaming.

Pros:
- clearer indicators that ember data has its own API
- improved mental model of the Ember ecosystem

Cons

[2018-10-03 13:32] locks commented on #184
If we are changing this decision, we need to update ember-cli, ember-data, ember.js, and other relevant libraries that we might mention.

[2018-10-03 13:33] locks commented on #184
Do we retro-update blog posts as well?

[2018-10-04 02:32] jenweber commented on #148
Additional possible fixes for the run loop: https://github.com/ember-learn/guides-source/pull/183#issuecomment-426552380

[2018-10-04 03:16] jenweber commented on #184
I added these to the pros/cons list.

I would say that no, we do not retro update blog posts. They are moments in time that we do not maintain for accuracy, generally speaking.

[2018-10-04 09:53] mansona commented on #184
I will add my opinion on a case by case basis to each of your points:

If we're only changing Ember Data to ember-data then it is unlikely going to make any difference to SEO for either Ember or ember-data. Of course we would need to do some specific research into how Google tokenises our content and exactly what base word ember-data would boil down to. Currently, I think our *SEO juice* will just

[2018-10-05 08:21] Parrryy commented on #181
I'd be happy to have a look at this 👍 If that's cool?

[2018-10-05 08:31] Parrryy commented on #158
I'll pick this up! 👍

[2018-10-05 12:13] jessica-jordan commented on #181
That sounds great :sparkles: Feel free to ping me if there are any questions anytime!

[2018-10-05 17:38] MelSumner opened #187 "run-loop information needs to be updated"
As per https://github.com/rwjblue/rfcs/blob/embrace-the-autorun/text/0000-remove-autorun-assertion.md  the guide content needs to be updated to reflect the current reality of the run-loop.

- [ ] review the guides for mention of run-wrapping, and remove them.
- [ ] update the [run-loop guide](https://guides.emberjs.com/v2.18.0/applications/run-loop/):
  - [ ] change the verbiage that mentions the

[2018-10-05 17:55] sivakumar-kailasam commented on #187
@gokatz this might interest you 🙂

[2018-10-05 18:10] gokatz commented on #187
Yes, it is 😸
Will revamp those sections

[2018-10-06 13:43] jessica-jordan opened #191 "Flag All Advanced Topics in the Guides Source"
Part of https://github.com/ember-learn/guides-app/issues/259

We need help to flag all issues that can be considered as advanced in the Guides Source! It would be useful to add a flag `isAdvanced: true` to all the topics which are most useful to experienced users.

For more context, see also the [related Quest Issue](https://github.com/ember-learn/guides-app/issues/259).

[2018-10-08 08:52] simonihmig opened #194 "Don't teach jQuery APIs"
While I think most guides content teaches native DOM APIs for good reasons, the [component lifecycle guide](https://github.com/ember-learn/guides-source/blob/master/guides/v3.4.0/components/the-component-lifecycle.md) still references jQuery APIs.

I believe this should be updated, as per [RFC294](https://emberjs.github.io/rfcs/0294-optional-jquery.html) (even more so with [RFC386](https://github.

[2018-10-08 11:07] mansona opened #195 "Remove the use of jQuery in code sample for tutorial/service.md"
https://github.com/ember-learn/guides-source/blob/master/guides/v3.4.0/tutorial/service.md#display-maps-with-a-component

[2018-10-08 15:08] jkarsrud opened #197 "Remove the use of jQuery in code samples for didInsertElement in components/the-component-lifecycle.md"
https://github.com/ember-learn/guides-source/blob/master/guides/v3.4.0/components/the-component-lifecycle.md#integrating-with-third-party-libraries-with-didinsertelement

[2018-10-08 15:08] jkarsrud opened #198 "Remove the use of jQuery in code samples for didRender in components/the-component-lifecycle.md"
https://github.com/ember-learn/guides-source/blob/master/guides/v3.4.0/components/the-component-lifecycle.md#making-updates-to-the-rendered-dom-with-didrender

[2018-10-08 15:09] jkarsrud opened #199 "Remove the use of jQuery in code samples for willDestroyElement in components/the-component-lifecycle.md"
https://github.com/ember-learn/guides-source/blob/master/guides/v3.4.0/components/the-component-lifecycle.md#detaching-and-tearing-down-component-elements-with-willdestroyelement

[2018-10-09 01:02] #155 closed

[2018-10-09 01:02] jenweber commented on #155
Closed by merging #186

[2018-10-09 01:36] jenweber commented on #157
Closed with merging #196 🎉

[2018-10-09 01:36] #157 closed

[2018-10-09 03:56] jenweber commented on #158
Closed by merging #201

[2018-10-09 03:56] #158 closed

[2018-10-09 04:12] jenweber opened #203 "Release 3.5 Guides"
- [x] merge in everything that makes sense to push through
- [x] open issue detailing issues that will require applying a diff from 3.4 -> 3.5
- [x] copy guides files to a new version, 3.4 copied and named 3.5
- [x] update versions.yaml
- [x] run deploy with np
- [x] merge version update PR in guides-app

[2018-10-09 04:30] jenweber commented on #203
see pr #204

[2018-10-09 20:44] Gaurav0 commented on #117
I'm not seeing the issue. @knownasilya Can you explain?

[2018-10-09 23:56] knownasilya commented on #117
The linked section is the place were it changes. Scrolling back up shows the element modifier version

[2018-10-11 13:14] #203 closed

[2018-10-12 08:48] #195 closed

[2018-10-17 04:40] joshmcrty commented on #166
This is mentioned on the Relationships page already: https://guides.emberjs.com/release/models/relationships/

Should it be moved to the Defining Models page instead?

[2018-10-17 12:48] KevinSjoberg commented on #42
@cspanring it's not. `this` isn't the component context when within the test.

[2018-10-17 23:51] LalithaRajanala commented on #156
@jenweber : Are you still looking for volunteers for this? I would love to help.

[2018-10-18 03:58] sivakumar-kailasam commented on #156
@LalithaRajanala we're always looking for volunteers 🙂. Feel free to claim & start working on this. You can always reach out to us on the #dev-learning channel on [discord](Ember Community Discord)

[2018-10-18 15:34] theroncross opened #219 "Action helper uses `sendAction` example"
The `Invoking an Action` section uses [the now deprecated](https://emberjs.com/api/ember/release/classes/Ember.Templates.helpers/methods/yield?anchor=action) `sendAction` as an example.

If anyone can think of another clear use of currying, I'd be happy to open a PR.

[2018-10-18 18:52] Gaurav0 commented on #219
I don't think you need a different use case. You can use the same example; just change the invocation to that of a closure action.

Instead of calling `this.sendAction('submit', 'bob')` just replace it with `this.get('submit')('bob')` or even `this.submit('bob')`, that's how you call a closure action.

[2018-10-19 20:06] theroncross commented on #219
Sorry - wrong repo. Closing in favor or ember-learn/ember-api-docs#564

[2018-10-19 20:06] #219 closed

[2018-10-20 11:33] abhilashlr commented on #180
@NullVoxPopuli I can write on it, but before I start, I just want to confirm if this will be a new page under `object-model`?

[2018-10-21 02:40] loren-osborn commented on #132
@acorncom, I would love to but don’t have the bandwidth to get to this in the foreseeable future. I’m sorry I can’t contribute more at this time.

[2018-10-27 23:56] #35 closed

[2018-10-28 05:26] toddjordan opened #228 "Create an async/await version of the complex component sections of Super Rentals"
Currently the [complex component](https://guides.emberjs.com/release/tutorial/autocomplete-component/) section of Super Rentals features an asynchronous search.

There is some code there to ensure search requests and responses do not get out of sync, and it is not ideal for new learners.

What I'd like to do is take advantage of async await in this code, which would simplify it, as well as show le

[2018-10-28 05:52] toddjordan opened #229 "Use a server technology to provide data for Super Rentals, as opposed to Mirage."
Super Rentals currently uses ember-cli-mirage to provide data.  This was done for a couple of reasons:

* We wanted a solution that was easily deployable to a variety of hosting solutions, such as github pages, and we didn't want the learner to have to mess with setting up a server environment.
* We wanted common http REST/json-api environment to work with and Mirage could simulate it.
* We wanted

[2018-10-28 06:51] toddjordan opened #230 "Move away from google maps in super rentals"
google maps is more complicated to use (for free) and we've gotten feedback of its issues from several learners.  It also doesn't work unpaid once you deploy it to a server. We'd like to move to a more friendly to OSS library, such as leaflet js.

There's an issue representing this in the super rentals example repo.  Opening here to track against the tutorial-proper.
https://github.com/ember-learn

[2018-10-28 22:36] ppcano commented on #20
Related [discuss thread](https://discuss.emberjs.com/t/when-to-add-ember-data/15050)

[2018-10-29 19:10] zachgarwood commented on #20
I think one incremental change that could be made is to introduce using `fetch` (or some third-party library) to retrieve data in the Super Rentals tutorial. Currently, in part 5 of the tutorial, [Installing Addons](https://guides.emberjs.com/v3.5.0/tutorial/installing-addons/), we have the reader install Mirage, add the dummy data to the mirage config, then tell reader that they won't actually us

[2018-10-30 11:20] gabrielgrant commented on #181
Thanks for tackling this folks :heart:

Seems like ideally this would just be consistent in the API, but at least having it clear in the docs would be a big step forward, and would have saved me a good bit of head-scratching

[2018-10-30 17:21] zachgarwood commented on #197
I'd like to take on this issue.

[2018-10-31 09:43] spruce commented on #78
This is resolved as of #218 isn't it?

[2018-10-31 09:53] sivakumar-kailasam commented on #78
Yes it was. Thanks for the update.

[2018-10-31 09:53] #78 closed

[2018-10-31 10:02] spruce commented on #166
This should be closed as of #225

[2018-10-31 10:15] spruce commented on #191
I'd like to take a stab at this.

[2018-10-31 20:54] zachgarwood opened #235 "Some of the language in the Contributing guide is a bit fuzzy"
Reading through the Contributing guide as a potential new contributor, these bits gave me pause:

This seems straight-forward on its own, but is then immediately contradicted by the next two bullet points. This bullet point implies that new contributors can open PRs at their discretion, but the following two indicate that they must first have significant interaction with the maintainers first befo

[2018-11-01 08:18] mansona commented on #235
Hey @zachgarwood 👋

Thanks for bringing this up! It's always good to discuss things that can be improved, especially when there is a potential that it might be preventing people from feeling like they can contribute.

I'll go through a few of my thoughts on the issue here but I don't see myself "answering" your questions, more so giving you a bit of context on what we were going for in the Contrib

[2018-11-01 15:41] zachgarwood commented on #235
I'm less concerned that the guide is restrictive or gatekeeping, and more concerned that it doesn't adequately explain the contribution process.

[2018-11-01 16:45] acorncom commented on #229
As we just discussed in the Learning team meeting, this sounds great.

[2018-11-01 16:46] MelSumner commented on #235
@zachgarwood one of the @ember-learn/learning-team goals before EOY is to have a clear contributing guide. We agree that it's not super easy to understand and we are working on it. Thank you for your feedback, it's helpful!

[2018-11-02 12:41] ppcano opened #486 "Should `RSVP` be removed from latest docs"
The [Why does Ember still use RSVP](https://discuss.emberjs.com/t/readers-questions-why-does-ember-still-use-rsvp/14736) discussion points out the `RSVP` is not needed anymore since the `3.4` version.

On the latest doc versions, there are a few mentions about `RSVP` that may be unnecessary. Removing them could help to avoid confusion and decrease the number of EmberJS APIs:

- [RSVP.Promise API](

[2018-11-02 16:49] ppcano opened #237 "Should `RSVP` be removed from latest docs"
The [Why does Ember still use RSVP](https://discuss.emberjs.com/t/readers-questions-why-does-ember-still-use-rsvp/14736) discussion points out the `RSVP` is not needed anymore since the `3.4` version.

On the latest doc versions, there are a few mentions about `RSVP` that may be unnecessary. Removing them could help to avoid confusion and decrease the number of EmberJS APIs:

- [RSVP.Promise API](

[2018-11-02 18:01] sukima commented on #20
If I (or others) were to work on this would it be best to use [ember-ajax](https://github.com/ember-cli/ember-ajax) of [`fetch()`](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API)?

I'm inclined to say ember-ajax as it is included in ember apps by default, has better support for errors, and has good patterns for customization (which is a common need in apps). On the flip side `fetch` is

[2018-11-02 19:24] tomdale opened #238 "Documentation audit for array-helper feature flag"
We would like to "go" the [array-helper feature flag](https://github.com/emberjs/ember.js/pull/17054) that landed in canary.

We would like to request a Learning Team audit of the API docs as implemented today, as well as thoughts on whether the guides should be updated to cover this functionality.

[2018-11-02 19:28] tomdale opened #239 "Documentation audit for glimmer-modifier-manager feature flag"
We would like to "go" the [glimmer-modifier-manager feature flag](https://github.com/emberjs/ember.js/pull/17143) that landed in canary.

We would like to request a Learning Team audit of the API docs as implemented today, as well as thoughts on whether the guides should be updated to cover this functionality.

[2018-11-02 22:07] zachgarwood commented on #20
@sukima I like the suggestion of using ember-ajax, but I think going from fetch -> ember-ajax -> ember-data may be _too_ gradual of a progression. I think using ember-ajax while stating something like "You may choose to use fetch(), but ember-ajax is included in a standard project and gives us additional functionality, so we're going to stick with that." We might even be able to point out a place

[2018-11-02 22:49] locks commented on #238
The documentation is already written at https://github.com/ember-learn/guides-source/pull/212.

[2018-11-03 14:19] jenweber commented on #20
Sorry for the delay, but I think this should be a topic at this week’s learning team meeting to confirm, before you do any work. @zachgarwood

[2018-11-03 16:09] toddjordan commented on #20
Hi! Love seeing energy around the tutorial! There's an issue around use of mirage here where we replace mirage with a publicly hosted tutorial api #229 . (mirage would still be utilized for testing)

IF we were to introduce using standard http apis before ember data in the tutorial, it would probably need to go as follows:

1. we should use ember-ajax instead of fetch.  Fetch doesn't have ie 11 su

[2018-11-03 20:10] ppcano commented on #229
Another option worth to consider is to use [mockjax](https://github.com/jakerella/jquery-mockjax); it has an option to log to the console and the configuration is very intuitive, reading the code shows clearly how the backend response should be.

[2018-11-05 02:34] toddjordan commented on #230
Here are some relevant PRs and Repos that are a part of this fix:
https://github.com/ember-learn/super-rentals/pull/110/files
https://github.com/ember-learn/ember-simple-leaflet-maps

[2018-11-06 10:03] tanasa-mircea opened #485 "Customizing a components element page is not found"
The 'Customizing a Component's Element' link from [this page](https://guides.emberjs.com/release/components/defining-a-component/) sends me [here](https://guides.emberjs.com/release/components/defining-a-component/customizing-a-components-element/) but the page is not found.

[2018-11-08 09:07] ondrejsevcik opened #484 "Document title is not updating"
It seems that document title is not updated when I go to from one section to another.

[2018-11-09 10:17] ppcano opened #244 "`didUpdateAttrs` when service property change"
In the following example, if `popup.foo` changes, the `didUpdateAttrs` hook will not be fire:
[code]

Initially, I was expecting that a change on  `popup.foo` (a component attribute/property in my mind) will fire the `didUpdateAttrs` hook, but it will not. The guide describes it:

[Resetting Presentation State on Attribute Change with `didUpdateAttrs`](https://guides.emberjs.com/release/components

[2018-11-09 16:04] toddjordan commented on #229
Thanks for the suggestion @ppcano but afaik mockjax is jquery based, which we are trying to get away from, and one of the points of moving away from mocking tech is to open up usage of the network tab in the browser for new users.

[2018-11-10 19:15] #197 closed

[2018-11-10 19:15] #198 closed

[2018-11-10 19:15] #199 closed

[2018-11-10 21:08] jenweber opened #245 "List of tiny tutorial fixes that should happen"
To help with one of these issues, please open a separate issue for it and put the changes in its own PR. This is a list of things I noticed while reading the tutorial from start to finish:

## Volunteer needed
- [ ] "Creating your app" should have a quick note about the kind of knowledge prerequisites that are helpful (not required)
- [x] backslash typo, `for short/` is in `routes-and-templates.md

[2018-11-12 19:53] zachgarwood commented on #20
@jenweber & @toddjordan any updates?

[2018-11-13 15:43] toddjordan commented on #245
linting fixes included with the maps pr

[2018-11-14 14:37] toddjordan commented on #230
Merged #242 which implements a google maps replacement

[2018-11-14 14:37] #230 closed

[2018-11-15 03:27] jaredgalanis opened #248 "htmlSafe link in Guides links to an empty class page"
htmlSafe link in [Guides for Templates / Writing Helpers](https://guides.emberjs.com/release/templates/writing-helpers/) links to [an empty class page](https://www.emberjs.com/api/ember/release/classes/@ember%2Fstring/methods/htmlSafe?anchor=htmlSafe).

Seems like it should link [here](https://www.emberjs.com/api/ember/3.5/functions/@ember%2Ftemplate/htmlSafe).

[2018-11-15 17:54] MelSumner opened #250 "Add Tutorial Sub-Section: Converting handlebars component to angle brackets"
## To-Do
- [ ] add tutorial on converting a handlebars component to an angle bracket component

## Supporting Resources
- Video: [Angle Bracket Component Invocation in Ember.js](https://www.youtube.com/watch?v=KP_3MJTMpXI)
- Video: [Template-only components in Ember.js](https://www.youtube.com/watch?v=2DzV_0NAiUM)

[2018-11-15 17:57] MelSumner opened #251 "Analyze Section: Testing"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Section to review:
[Testing](https://guides.emberjs.com/release/testing/)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analys

[2018-11-15 17:57] MelSumner opened #252 "Analyze Section: Templates"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Section to review:
[Templates](https://guides.emberjs.com/release/templates/handlebars-basics/)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new stan

[2018-11-15 17:58] MelSumner opened #253 "Analyze Section: Routing"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Section to review:
[Routing](https://guides.emberjs.com/release/routing/)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analys

[2018-11-15 17:58] MelSumner opened #254 "Analyze Section: The Object Model - Objects in Ember"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
[The Object Model - Objects in Ember](https://guides.emberjs.com/release/object-model/)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated f

[2018-11-15 17:58] MelSumner opened #255 "Analyze Section: Models"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
[Models](https://guides.emberjs.com/release/models/)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If anal

[2018-11-15 17:59] MelSumner opened #256 "Analyze Section: Glossary"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
[Glossary](https://guides.emberjs.com/release/glossary/web-development/)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new stan

[2018-11-15 18:01] MelSumner opened #257 "Analyze Section: Ember Inspector"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
[Ember Inspector](https://guides.emberjs.com/release/ember-inspector/)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standa

[2018-11-15 18:01] MelSumner opened #258 "Analyze Section: Controllers"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
[Controllers](https://guides.emberjs.com/release/controllers/)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [

[2018-11-15 18:01] MelSumner opened #259 "Analyze Section: Contributing to Ember.js- Adding New Features"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
[Contributing to Ember.js- Adding New Features](https://guides.emberjs.com/release/contributing/adding-new-features/)

## Primary goals:
- [ ] Review this sub-secti

[2018-11-15 18:01] MelSumner opened #260 "Analyze Section: Configuring Ember"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Configuring Ember

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documentation is

[2018-11-15 18:04] MelSumner opened #261 "Analyze Section: Components- Wrapping Content In A Component"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Components - Wrapping Content in a Component

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis rev

[2018-11-15 18:04] MelSumner opened #262 "Analyze Section: Components- Triggering Changes With Actions"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Components- Triggering Changes With Actions

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reve

[2018-11-15 18:05] MelSumner opened #263 "Analyze Section: Components- The Component Lifecycle"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Components- The Component Lifecycle

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that

[2018-11-15 18:05] MelSumner opened #264 "Analyze Section: Components- Passing Properties to a Component"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Components- Passing Properties to a Component

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis re

[2018-11-15 18:05] MelSumner opened #265 "Analyze Section: Components- Handling Events"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Components- Handling Events

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documen

[2018-11-15 18:05] MelSumner opened #266 "Analyze Section: Components- Defining A Component"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Component - Defining a Component

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that do

[2018-11-15 18:05] MelSumner opened #267 "Analyze Section: Components - Customizing A Component's Element"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Components- Customizing A Component's Element

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis re

[2018-11-15 18:16] MelSumner opened #268 "Analyze Section: Components - Block Params"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Components - Block Params

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documenta

[2018-11-15 18:16] MelSumner opened #269 "Analyze Section: Application Concerns - Services"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Applications - Services

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documentati

[2018-11-15 18:20] MelSumner opened #270 "Analyze Section: Applications - Run Loop"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Applications - Run Loop

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documentati

[2018-11-15 18:23] MelSumner opened #271 "Analyze Section: Applications - Initializers"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Applications- Initializers

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that document

[2018-11-15 18:24] MelSumner opened #272 "Analyze Section: Application Concerns - Dependency Injection"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Applications: Dependency Injection

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that

[2018-11-15 18:25] MelSumner opened #273 "Analyze Section: Applications - Applications and Instances"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Applications: Applications and Instances

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals

[2018-11-15 18:26] MelSumner opened #274 "Analyze Section: Addons and Dependencies"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Addons and Dependencies: Managing Dependencies

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis r

[2018-11-15 18:26] MelSumner opened #275 "Analyze Section: Getting Started"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Section to review:
Getting Started (index page)

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documentat

[2018-11-15 18:26] MelSumner opened #276 "Analyze Section: Getting Started - JS Primer"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
JS Primer

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documentation is necessar

[2018-11-15 18:27] MelSumner opened #277 "Analyze Section: Getting Started - Quick Start"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Quick Start

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documentation is necess

[2018-11-15 18:27] MelSumner opened #278 "Analyze Section: Getting Started- Core Concepts"
## Intro
This is part of a larger project that reviews the guide content to determine what, if any, updates need to be added to the guides as angle bracket and/or template-only components become the standard.

## Sub-section to review:
Core Concepts

## Primary goals:
- [ ] Review this sub-section: what needs to be updated for the new standards?
- [ ] If analysis reveals that documentation is nece

[2018-11-15 21:55] runspired commented on #20
you may want to watch this RFC https://github.com/emberjs/rfcs/pull/395

[2018-11-15 21:57] runspired commented on #20
And you may want to consider the effects of `defaultStore` on the learning story, and the need for us to deprecate it to clean things up: https://github.com/emberjs/rfcs/issues/377

[2018-11-19 21:55] zachgarwood commented on #245
@jenweber Would you please specify where you encountered this item:

[2018-11-28 20:42] zachgarwood commented on #245
@jenweber what is the context for this item:

Where should this explanation live?

[2018-11-28 23:18] jelhan commented on #194
Fixed by #200, isn't it?

[2018-11-29 09:39] simonihmig commented on #194
@jelhan Yes, indeed! Thanks for mentioning!

[2018-11-29 09:39] #194 closed

[2018-11-29 14:12] MelSumner opened #294 "Routes should automatically load first sub-section"
## Issue Description
All URLs should automatically load the first sub-section if there is no main section content, or content should be included for that URL. This falls within our self-imposed & sensible constraint of "don't break the web".

As an example, [https://guides.emberjs.com/release/getting-started/](https://guides.emberjs.com/release/getting-started/) automatically loads one of the sub-

[2018-11-29 14:54] mansona commented on #294
This issue is related to this PR: https://github.com/ember-learn/guides-source/pull/140

The main bit of code that is needed is that we need to add a test to the [markdown tests](https://github.com/ember-learn/guides-source/tree/master/test) that errors when a guides **folder** is missing an index.md file.

The above PR was blocked on this PR https://github.com/ember-learn/guides-app/pull/213 whic

[2018-12-01 08:57] gossi commented on #268
Yesterday I realized `(has-block-params)` is missing in this section. I've filed this ~a year ago: https://github.com/emberjs/guides/issues/2135

Also the order of if statements in the template is important. It must be this way:

[code]

[2018-12-01 09:10] mansona commented on #294
I am taking a look at this now 👍

[2018-12-01 17:12] jenweber commented on #245
@zachgarwood I am not sure. All I know is that when I started learning Ember, I thought the Guides were all that there was and didn't understand when to look at the API docs. For someone where it's their first framework, this is probably common.

This is in `routes-and-templates.md`

_Now run `ember serve` (or `ember server`, or even `ember s` for short/) on your command line to start
the Ember de

[2018-12-01 17:17] jenweber opened #296 "Re-do 3.6 files for the next release"
When we create the files for a future version, they get out of sync with the `master` branch and the current version files.

We need to check through the recent PRs and make sure those edits are applied to 3.6, _or_ ditch the 3.6 PR, cut the files again from 3.5, and then add the small amount of changes from 3.6.

The second option is probably less work and less error prone.

We should wait until

[2018-12-02 16:47] jaredgalanis commented on #276
@MelSumner happy to help out with this one since I was involved in the prior iteration of the primer, if that's helpful.

[2018-12-03 01:39] cah-danmonroe commented on #275
Just a reminder that I have already submitted a PR https://github.com/ember-learn/guides-source/pull/292 where I have already converted the 3.6 documentation to angle brackets.

[2018-12-03 01:45] cah-danmonroe commented on #278
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:46] cah-danmonroe commented on #277
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:46] cah-danmonroe commented on #276
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:47] cah-danmonroe commented on #274
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:47] cah-danmonroe commented on #273
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:47] cah-danmonroe commented on #268
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:48] cah-danmonroe commented on #265
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:48] cah-danmonroe commented on #262
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:48] cah-danmonroe commented on #261
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:49] cah-danmonroe commented on #252
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:49] cah-danmonroe commented on #251
Just a reminder that I have already submitted a PR #292 where I have already converted the 3.6 documentation to angle brackets. I can address further  #issues from there.

[2018-12-03 01:50] cah-danmonroe commented on #250
Even though I have started conversion with PR #292 we DO need a section on how to convert handlebars to angle brackets.

[2018-12-03 01:53] cah-danmonroe commented on #248
Both htmlSafe links work for me.  Can probably close this issue.

[2018-12-03 01:58] cah-danmonroe commented on #123
I'm currently working on this.  https://github.com/ember-learn/contact-book

[2018-12-03 18:45] efx opened #298 "backslash typo, for short/ is in routes-and-templates.md"
See #245 for context

[2018-12-03 19:31] efx opened #300 "tutorial/service.md wording discussion"
Sub issue of #245.

We define services here: https://github.com/ember-learn/guides-source/blob/master/guides/v3.5.0/applications/services.md.

The problematic, half-definition is given here: https://github.com/ember-learn/guides-source/blob/master/guides/v3.5.0/tutorial/service.md.

# proposed solution / change
I think we should remove the line attempting to define a service in `tutorial/service.m

[2018-12-03 21:14] efx opened #301 "header uses ES6 to describe modules, description leads with ES2015 modules"
ES2015 modules is certainly wordier, but more technically accurate. [The header](https://github.com/ember-learn/guides-source/blob/master/guides/v3.5.0/tutorial/ember-cli.md#es6-modules) says

but the line after says

To me, this arrangement of terms is distracting.

# proposed change
I propose we make the header just `Modules`. This would be similar to [babel's documentation](https://babeljs.io/d

[2018-12-04 01:16] efx commented on #181
@Parrryy any progress? Feel free to ping me on ember discord for any help.

[2018-12-04 09:22] Parrryy commented on #181
@efx I had to leave the country for a few weeks on short notice, I've returned and will continue this today.

[2018-12-06 15:36] #298 closed

[2018-12-06 19:17] thec0keman opened #303 "Computed property dependencies"
The current description of computed property dependencies is helpful, though it would be helpful if they mentioned the use of `.[]` and the difference between that and `@each.{}`

I've found [this](https://blog.eladshahar.com/performant-array-computed-properties.html) blog very helpful at summarizing these.

[2018-12-07 15:24] maxcal opened #306 "Broken link to RSVP in Building a Complex Component"
guides/v3.5.0/tutorial/autocomplete-component.md contains a broken link to https://www.emberjs.com/api/ember/release/modules/rsvp.

Should this link point to the [ember api docs](https://www.emberjs.com/api/ember/release/classes/RSVP.Promise) or maybe the RSVP GitHub repo?

[2018-12-12 14:07] sonic1981 opened #310 "It's not obvious how to use query-params from the template/links section"
The [template/links](https://guides.emberjs.com/v3.4.0/templates/links/)/query-params section is a bit cryptic and doesn't show you how to set up query params. it needs a link to [query params section of route](https://guides.emberjs.com/v3.5.0/routing/query-params/)

I'd suggest adding something along the lines of:

`For more information on how to use query parameters see the [query parameters](.

[2018-12-12 14:37] locks commented on #256
No updates necessary. We could eventually plan an Octane glossary, if we find there are many new concepts.

[2018-12-12 14:37] #256 closed

[2018-12-12 14:44] locks commented on #276
Since this guide only addresses vanilla JavaScript, there are no changes necessary.
@jaredgalanis we can keep working on improving it!

[2018-12-12 14:44] #276 closed

[2018-12-12 14:52] locks commented on #268
Addressed by https://github.com/ember-learn/guides-source/pull/292.

@gossi I am closing this issue as that specific concern is unrelated to Octane/new component syntax. Can you open a separate issue in this repository?

[2018-12-12 14:52] #268 closed

[2018-12-12 15:06] locks opened #314 "Update "Ember Inspector - Tackling Deprecations""
Currently, this guide shows how to trace the source of a deprecation and it points to `my-app/views/posts.js:8`. It has been a while since we have actually had Views in the framework, so we should update the page to something more contemporary.

[2018-12-12 15:08] locks commented on #257
## Introduction

Update for angle bracket.
Update for Octane layout file paths.
Update for native class.
Update Slack mention to Discuss/Discord.

## Object Inspector

Update for angle bracket.
Update for Octane layout file paths.
Update for native class.

## Component Tree

Update for angle bracket.
Update for Octane layout file paths.
Update for native class.

## The view tree

Update for angle

[2018-12-12 15:12] locks commented on #270
We need some knowledgeable to review this. :throws up the @rwjblue signal:

[2018-12-12 15:31] locks commented on #260
## Disabling Prototype Extensions

I need some help confirming what is going to happen in this area.

## Optional Features

We will be flipping some of these values, we might need to document that here.

## Debugging

Update for native classes.
Update for runloop changes. (?)
We should consider removing this guide and pointing to Ember Inspector instead.

[2018-12-12 15:39] locks opened #320 "Update "Managing Dependencies""
## Goal
Update the Addons and Dependencies/Managing Dependencies sub-section of the Ember Guides. (https://guides.emberjs.com/release/addons-and-dependencies/managing-dependencies/)

## To Do
- [x] Expand the Addons section by adding 2-3 paragraphs that explain more about the addon ecosystem, and maybe expound on what ember observer is, and what you can expect to find there.
- [x] Update the expla

[2018-12-12 15:40] locks commented on #274
I believe this needs to be updated to cover some of the more recent developments in the ecosystem, but unrelated to Octane.

[2018-12-12 15:40] #274 closed

[2018-12-12 15:41] locks commented on #251
I need someone knowledgeable about testing to cover this section.

[2018-12-12 15:48] locks opened #321 "Update "Defining your routes""
There is a code sample that contains `this.transitionTo('not-found', 404);`.
This sample should be given a bit more context, like the imports and the export of the Route class:

[code]

[2018-12-12 15:57] locks commented on #253
## Defining your routes

Update `{{link-to}}`.

## Specifying a route's model

Update for Octane layout.
Update for native classes.
Update `{{link-to}}`.

## Rendering a template

Update for Octane layout.
Update for native classes.

## Redirecting

Update for Octane layout.
Update for native classes.

## Preventing and retrying transitions

Update for Octane layout.
Update for native classes.
Upd

[2018-12-12 15:59] locks commented on #259
No related changes necessary.

[2018-12-12 15:59] #259 closed

[2018-12-12 16:03] locks commented on #271
Needs file paths to be updated to Octane layout.

[2018-12-12 16:03] locks commented on #273
Nothing to change.

[2018-12-12 16:03] #273 closed

[2018-12-12 16:05] locks commented on #272
Update for Octane layout.
Update for native classes.

@ef4 can you do a conceptual review of this guide?

[2018-12-12 16:07] locks commented on #255
Need someone knowledgeable to help me out with this section.

[2018-12-12 16:22] locks commented on #252
Update for Octane layout file paths.
Update for native classes.
Update `LinkComponent`.

## Links

Cover [`Router helpers`](https://github.com/emberjs/rfcs/pull/391).

[2018-12-12 16:47] locks commented on #269
Update for Octane layout.
Update for native classes.

[2018-12-12 17:07] Turbo87 commented on #320
@locks with all this keep in mind that `ember-auto-import` does not compile dependencies with Babel, so if they are incompatible with your browser targets you're out of luck (see https://github.com/ef4/ember-auto-import/issues/41)

[2018-12-13 22:21] gossi commented on #268
Erm maybe I missunderstand this. But PR #292 hasn't covered `(has-block-params)` yet and yes this issue is unrelated to Octane but applies to the current ember version/guides, which this issue is about - so I am confused now, why I should open another ticket, which would just be a clone of that.

[2018-12-14 15:22] locks opened #328 "has-block-params is not covered"
See https://github.com/ember-learn/guides-source/issues/268#issuecomment-443411452.

[2018-12-15 19:50] jenweber commented on #310
Sorry to not respond sooner. We only manage to review Issues/PRs every few days but this is a great idea and we appreciate the help!

Closed by #311, thanks!

[2018-12-15 19:50] #310 closed

[2018-12-16 00:53] maxwondercorn opened #330 "Markdown link inconsistencies"
Since working on the linting and spellchecking improvements, I've noticed that the guides are inconsistent on how markdown links are created.

In the cli-guides, there are all inline `[link name](https://somelink...)` and the guides-source has a mix between inline and keyed links.  In some cases within the same file.  Not sure about other docs.

Key links are in the markdown and the links defined

[2018-12-17 12:53] sonic1981 commented on #310
@jenweber  No worries! This was plenty fast enough! :)

[2018-12-19 22:05] Gaurav0 commented on #251
This section is already pretty up to date, looks like someone went over it recently with the RFC-232 changes. Some notes:

There is no explanation for why the types of tests introduced in the guides go in directories with legacy names (acceptance, integration). There is no explanation of why both Unit Tests and Container Tests both go in the unit directory.

It's weird how Application Tests come f

[2018-12-20 21:57] ef4 commented on #272
I have reviewed the DI page. It needs some love.

I would like to propose significantly re-ordering the whole thing, because today it's in almost exactly the wrong order (from most abstract & advanced to most concrete & important to beginners).

The new sections would be:
 - "Injecting Dependencies": this would be a rework of the current "Factory Injections" section. It should lead with what is cu

[2018-12-21 05:59] edeis53 opened #335 "Error substates"
Is the documentation up-to-date for Error substates?
https://guides.emberjs.com/release/routing/loading-and-error-substates/#toc_error-substates

a 401 from our API returns the following in the error action:

[code]

There is no `error.status` property.

The only way to get the error is from the `error.errors` array.

[code]

I'm a bit confused because this doesn't match the docs at all. Using the

[2018-12-29 23:45] locks opened #347 "Missing tutorial information"
From https://github.com/emberjs/ember.js/issues/17417:

But some of the acceptance tests, since they are running the service (even if they are not testing it), need access to that environment variable to. The tutorial should be clear that the tests should be restarted with `LEAFLET_MAPS_API_KEY=<your key here> ember test --server`
FYI, running Windows 7, Bash command line.

[2018-12-30 09:45] pablobm commented on #320
@locks - I believe the first of the two checkboxes can be ticked as per https://github.com/ember-learn/guides-source/pull/326

[2018-12-30 20:15] toddjordan commented on #347
@locks we should never need the api key for tests, all ajax is stubbed out.  the stack overflow issue https://stackoverflow.com/questions/53972222/why-do-i-get-ajax-authorization-fails-in-my-tests/53980932#53980932 is pointing at an integration test where a stub is need.  This was already in the super rentals repo: https://github.com/ember-learn/super-rentals/blob/master/tests/integration/componen

[2019-01-02 19:50] acorncom commented on #320
thanks @pablobm. @locks anything else we want to do here?

[2019-01-08 08:26] mansona opened #352 "Prefer `ember-cli` over `Ember CLI`"
I'm currently in the process of reviewing https://github.com/ember-learn/guides-app/pull/366 and I noticed on https://github.com/ember-learn/guides-source/blob/master/guides/v3.6.0/tutorial/ember-cli.md we have changed a use of `ember-cli` for `Ember CLI`.

I am pretty sure this is part of the big "spellcheck" PR merge but I think we might have gone overboard on this one. I have a distant memory t

[2019-01-09 07:53] kennethlarsen commented on #352
For the blog at least it's always `Ember CLI` (for Ember Times, release posts, even the category itself about Ember CLI). Not sure if that should be different for the guides?

[2019-01-09 08:19] jelhan commented on #117
The guides should only use closure actions in my opinion. Element modifier version of actions are a footgun and way more complex to understand for newcomers. I wondered that they are still the preferred way actions are teached by guides. Was there already a discussion / decision about changing that?

[2019-01-09 08:32] jelhan commented on #352
Please also note https://github.com/ember-learn/guides-source/issues/184 and https://github.com/ember-learn/cli-guides/issues/69. For CLI Guides it has been normalized to `Ember CLI` in https://github.com/ember-learn/cli-guides/pull/71.

[2019-01-09 08:49] mansona commented on #352
Here is @locks's take on the issue:

which tallies with what we have discussed in the past.

@jelhan if it is indeed being "normalised" we need to make sure that it is being used in the right context. If we have a rule in the new spellchecker then we probably need to remove that rule and go over all the cases that it has changed to make sure that it is correct 👍

Also we should add the above (or s

[2019-01-12 00:49] #296 closed

[2019-01-12 00:50] jenweber commented on #104
Closed, our search issues are fixed

[2019-01-12 00:50] #104 closed

[2019-01-12 00:51] jenweber commented on #162
Closed by https://github.com/ember-learn/guides-source/pull/177, thank you!

[2019-01-12 00:51] #162 closed

[2019-01-12 00:52] jenweber commented on #156
Close by #222, thanks!

[2019-01-12 00:52] #156 closed

[2019-01-12 00:53] jenweber commented on #164
Closed by #165

[2019-01-12 00:53] #164 closed

[2019-01-12 00:55] jenweber commented on #248
This was likely due to the fact that the API documentation page itself was missing in a particular release. Seems fixed now! Closed.

[2019-01-12 00:55] #248 closed

[2019-01-12 00:57] jenweber commented on #238
closed by https://github.com/ember-learn/guides-source/pull/177

It's in the guides as of the launch of 3.6 🎉

[2019-01-12 00:57] #238 closed

[2019-01-12 02:30] jenweber commented on #139
We are now moving forward with this.

To-do:
- [ ] convert to Angle Brackets in code blocks https://github.com/ember-learn/guides-source/pull/357
    - [ ] opened PR
    - [ ] merged
- [ ] convert Super Rentals to angle brackets https://github.com/ember-learn/super-rentals/pull/115
    - [ ] opened PR
    - [ ] merged
- [ ] Add explanation of Angle Brackets somewhere
    - [ ] figure out where

[2019-01-14 14:36] MelSumner commented on #139
Does this make #250 a duplicate?

[2019-01-15 12:42] #269 closed

[2019-01-15 12:44] #271 closed

[2019-01-15 14:49] #321 closed

[2019-01-24 17:26] MelSumner opened #368 "[WIP] Add Accessibility Section"
While Accessibility isn't just an Ember concern, the guides should still identify best practices for Ember developers regarding accessibility.

Potential Content:
- [x] using the application wrapper (or not)
- [ ] focus considerations
- [ ] modal considerations
- [ ] custom component considerations
- [x] accessibility testing
- [x] addons that can help

[2019-01-25 05:06] lifeart commented on #368
List of A11Y addons: https://github.com/ember-community-russia/awesome-ember/blob/master/README.md#a11y

[2019-01-29 20:07] MelSumner commented on #253
@locks I'm a little confused about this comment- can you clarify? Are you saying that all of these things need separate issues so they can be re-written?

[2019-01-30 10:02] #314 closed

[2019-01-31 04:10] michaelrkn opened #374 "Add <select> guidance"
I recently used a `<select>` tag in an Ember form and wanted to do so without an addon. I discovered that there's no good source of information on how to do so properly. Reading forum posts and Googling [_ember select_](https://www.google.com/search?q=ember+select) gives:

* Really old stuff on the `select` view
* The [ember-power-select](https://github.com/cibernox/ember-power-select) and [x-sele

[2019-02-04 17:09] locks opened #388 "Add an index page with a modified table of contents"
At the moment, `https://guides.ember.com` redirects to `/release`, which reflects the current stable release of Ember.
The goal would be that it instead renders a modified listing of the table of contents.

Tasks:
- [ ] Add new "Home" link to the Guides table of contents
- [ ] Implement page

note: more details incoming

[2019-02-07 15:07] MelSumner opened #393 "Re-order the table of contents"
Following the direction outlined in [RFC 431](https://github.com/jenweber/rfcs/blob/guides-restructure/text/0431-guides-restructure.md), re-order the table of contents for the guides.

Because of the Guides app architecture, we can move content around while preserving existing links. The Table of Contents specified in the pages.yml file of guides-source can have any paths, and is not 100% dependen

[2019-02-07 15:08] MelSumner opened #394 "Quest: Octane Guides MVP Tracking issue"
Hello and thanks so much for helping out with the Octane Guides! Even if you don't know much about Octane or Native Classes, there's something you can help with! Here's everything you need to know to pitch in.

The "new volunteers needed" links below that are the things we need help with more than anything else. We are aiming to finish a rough draft of the Guides by March 15th. If you volunteer fo

[2019-02-07 15:17] MelSumner opened #395 "Octane guides: Component section (tracking issue)"
PM TODO: create issues for each of these sub-sections, and add issue to this tracking issue

Components will need the most refactor work and new content for Octane, so here’s the subtopic breakdown:

- [ ] Creating a component (includes Component Types post-Octane) [issue #396]
- [x] Displaying data in a Template [issue #397]
- [x] Adding actions [issue #398 ]
- [ ] Nesting components (includes su

[2019-02-07 15:24] MelSumner opened #396 "Update Octane guides subsection - Components: creating a component"
## Goal
Update the "creating a component" sub-section of the Components section of the Octane guides so it includes how to do components in a way that is consistent with the Octane edition of Ember.

## TODO
- [ ] write content for sub-section
- [ ] ensure code samples are included

## References
This issue is a part of the [Component section tracking issue](https://github.com/ember-learn/guides-s

[2019-02-07 15:33] MelSumner opened #397 "Update Octane guides sub-section: Components > Displaying data in a template"
## Goal
Update the "displaying data in a template" sub-section of the Components section of the Octane guides so it includes how to do components in a way that is consistent with the Octane edition of Ember.

## TODO
- [ ] write content for sub-section
- [ ] ensure code samples are included

## References
This issue is a part of the [Component section tracking issue](https://github.com/ember-learn

[2019-02-07 15:36] MelSumner opened #398 "Update Octane guides sub-section: Components > Adding actions"
## Goal
Update the "adding actions" sub-section of the Components section of the Octane guides so it includes how to do components in a way that is consistent with the Octane edition of Ember.

## TODO
- [ ] Translate to native classes
  - [ ] class definition
  - [ ] `@action` decorator on actions
- [ ] Update templates not to use string actions
- [ ] Add a header about string actions

## Referen

[2019-02-07 16:12] MelSumner opened #399 "create new feature documentation: decorators"
This documentation should live in the "State Management" section of the guides, as per [RFC #431](https://github.com/jenweber/rfcs/blob/guides-restructure/text/0431-guides-restructure.md)

[2019-02-08 12:35] MelSumner opened #402 "Rename Models to Ember Data"
As per the RFC, we are renaming the "Models" section of the guide as "Ember Data".

This issue is to update the title _only_. Redirects will be handled in a different issue (and toward the end of the project).

[2019-02-08 17:54] locks opened #406 "`capitalize` helper is used in code samples and is not built-in"
In part of the Guides, a `capitalize` helper is referenced and used in a way that leads people to think that it is available out of the box.
When people try it in their applications, however, they are faced with an error.

This task encompasses documenting usages of `capitalize` and then working together with the learning team to come up with an alternative code sample and prose.

[2019-02-08 20:48] locks opened #409 "TOC | Retitle "Configuring Ember.js" to "Configuration""

[2019-02-08 20:49] locks opened #410 "TOC | Retitle "Models" to "Ember Data""

[2019-02-08 20:49] MelSumner opened #411 "feature documentation: tracked properties"
Status: Blocked 🚨(code hasn't shipped)

@Pzuraq will update with more details once the code is merged.

[2019-02-08 20:50] locks opened #412 "TOC | Move Routing"

[2019-02-08 20:50] locks opened #413 "TOC | Move "Application Concerns""

[2019-02-08 20:50] locks opened #414 "TOC | Move "Addons and Dependencies""

[2019-02-08 20:51] locks opened #415 "TOC | Move "Ember Inspector""

[2019-02-08 20:51] locks opened #416 "TOC | Remove Controllers"

[2019-02-08 20:58] locks commented on #393
The following sections are missing from the listing: "The Object Model", "Controllers", "Contributing to Ember.js", "Glossary".

[2019-02-08 21:18] MelSumner commented on #393
@locks this was copied and pasted directly from "what does an MVP look like"

The RFC states these things:
- the object model section is getting removed
- controllers are going under routing

I think that for now, Glossary and Contributing to Ember should go under References if they need to move at all. I'm not comfortable completely removing them just yet. @jenweber can clarify if she can speak m

[2019-02-08 22:31] #409 closed

[2019-02-08 22:31] #410 closed

[2019-02-08 22:31] #412 closed

[2019-02-08 22:31] #413 closed

[2019-02-08 22:31] #414 closed

[2019-02-08 22:31] #415 closed

[2019-02-08 22:31] #416 closed

[2019-02-09 02:07] MelSumner opened #417 "Redirects"
This is a placeholder issue to handle redirects once the guides content has reached MVP.

DO THIS AT THE VERY END OF EVERYTHING

- [ ] Determine where titles do not match URLs
- [ ] add redirects
- [ ] search for links in the guides and update them to be accurate

[2019-02-09 02:40] locks commented on #393
We had a call and discussed how to break down the work necessary to complete this task in a way that allows the learning team to continuously release content with minimal impact to the stability of URLs and such.

To that end, the approach is going to roughly be:
1. Re-order and re-title sections. Since this keeps the current URLs, the only impact will be for the "previous"/"next" hyperlinks at th

[2019-02-09 02:44] locks opened #418 "TOC - Re-order and re-title the table of content"
Part of https://github.com/ember-learn/guides-source/issues/393.
The goal of this task is to re-order the current table of contents to the closest approximation of the RFC without removing or adding content.

The table of contents should be as follows:
1. Getting Started
2. Tutorial
3. The Object Model
4. Templates
5. Components
6. Controllers
7. Routing
8. Ember Data (née Models)
9. Addons and de

[2019-02-09 10:56] locks commented on #300
@efx can you send a PR pliz?

[2019-02-09 14:10] mansona commented on #139
does https://github.com/emberjs/ember.js/pull/17554 complete the API docs aspect of this issue? or is there anything special that we need to do?

[2019-02-11 16:27] locks opened #426 "Applications - Run Loop content needs to be updated"
Outcome for https://github.com/ember-learn/guides-source/issues/270.

The content for this sub-section needs to be updated to match current behavior.

[2019-02-11 16:36] #270 closed

[2019-02-11 16:38] locks opened #427 "Octane | Ember Inspector"
Outcome of https://github.com/ember-learn/guides-source/issues/257.

Most of the relevant content is inside screenshots, which will have to be updated as Ember Inspector is updated.

## The View Tree

This section is a legacy from previous Ember versions and should be removed.
I believe the Inspector team is working on incorporating features present in the View Tree into other parts of the extensi

[2019-02-11 16:45] #257 closed

[2019-02-11 16:46] locks commented on #258
Conceptually, there are no changes necessary to this section.

[2019-02-11 16:46] #258 closed

[2019-02-11 16:57] rwwagner90 commented on #427
We probably need to look through all of the guides and both update screenshots and language, etc.

[2019-02-11 17:01] MelSumner opened #428 "Update Octane guides subsection - Components: Nesting Components"
## Goal
Update the "Nesting Components" sub-section of the Components section of the Octane guides so it includes how to do components in a way that is consistent with the Octane edition of Ember.

## TODO
- [x] write content for sub-section
- [x] ensure code samples are included

## References
This issue is a part of the [Component section tracking issue](https://github.com/ember-learn/guides-sou

[2019-02-11 19:25] MelSumner opened #429 "Octane Guides: Working with JavaScript"
Sub-sections:
- [x] Learning JavaScript
- [x] Native Classes
- [x] Classic Classes

### Learning JavaScript
This sub-section will include links of the main places to learn JS if you are not already familiar with it.
It should also include the core concepts that are important to know.

[2019-02-12 16:49] MelSumner opened #431 "Update content sub-section: Components: Passing Arguments"
## Goal
Update the "Passing Arguments" sub-section of the Components section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [ ] write content for sub-section
- [ ] ensure code samples are included

## References
This issue is a part of the [Component section tracking issue](https://github.com/ember-learn/guides-source/issues/395)

[2019-02-12 19:46] knownasilya commented on #398
@locks for `* Add a header about string actions` what specifically should this cover?

[2019-02-12 19:48] knownasilya commented on #398
And making sure that this is the right file: https://github.com/ember-learn/guides-source/blob/octane/guides/release/components/triggering-changes-with-actions.md

[2019-02-12 21:16] locks commented on #398
@knownasilya what I meant by it is that doing `{{action 'myAction'}}` is considered legacy in the Octane universe, but we still have to document it for interop reasons.

[2019-02-12 21:22] knownasilya commented on #398
Sort of a migration guide and warning, got it.

[2019-02-13 11:12] locks opened #433 "Update Octane guides section - Controllers"
Your PR should target the `octane` branch.

## Goal
Update the "Controllers" section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [ ] Update code samples to native class and decorators
- [ ] Update code sample paths to Octane layout paths

[2019-02-13 11:18] locks opened #434 "Update Octane guides section - Getting Started: Core Concepts"
You should target the `octane` branch with your PR.

## Goal
Update the "Controllers" section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [ ] Update code samples to native class and decorators
- [ ] Update code sample paths to Octane layout paths
- [ ] Update images for native classes and Octane layout

[2019-02-13 11:25] locks opened #435 "Update | Addons and dependencies: Managing dependencies"
- Mention `ember-auto-import`
- Refer to the Ember CLI guides for more in-depth guidance

[2019-02-13 11:28] locks opened #436 "Update | Contributing to Ember.js: Repositories"
- Update repository links
  - guides-app has been merged into guides-source
  - Backburner has been moved to its own organization
  - Glimmer has been moved into its own organization
  - HTMLBars may not be relevant, needs investigation
  - morph-range is no longer relevant

[2019-02-13 11:39] locks opened #437 "Add a Home link above the table of contents"
Currently the only way to get back to the index of the guides is through the navbar Docs > Guides.
This task is to add a "Home" link between the version selector and the table of contents that links to `https://guides.emberjs.com/release/`.

[2019-02-13 11:43] locks opened #438 "Update Octane guides section - Routing"
Your PR should target the `octane` branch.

## Goal
Update the "Routing" section of the Octane guides so it is consistent with the Octane edition of Ember.

## Tasks
- Defining your routes
  - [ ] Update `{{link-to}}`.
- Specifying a route's model
  - [ ] Update for native classes.
  - [ ] Update `{{link-to}}`.
- Rendering a template
  - [ ] Update for native classes.
- Redirecting
  - [ ] Update

[2019-02-13 11:49] locks opened #439 "Update Octane guides section - Configuring Ember.js: Embedding Applications"
Your PR should target the `octane` branch.

## Goal
Update the "Embedding Applications" sub-section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [ ] Update code samples to native class and decorators
- [ ] Update code sample paths to Octane layout paths

[2019-02-13 11:55] locks opened #440 "Update Octane guides section - Configuring Ember.js: Debugging"
Your PR should target the `octane` branch.

## Goal
Update the "Embedding Applications" sub-section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [ ] Update code samples to native class and decorators
- [ ] Update code sample paths to Octane layout paths
- [ ] Update for runloop changes (needs investigating)

[2019-02-13 11:59] locks opened #441 "Update Octane guides section - Components: Using Block Params"
Your PR should target the `octane` branch.

## Goal
Update the "Using Block Params" sub-section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [ ] Update code samples to native class and decorators
- [ ] Update code sample paths to Octane layout paths

[2019-02-13 12:04] locks opened #442 "Update Octane guides section - Application Concerns: Services"
Your PR should target the `octane` branch.

## Goal
Update the "Services" sub-section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [x] Update code samples to native class and decorators
- [ ] Update code sample paths to Octane layout paths

[2019-02-13 12:05] locks opened #443 "Update Octane guides section - Application Concerns: Initializers"
Your PR should target the `octane` branch.

## Goal
Update the "Initializers" sub-section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [ ] Update code sample paths to Octane layout paths

[2019-02-13 12:05] locks commented on #278
https://github.com/ember-learn/guides-source/issues/434

[2019-02-13 12:06] #278 closed

[2019-02-13 12:08] locks commented on #258
https://github.com/ember-learn/guides-source/issues/433

[2019-02-13 12:08] locks commented on #260
https://github.com/ember-learn/guides-source/issues/439
https://github.com/ember-learn/guides-source/issues/440

[2019-02-13 12:09] locks commented on #268
https://github.com/ember-learn/guides-source/issues/441

[2019-02-13 12:09] locks commented on #269
https://github.com/ember-learn/guides-source/issues/442

[2019-02-13 12:09] locks commented on #270
https://github.com/ember-learn/guides-source/issues/426

[2019-02-13 12:09] locks commented on #271
https://github.com/ember-learn/guides-source/issues/443

[2019-02-13 12:12] locks commented on #275
No changes required.

[2019-02-13 12:12] #275 closed

[2019-02-13 12:14] locks opened #444 "Update Octane guides section - Getting Started: Quick Start"
Your PR should target the `octane` branch.

## Goal
Update the "Quick Start" sub-section of the Octane guides so it is consistent with the Octane edition of Ember.

## TODO
- [ ] Remove file and reference from table of contents
- [ ] Set up redirect to tutorials.emberjs.com

[2019-02-13 12:14] locks commented on #277
https://github.com/ember-learn/guides-source/issues/444

[2019-02-13 12:14] #277 closed

[2019-02-13 12:16] locks commented on #253
I think that since the work should be relatively straightforward conversions that they can be lumped together.
Filed the relevant issue at https://github.com/ember-learn/guides-source/issues/438.

[2019-02-13 12:16] #253 closed

[2019-02-13 12:29] locks commented on #301
Can you send a PR for this? 😁

[2019-02-13 12:31] locks commented on #303
I am closing this issue as both [When to use `[]` and `@each`](https://guides.emberjs.com/release/object-model/computed-properties-and-aggregate-data/#toc_when-to-use--and-each) and [`[]` vs `@each`](https://guides.emberjs.com/release/object-model/computed-properties-and-aggregate-data/#toc_-vs-each) should cover this.
Please re-open with more detail if you don't agree, thank you!

[2019-02-13 12:31] #303 closed

[2019-02-13 16:09] gossi commented on #441
Do you trap yourself? #328

[2019-02-13 16:17] locks commented on #441
@gossi I don't understand your question 🤔

[2019-02-13 16:40] #300 closed

[2019-02-13 17:38] MelSumner opened #449 "Update guides section: Application Concerns"
## Part One
Update the content for the Application Concerns section of the guides to reflect the following sub-sections (in the order listed). Note that these are improvements to the presentation, not changes to the content.

- [ ] "Injecting Dependencies": this would be a rework of the current "Factory Injections" section. It should lead with what is currently labeled "Ad-Hoc" injections. That la

[2019-02-13 17:39] MelSumner commented on #272
https://github.com/ember-learn/guides-source/issues/449

Thanks @ef4 !

[2019-02-13 17:39] #272 closed

[2019-02-13 17:43] MelSumner commented on #434
@locks @jenweber I thought we were moving Controllers to a sub-section for Routing?

[2019-02-13 17:47] MelSumner commented on #449
Related issue(s): #442 and #443

[2019-02-13 17:56] locks commented on #434
@MelSumner we can move it before/after this work is done. I had in mind an iterative approach where we get the mechanical conversions out the way and then focus on re-arranging.

[2019-02-14 11:37] CodingItWrong opened #452 "Positional params section uses curly component syntax"
[Components > Passing Properties to a Component > Positional Params](https://guides.emberjs.com/release/components/passing-properties-to-a-component/#toc_positional-params) uses the old curly component syntax:

[code]

The rest of the guides have been updated to use angle brackets. But it seems like angle bracket components may not support positional params. The [Syntax Conversion Guide](https://g

[2019-02-14 12:30] CodingItWrong commented on #431
it seems like angle bracket components may not support positional params. The [Syntax Conversion Guide](https://guides.emberjs.com/release/reference/syntax-conversion-guide/#toc_positional-parameters) suggests that updating positional params to angle brackets involves named arguments instead.

I can think of four possible ways to address this:

1. If angle brackets _do_ support positional params,

[2019-02-14 12:30] CodingItWrong commented on #452
Closing as dup of #431

[2019-02-14 12:30] #452 closed

[2019-02-14 12:47] jenweber commented on #431
@CodingItWrong positional params are not directly supported in Angle Brackets.

Another option is, replace the section with steps to make your own positional params support in Angle Brackets.

I lean towards #2 because positional params are not considered best practice anyway.

[2019-02-14 16:25] ppcano opened #453 "The Feature Flag section describes the old and incorrect API."
The [Feature Flags doc](https://github.com/emberjs/ember.js/blob/master/FEATURES.md) and [guide](https://guides.emberjs.com/release/configuring-ember/feature-flags/) indicates that the feature key should be in lowercase dasherize format, but this format is an old format and it is not working anymore. Both documents should be updated.

Initially reported at https://github.com/ember-cli/ember-cli/pu

[2019-02-14 17:27] rtablada commented on #394
The content sections mentions `Tutorials` does this entail breaking the tutorials out to the separate repo, the Contact Book content, or both?

[2019-02-15 11:12] CodingItWrong commented on #431
Feedback from @locks via Discord:

[2019-02-15 11:15] CodingItWrong opened #457 "Remove Positional Params from Guides"
In #456 we added a note to the Positional Params section explaining that they are only available with classic invocation syntax.

At some point we should consider removing the Positional Params section from the guides entirely, since they aren't considered a best practice, and aren't available with Angle Bracket syntax.

[2019-02-15 15:18] #255 closed

[2019-02-15 15:18] #261 closed

[2019-02-15 15:22] #429 closed

[2019-02-15 15:27] MelSumner commented on #262
Since the work for the component section has already been outlined in #395 , I'm closing this issue.

[2019-02-15 15:27] #262 closed

[2019-02-15 15:27] MelSumner commented on #263
Since this work is being tracked by Issue #395, I'm closing this issue.

[2019-02-15 15:27] #263 closed

[2019-02-15 15:28] MelSumner commented on #264
Since this work is being tracked by Issue #395, I'm closing this issue.

[2019-02-15 15:28] #264 closed

[2019-02-15 15:28] MelSumner commented on #265
Since this work is being tracked by Issue #395, I'm closing this issue.

[2019-02-15 15:28] #265 closed

[2019-02-15 15:28] MelSumner commented on #266
Since this work is being tracked by Issue #395, I'm closing this issue.

[2019-02-15 15:28] #266 closed

[2019-02-15 15:29] MelSumner commented on #267
Since this work is being tracked by Issue #395, I'm closing this issue.

[2019-02-15 15:29] #267 closed

[2019-02-15 15:30] MelSumner commented on #254
Since [RFC #431](https://github.com/emberjs/rfcs/pull/431) identifies that this section will be removed, I'm closing this issue.

[2019-02-15 15:30] #254 closed

[2019-02-15 15:38] MelSumner opened #458 "Update Section: Testing"
This section is already pretty up to date, looks like someone went over it recently with the RFC-232 changes.

Some things to add:

- [ ] explanation for why the types of tests introduced in the guides go in directories with legacy names (acceptance, integration).
- [ ] explanation of why both Unit Tests and Container Tests both go in the unit directory.
- [ ] examples of nesting modules. (A modul

[2019-02-15 15:39] MelSumner commented on #251
Thank you @Gaurav0!! I've captured this in https://github.com/ember-learn/guides-source/issues/458

[2019-02-15 15:39] #251 closed

[2019-02-15 16:25] MelSumner opened #460 "Update Octane guides section: Templates"
**From the RFC:**
Templates come before components, since it is possible for someone to not know JavaScript/Handlebars and still contribute to Ember apps. For example, designers could effectively work in only templates, using plain HTML. To make Templates work as the opening topic, additions are necessary in the introduction.

Template Syntax will cover Ember Handlebars basics and built-in feature

[2019-02-15 16:31] MelSumner opened #461 "Create new section: Services"
We'd love to have a volunteer for this! Please see [Octane MVP](https://github.com/ember-learn/guides-source/issues/394) for instructions about where to make your PR. Please only volunteer for this issue if you can open a PR by the end of the next day. Thanks for your help!

### To-do
We want Services to be a "top level" table of contents topic, not nested inside "application concerns."

- [ ] bra

[2019-02-15 17:08] MelSumner opened #463 "Create new section & sub-section: Upgrading/editions"
Create a new section called "Upgrading" and add an "Editions" sub-section to it.

Use the materials collected by @jenweber as the base, and build on top of that.

Keep in mind that this should be tightly scoped to the section/sub-section and shouldn't include things that belong in other sections/sub-sections.

[2019-02-15 17:25] locks opened #464 "Ember.keys and Ember.TEMPLATES"
`Ember.keys` and `Ember.TEMPLATES` are mentioned in the debugging guide, but `Ember.keys` is undefined in the console of a 3.7 application, and `Ember.TEMPLATES` is empty.
The task is to investigate how and if this usage should be updated, and down to what versions should the fix be backported.

[2019-02-16 03:07] jenweber commented on #394
@rtablada the plan is long term to break out the tutorials into a separate repo/app, but we need to focus on content first, and then infra after the first Octane release.

[2019-02-16 04:25] jenweber commented on #139
I think it does complete it. Thanks all for the help!!! Closed 🎉

[2019-02-16 04:25] #139 closed

[2019-02-16 12:42] ppcano commented on #394
It may be good to review what content needs to change regarding the `MU layout` and/or add a particular section?

[2019-02-16 19:25] jenweber opened #467 "Add an example in the Angle Brackets/Classic callout"
locks raised a good point that there are too many things someone needs to know in order to understand the current callout.

I'll try to simplify that some.

[2019-02-16 19:59] #418 closed

[2019-02-16 19:59] #402 closed

[2019-02-17 05:42] ppcano commented on #460
I write it down on this issue, because I didn't find the `Leveling Up` one.

Template Helpers API has changed for the Octane/MU layout, see for reference:

https://github.com/emberjs/ember.js/issues/16361

https://github.com/emberjs/ember.js/issues/17556

[2019-02-18 18:12] locks opened #475 "Debugging guide should mention ember-cli-deprecation-workflow"
There is a section in the "Debugging" guide about "Dealing with deprecations".
It should reference back to https://guides.emberjs.com/release/configuring-ember/handling-deprecations/, which discusses how to use ember-cli-deprecation-workflow.

[2019-02-18 18:24] rwjblue commented on #475
Thanks for creating the follow up issue for this! I'm happy to help someone if they have questions about how things should work...

[2019-02-18 19:37] MelSumner commented on #394
Just to gently remind all of us, this is just supposed to be a minimum viable product.

[2019-02-18 22:36] jenweber commented on #460
I have a very rough draft, #477. It is not feature complete but I wanted to get it up ASAP.

[2019-02-19 20:05] #397 closed

[2019-02-19 20:06] #398 closed

[2019-02-20 10:17] mansona opened #487 "[discussion] configure CI to run ember-cli-deploy so that algolia indexes are built for the latest version on every release"
This is a discussion because we have a few things that we will need to investigate before we actually try this

## Open issues
- [ ] if we run the indexing process twice are we guaranteed to override the existing indexes? or is there a risk that we will create orphaned indexes?
- [ ] is it "safe" to configure this to automatically run on merge to master? or should we configure it to run on tag?
-

[2019-02-20 10:17] jessica-jordan opened #488 "Design Request: Highlight Advanced Topics in the Guides"
Part of #259

We need a design idea for advanced topics in [the Ember Guides](https://guides.emberjs.com/release/)!

We believe that some of the topics in the Guides are more suitable for beginners while others are better suited for experienced users. We'd like to highlight advanced topics in a more distinct and visual way. Some ideas we had so far, was highlighting the respective section in a dif

[2019-02-20 10:17] jessica-jordan opened #489 "Quest Issue: Reorganization of the Guides into Beginner & Advanced Content"
## Summary

**The Guides** are a common learning and documentation resource **for beginners** specifically, but also **for more experienced users**. In the past years the Guides have been incrementally updated and improved content-wise and this process is ongoing. We'd like to further iterate on the general structure of the current [Guides](https://guides.emberjs.com/release/) to improve the learn

[2019-02-20 10:18] samselikoff opened #490 "Create a test that verifies search is working"
Ideally this is high-level, and ignorant of the implementation details (like Algolia).

If we can use an acceptance test in this repo that hits the actual Algolia endpoint, that would be ideal. I'm not sure if this can run from Travis, in containers etc.

If not, we'll have to think of something else.

[2019-02-20 10:19] mansona opened #497 "Update links from emberjs.com to `/release/` to avoid extra redirect"
Currently when you go to `/` on this app it automatically redirects you to `/release/` but if we have the power to update links we should link directly to release 💪

[2019-02-20 10:20] mansona opened #498 "Add basic meta-data implementation - must include canonical URL"
There are some things that we can do to implement interesting/useful metadata into this application for things like sharing on Twitter, Slack posting etc which we may get "for free" as soon as we look at the metadata 😂

The only **requirement** for this issue to be considered complete is to have *every* page point to the corresponding `/release/` URL in the canonical metadata. This will greatly im

[2019-02-20 10:49] gossi commented on #441
Because you created another ticket just like this one. I don't understand why.

[2019-02-20 10:59] locks commented on #441
#328 is to document `has-block-params`, this one is for the Octane preview Guides effort.

[2019-02-20 17:17] pzuraq commented on #252
- [ ] Introduction ([PR](https://github.com/ember-learn/guides-source/pull/477))
  - Generally needs to be more like Jen's PR 😛
- [ ] Templating Basics
  - "Binding Element Attributes" feels like it should belong here
  - Could be merged into the introduction, or parts of the introduction could be split out into a separate section that focusses just on the templating syntax.
  - Should cover:

[2019-02-20 17:21] MelSumner commented on #252
Updated the guide template issue to reflect this analysis. Thank you!! 👍

[2019-02-20 17:21] #252 closed

[2019-02-21 01:32] #301 closed

[2019-02-21 02:42] lisaychuang opened #506 "Typo in guides-source/guides/v3.6.0/tutorial/service.md"
Hi learning team,

I'm working through the Tutorial right now, and noticed there's a typo:

In the [code example](https://guides.emberjs.com/release/tutorial/service/), the unit test creates a variable `stubMapService` instead of `stubMapUtil`.

Please review if this is a typo, I think in past tutorials the test used `stubMapUtil`.

Thanks,
Lisa

[2019-02-21 03:11] toddjordan commented on #506
Thanks for reporting!

[2019-02-21 03:16] lisaychuang opened #507 "Change from Handlebar to Angle brackets in guides-source/guides/release/tutorial/subroutes.md"
Hi learning team,
In the Subroutes section of the Tutorial, the code sample changed from Handlebar syntax (per earlier section "Routes & Templates") to Angle bracket syntax for components:

As the tutorial hasn't introduced angle bracket syntax, this inconsistency may be confusing to users learning Ember for the first time.

**Current code in `rentals.hbs` template:**
[code]

**Code sample shown i

[2019-02-22 11:20] locks commented on #507
Hi @lisaychuang! Thank you for your continued feedback 😁

I went through the tutorial to check syntax usage.
Although `link-to` is used in the classic syntax (for a couple specific reasons), the tutorial seems to use angle bracket invocation syntax for components on the whole, with an implicit introduction and an explicit Zoey callout at [Building a Simple Component](https://guides.emberjs.com/rel

[2019-02-23 23:17] jenweber commented on #463
Partially addressed by #515

[2019-02-24 00:17] #506 closed

[2019-02-24 00:42] #347 closed

[2019-02-24 00:51] lisaychuang commented on #507
Hi @locks , I worked on this tutorial last week and the updates may have happened during this time. Thanks for your feedback.

[2019-02-24 00:52] #507 closed

[2019-02-24 01:39] CodingItWrong opened #516 "Update how "JSON:API" is written"
A few months ago the JSON API spec standardized on writing the name of the spec "JSON:API". Here's the commit where they changed their own site to do so:

https://github.com/json-api/json-api/commit/5cead1156a67f7d4c45b6f2f3b9edaa67752c32d

I'd be happy to update all references to JSON API in the guides to the new "JSON:API" form—please give me a 👍 to confirm that'd be desired. Thanks!

[2019-02-24 01:52] CodingItWrong opened #518 "Standardize capitalization of "Ajax""
In the "release" version of the guides, there seem to be three instances of "AJAX" in all-caps, and one instance of "Ajax" with only the first letter capitalized. We should make them consistent one way or the other.

Two arguments for "Ajax":
- Wikipedia lists both capitalizations but has "Ajax" as the first and one used throughout the article.
- A thread on the Drupal handbook discussed rationale

[2019-02-25 00:32] acorncom commented on #518
I don't have strong preferences on this (@mansona / @jenweber / @locks do you?) , but per the MDN article on things (https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX) it uses Ajax throughout. Of interest is that their URL has `AJAX` in all caps ... 😉

[2019-02-25 00:33] acorncom commented on #516
👍, seems good to me @CodingItWrong

[2019-02-27 00:15] jcheron opened #528 "Deprecated reference to localstorage-adapter in [Customizing Adapters] part"
The [Customizing Adapters](https://guides.emberjs.com/release/models/customizing-adapters/) page links to an unsupported plugin since 2016 : [ember-localstorage-adapter](https://github.com/locks/ember-localstorage-adapter). This plugin does not work with ember versions 3.x.

It would be appropriate to replace this reference with [ember-local-storage](https://github.com/funkensturm/ember-local-stor

[2019-02-27 09:37] locks commented on #518
I'm fine with whichever!

[2019-02-27 14:24] CodingItWrong commented on #518
K I'm gonna move forward with Ajax!

[2019-02-27 17:47] houeland opened #533 "Documentation site is broken"
The documentation site throws unhandled javascript errors that break the page (because of 500s from the server?), making everything stop working and the menu and links do nothing. It's basically unusable.

Also https://guides.emberjs.com/release/tutorial, https://guides.emberjs.com/release/templates, and https://guides.emberjs.com/release/components are 404s.

[2019-02-27 18:26] cah-danmonroe opened #531 "Enhancement: Identify LTS versions"
It is rather difficult to know which versions are marked LTS in the guides.  Can we make it easy to identify a version is marked LTS?  Perhaps add "LTS" in the version combo box?

[2019-02-27 21:57] tomdale commented on #260
@locks Can we also get an issue to make sure we move the guides away from using prototype extensions? These cause a lot of problems in FastBoot environments, where objects cross realms.

[2019-02-27 23:30] MelSumner opened #532 "Guides should not use prototype extensions"
The guides should not use prototype extensions. They cause a lot of problems in FastBoot environments, where objects cross realms.

## TODO
- [ ] Remove instances of using prototype extensions in the guides
- [ ] find appropriate place to use a note/callout (Zoey/Tomster says...) - "Prototype extensions can cause a lot of problems in FastBoot (link) environment, where objects cross realms."

[2019-02-27 23:31] MelSumner commented on #260
https://github.com/ember-learn/guides-source/issues/532 will address this. thanks @tomdale :+1:

[2019-02-27 23:31] #260 closed

[2019-02-28 08:52] locks commented on #533
The missing index pages are in the process of being fixed: https://github.com/ember-learn/guides-source/pull/297.

Could you post an example of the errors you are encountering? Along with information of which browser and operating system you are using, if possible.
I cannot seem to reproduce on macOS.

[2019-02-28 11:53] CodingItWrong commented on #516
Closed via #527

[2019-02-28 11:53] #516 closed

[2019-02-28 23:22] MelSumner commented on #533
@houeland Could you screenshot what you're seeing? here's what I'm seeing right now:

![image](https://user-images.githubusercontent.com/4587451/53605519-597fa880-3b7d-11e9-9b78-bf4199a07f72.png)

[2019-03-01 01:41] MelSumner opened #537 "Add sub-section: computed properties"
For the Octane branch, add a sub-section on computed properties to the State Management section.

[2019-03-01 01:58] MelSumner commented on #518
Thank you for doing this, @CodingItWrong 👍

[2019-03-01 01:58] #518 closed

[2019-03-01 02:02] MelSumner commented on #495
@anotheredward and @mansona let's figure out if there's a path forward for this- I verified tonight that the issue still exists. Thank you! 👍

[2019-03-01 02:04] MelSumner commented on #489
@jessica-jordan @jenweber can you both coordinate and figure out if this is still an issue with the TOC RFC?

[2019-03-01 02:08] MelSumner commented on #486
@rwjblue @mansona - please coordinate on what the action steps are for this issue so we can clarify for contributors. Thank you! 👍

[2019-03-01 02:18] MelSumner commented on #484
Fixed- thank you for reporting the issue! 👍

[2019-03-01 02:18] #484 closed

[2019-03-01 04:41] jenweber commented on #463
closed by #515 and pzuraq's work

[2019-03-01 04:41] #463 closed

[2019-03-01 04:51] jenweber opened #540 "Change Tutorial JavaScript code blocks to use Class Syntax"
We'd love to have a volunteer for this! Please see [Octane MVP](https://github.com/ember-learn/guides-source/issues/394) for instructions about where to make your PR. Please only volunteer for this issue if you can open a PR with at least part of the work by the end of the next day. Thanks for your help!

### To-do
For this issue, we should only make "class syntax" changes to the code blocks withi

[2019-03-01 04:57] MelSumner commented on #485
Should be fixed now. Thank you for reporting the issue!! 👍

[2019-03-01 04:57] #485 closed

[2019-03-01 04:58] jenweber opened #541 "Change Quickstart JavaScript code blocks to use Class Syntax"
We'd love to have a volunteer for this! Please see [Octane MVP](https://github.com/ember-learn/guides-source/issues/394) for instructions about where to make your PR. Please only volunteer for this issue if you can open a PR by the end of the next day. Thanks for your help!

### To-do
For this issue, we should only make "class syntax" changes to the code blocks within `guides/release/getting-start

[2019-03-01 05:06] jenweber opened #542 "Change Writing Helpers JavaScript code blocks to use Class Syntax"
We'd love to have a volunteer for this! Please see [Octane MVP](https://github.com/ember-learn/guides-source/issues/394) for instructions about where to make your PR. Please only volunteer for this issue if you can open a PR by the end of the next day. Thanks for your help!

### To-do
For this issue, we should only make "class syntax" changes to the code blocks within the `guides/release/templates

[2019-03-01 05:11] jenweber opened #543 "Change Ember Data JavaScript code blocks to use Class Syntax"
We'd love to have a volunteer for this! Please see [Octane MVP](https://github.com/ember-learn/guides-source/issues/394) for instructions about where to make your PR. Please only volunteer for this issue if you can open a PR by the end of the next day. Thanks for your help!

### To-do
For this issue, we should only make "class syntax" changes to the code blocks within `guides/release/models` markd

[2019-03-01 06:39] locks commented on #187
PR is merged!

[2019-03-01 06:39] #187 closed

[2019-03-01 06:47] locks commented on #244
Can you give it a go? The trick here is that `popup` didn't change, it's still pointing to the same object. The same happens with arrays!

[2019-03-01 07:47] locks commented on #330
The team discussed this at one of the weekly meetings an decided that links should be inlined.
Can you help clean this up?

[2019-03-01 07:53] maxwondercorn commented on #330
Yes I can work on it. Probably not until next week

[2019-03-01 07:53] #352 closed

[2019-03-01 07:53] locks commented on #306
Link is now working!

[2019-03-01 07:53] #306 closed

[2019-03-01 11:59] ppcano commented on #244
I thought the trick was that the attribute must be passed via the component invocation?

[code]

Note, I haven't tested this in a long time.

[2019-03-01 12:06] locks commented on #244
@ppcano yeah, that would work because the `foo` would then change. A nitpick, don't forget you need to wrap dynamic values in mustaches:  `<MyComponent @foo={{popup.foo}} />`

[2019-03-01 12:12] #320 closed

[2019-03-01 12:17] locks commented on #250
Is this https://guides.emberjs.com/release/reference/syntax-conversion-guide/ ?

[2019-03-01 12:21] locks commented on #499
What needs to happen to advance this?

[2019-03-01 13:10] muziejus commented on #540
I volunteer. Is that sufficient warning to ensure I don't stomp on someone else's work?

[2019-03-01 13:29] jenweber commented on #540
Yep! Thanks for the help! Let me know if you have any questions along the way.

[2019-03-01 13:39] locks commented on #531
https://github.com/empress/guidemaker/pull/13
https://github.com/ember-learn/guidemaker-ember-template/pull/11
https://github.com/ember-learn/guides-source/pull/547

[2019-03-01 13:54] efx commented on #543
I'll grab this one.

[2019-03-01 14:18] jenweber commented on #543
Thanks Eli!!!

[2019-03-01 14:36] jamescdavis commented on #540
I volunteer to CR this when the PR is opened. @muziejus, please ping me on the PR.

[2019-03-01 14:57] rajasegar commented on #461
I am working on it , raised a PR for the same, please let me know for anything.

[2019-03-01 14:57] rajasegar commented on #541
I am working on it , raised a PR for the same, please let me know for anything.

[2019-03-01 14:57] rajasegar commented on #542
I am working on it , raised a PR for the same, please let me know for anything.

[2019-03-01 14:57] muziejus commented on #540
My one question so far, I think, is about whether I should _also_ be adding decorators?

[code]

looks odd to me.  It wouldn't be much...

[2019-03-01 15:00] rajasegar commented on #540
@muziejus Yes i think, should be
[code]

[2019-03-01 15:05] muziejus commented on #540
OK, I'll add decorators then.

Another question: tests fail on broken links outside of my realm… and the one inside my realm seems unfixable:

[code]

[2019-03-01 15:13] jenweber commented on #540
Adding decorators would be awesome!

[2019-03-01 15:15] jenweber commented on #540
Regarding tests, go ahead and open a PR against Octane and we’ll figure out test failures later. We aren’t running CI against that branch yet, due to unfinished redirects

[2019-03-01 15:42] rajasegar commented on #540
I figured out the test case failures, those are addressed here
https://github.com/ember-learn/guides-source/pull/552

[2019-03-01 16:01] MelSumner commented on #461
Thank you for resolving this issue! :+1:

[2019-03-01 16:01] #461 closed

[2019-03-01 16:51] rwwagner90 commented on #499
I'm not sure. I started opening PRs removing jQuery in all the things, when we initially were discussing this stuff, but I think we found we needed it for something, and the efforts fizzled out.

[2019-03-01 18:19] efx opened #554 "what should we teach in introducing Ember Data Models? computeds vs. decorators"
We teach computed properties [when introducing people to Ember data models](https://guides.emberjs.com/release/models/defining-models/#toc_defining-attributes).
In the Octane Edition we introduce [decorators](https://github.com/ember-learn/guides-source/blob/octane/guides/release/upgrading/editions.md#decorators), and later [tracked properties](https://github.com/ember-learn/guides-source/blob/oct

[2019-03-01 18:19] #237 closed

[2019-03-03 02:37] #528 closed

[2019-03-03 19:36] mansona commented on #352
@locks why was this closed? has it been fixed?

[2019-03-04 02:32] MelSumner commented on #554
@igorT @dgeb can you weigh in here?

[2019-03-04 18:40] pzuraq commented on #554
I believe we should use Tracked Properties here, and in general. Since tracked props interop with computeds, attrs and relationships should Just Work ™️:

[code]

There are two things we need to resolve here:

1. Can we teach extending from `DS.Model` using native class syntax? I believe the answer is yes, but I'd like the Ember Data team to weigh in here. The biggest concerns would be around `ini

[2019-03-04 21:16] MelSumner commented on #541
Thank you @rajasegar for your work! :+1:

[2019-03-04 21:16] #541 closed

[2019-03-04 21:17] MelSumner commented on #542
Thank you @rajasegar for doing this work! :+1:

[2019-03-04 21:17] #542 closed

[2019-03-04 22:32] MonsieurDart commented on #132
Hey, I've tested this and created a PR to the docs:

https://github.com/ember-learn/guides-source/pull/560

Is this well what you recommend, @loren-osborn?

Thanks for your help.

[2019-03-04 22:55] anotheredward commented on #495
Thanks for reminding me of this @MelSumner .
As far as I understand, we have two options:
1. Change the link button code to use the same logic as the version changer from my PR: #200 :
https://github.com/ember-learn/guides-app/pull/200 . This change is simple, and duplicates a bit of logic.

2. Move the logic I added up to where we handle 404s, that way we'll do a best guess no matter when the use

[2019-03-04 23:05] runspired commented on #554
There are a couple of direction we can go from here, I'm going to lay them out and then argue that a particular direction seems best to me:

* minimal upgrade of syntax
* leave alone until custom Record Classes lands
* drop teaching of computed on model
* full elimination of non-API properties

## 1. minimal upgrade of syntax

Keeping in mind that changes to the modeling layer are coming, we do th

[2019-03-05 10:24] MonsieurDart commented on #394
Hello @MelSumner! Do we still have some parts of the guides to migrate to the new syntax? From my understanding, everything has been migrated. If not, I can tackle some of the remaining bits.

And, by the way, is there a way to see this new Guides MVP formatted somewhere? My question is a bit off-topic, but I have two newcomers arriving next week and I'd love them to start discovering Ember with t

[2019-03-05 14:40] rwjblue opened #562 "Migrate testing sections to use qunit-dom?"
[qunit-dom](https://github.com/simplabs/qunit-dom) simplifies making assertions against the DOM, and has been included by default in new ember-cli applications for quite a while (introduced in [this RFC](https://emberjs.github.io/rfcs/0116-qunit-dom.html) and landed in ember-cli back in ember-cli@3.2.0).

An example of the difference between what we have now and what things would look like if we m

[2019-03-05 15:37] efx commented on #554
@pzuraq @runspired thank you for the detailed responses!
I'll defer to core teams consensus here. My pedestrian response follows.

I see the value to using tracked properties throughout these examples as it meshes nicely with the Octane way of thinking. But I agree with runspired's 2nd point for those reasons. Additionally, I think computeds are an ember idiom that I've acclimated to. Newcomers do

[2019-03-05 18:19] runspired commented on #554
@efx the part I meant is a different discussion discussion was the bit surrounding use of `init` vs `constructor`.  Absolutely we are ready to teach folks to use native class syntax for models.

Much like Ember vs Glimmer Components, DS.Model has provided certain guarantees within `init` that may not fully translate to a world with `constructor` usage: however if they don't yet we can get that fix

[2019-03-05 20:02] efx commented on #554
ah, that clarifies it; thanks @runspired.

[2019-03-05 21:05] efx opened #564 "[OCTANE] rewrite ember-data section recommending use of `volatile`"
We recommend using [volatile](https://github.com/ember-learn/guides-source/blame/octane/guides/release/models/customizing-adapters.md#L248-L251) for custom adapters. This has been [deprecated](https://github.com/emberjs/rfcs/blob/master/text/0370-deprecate-computed-volatile.md#summary).
We should remove this as part of the octane effort. I will try to address it in #543.
Slightly related: #20.

[2019-03-05 22:09] efx opened #565 "ensure consistent code fencing label for JSON examples"
I propose we standardize `json` for [code fences](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code) in JSON examples to preserve visual consistency.
Here we [use `json`](https://github.com/ember-learn/guides-source/blame/master/guides/release/models/customizing-serializers.md#L32). Here we [use `javascript`](https://github.com/ember-learn/guides-source/blame/master/guides/rele

[2019-03-06 12:49] efx opened #566 "initializing object or array properties using init: do we still need this with native classes?"
In customizing [headers section](https://guides.emberjs.com/release/models/customizing-adapters/#toc_headers-customization), we state:

I think this prohibition is about [avoiding leaking state.](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/avoid-leaking-state-in-ember-objects.md#description)
Wouldn't using native classes supersede this implementation quirk?
If so, what

[2019-03-06 13:08] locks commented on #566
The two ways to initialize properties in native classes is in constructors or field initializers (`class A { propName = [1, 2, 3] }`).
However, since field initializers are still in stage 3 I would keep the `constructor` recommendation.

[2019-03-06 14:01] efx commented on #566
@locks thanks for the explanation. I'm still unclear as the [migration guide](https://github.com/ember-learn/guides-source/blob/octane/guides/release/upgrading/editions.md#constructor-instead-of-init) recommendation says to use`constructor` and that field initializers are "completely ok".
Perhaps I'm not seeing something? As is there a policy for how we are teaching these concepts?
@pzuraq would y

[2019-03-06 16:20] pzuraq commented on #566
We should use class fields for this case, and stop teaching folks to initialize in `constructor`/`init` unless it's some fairly complicated initialization work.

As for `init` vs `constructor`, the gist is that if your parent class does not use `init` (or other EmberObject APIs), you're safe using `constructor`. Based on a quick look at the code for adapters/serializers/models, and our conversatio

[2019-03-06 17:41] muziejus commented on #540
@jenweber With the merged PR #551, I think this is now closed?

[2019-03-07 15:29] efx opened #570 "proposal: refactor $.getJSON examples to use fetch"
Converting code examples for Octane has refreshed a discussion about using jQuery in trivial code examples. I think we should refactor code examples that feel dated due to using `$.getJSON`. See #33 for my prior hang ups. Tangential to https://github.com/ember-learn/guides-source/issues/499.
# current usage in release guides
* https://github.com/ember-learn/guides-source/blame/master/guides/releas

[2019-03-11 12:58] efx commented on #554
Closing as addressed in #553. (https://github.com/ember-learn/guides-source/blame/octane/guides/release/models/defining-models.md#L49)

[2019-03-11 12:58] #554 closed

[2019-03-11 13:54] efx opened #579 "unify import examples to use single quotes"
A quick search of the [guides/release](https://github.com/ember-learn/guides-source/tree/octane/guides/release) directory shows a few import snippets that use double quotes instead of single quotes:
[code]
Most examples in the guides use single quotes, so we should update these ones to do so as well.
This task should also include further search for such quoting inconsistencies.

[2019-03-11 20:02] MonsieurDart commented on #562
We started using the `assert.dom` syntax a few weeks ago and we are very satisfy with it. First it makes the assertion code more readable (imho). But it also makes the assertion message much much clearer, we have the details of the failure (something like « Dom element should exist ») instead of a boolean comparision (something like « Expected true to be false »).

So I would definitely recommend

[2019-03-12 06:19] maxwondercorn commented on #330
I've started the links cleanup but will delay the PR until the octane guides preview is complete per a comment from @jenweber on ember-learn/cli-guides#101

[2019-03-12 14:17] locks commented on #352
@mansona as far as I could tell we do "Ember CLI" like is stated in the contributor styleguide!

[2019-03-12 18:57] mike-north opened #583 "Octane guides review: ensure code examples are complete"
The octane guides (#455) are coming along really well!

One thing that we could use some help with is reviewing all markdown "fenced code blocks"

[code]

are...

1. Valid language syntax.

	A good way of checking this is to open up [https://babeljs.io/repl](https://babeljs.io/repl) and paste a code sample in the left editor pane.

2. Complete

	Some of them seem to be missing imports, particularl

[2019-03-12 19:04] mike-north opened #584 "Octane guides review: back out of MU project layout for file paths"
In light of [Module Unification project layout](https://blog.emberjs.com/2019/03/11/update-on-module-unification-and-octane.html) being de-scoped from the octane edition, we need the updates to the guides (#455) to be converted back to "classic" project layout (`/app` and `/addon` folders).

These paths are mostly found in markdown "fenced code blocks"

[code]

In this case, we'd convert the file

[2019-03-12 19:04] efx commented on #579
In researching this, I think it is exactly the problem noted here: https://github.com/emberjs/guides/issues/613
Automating this as part of the linting checks would be the longer term fix.

[2019-03-12 19:23] jenweber opened #585 "[OCTANE] Modify the "home" page to describe what the Octane preview is"
To help with this issue, branch from the `octane` branch, and make your PR back to the `octane` branch.

Include bullet points that link to existing resources, plus indicate what is in the works.

Example:

[code]

[2019-03-12 19:25] jenweber opened #586 "[OCTANE] Add a banner that says that Octane is a preview"
I'm working on this one.

Sister PR will be in https://github.com/ember-learn/guidemaker-ember-template

[2019-03-12 19:26] jenweber opened #587 "[OCTANE] Update the Quickstart to show how to use the Octane blueprint"
See (ember-octane-blueprint)[https://github.com/ember-cli/ember-octane-blueprint]

To help with this issue, branch from the `octane` branch, and make your PR back to the `octane` branch.

[2019-03-12 19:27] jenweber commented on #586
this work may need to be done in a special release of ember-styleguide

[2019-03-12 19:48] jenweber opened #588 "QUEST - reading and editing the Octane Guides preview"
Hello! Thanks in advance for your help! While Octane isn't officially released, and won't be for a while, we are providing a "preview" period where adventurous devs can try it out, and they need guides documentation! A lot of work has already been done, so at this stage, we are looking for people to read the draft of the Octane guides and help us fix errors and fill in the blanks. Can you help us

[2019-03-12 19:53] mansona commented on #583
Here is a tool that we used to verify all of the code blocks during the AngleBrackets migration: https://github.com/ember-learn/guides-source/pull/589

I don't know how useful it would be to you but it's there if you need it 🎉

[2019-03-12 20:19] efx commented on #583
Here are 2 aspects of this I found while working against the octane branch:
https://github.com/ember-learn/guides-source/issues/565
https://github.com/ember-learn/guides-source/issues/579
I think they also apply to master.

[2019-03-12 23:41] muziejus commented on #588
I can do getting started and services, if that's ok?

[2019-03-13 04:27] jenweber commented on #588
Thank you! I updated the list with your work!

[2019-03-13 11:44] sonic1981 opened #592 "Why was the advice on "bubbles" removed in v2.0?"
I'm trying to fix an issue and I've discovered that I can use `bubbles=false` to prevent my `link-to` from bubbling events to a click handler I have in my component. Seems to work fine in my ember v 3.4. I found this from a [link on SO](https://stackoverflow.com/a/25069758/542251).

Looking though the documentation information on this, it was [present in v1.13.0](https://guides.emberjs.com/v1.13.0

[2019-03-13 13:20] muziejus commented on #588
I'll do the testing section next.

[2019-03-13 13:42] betocantu93 commented on #588
I can do components section

[2019-03-13 13:55] #566 closed

[2019-03-13 13:56] #564 closed

[2019-03-13 14:33] efx commented on #592
`bubbles=false` is still quite helpful and documented in the [API docs](https://api.emberjs.com/ember/3.8/classes/Ember.Templates.helpers/methods/action?anchor=action) section on 'Event Propagation'. Perhaps it just moved there?

[2019-03-13 14:39] efx commented on #592
@sonic1981 thank you for editing that stack overflow post; I took the liberty to update it with the API link above as I think we want to point future travelers to current API docs instead of guide versions that target older versions of ember.

[2019-03-13 15:37] sonic1981 commented on #592
Ah ok. It's difficult to find (a lot of things are difficult to find in the API docs) there. So I guess that's why I didn't see it. Updating that link seems to cover it TBH.

Happy to close this now.

[2019-03-13 15:41] efx commented on #592
@sonic1981 totally understand; I run into that problem myself often and have mostly avoided it by learning this trick LOL. That said, I think this kind of feedback really helps improve the quality of Ember documentation. This problem is fuzzier. If you want to pursue fixing it / ideas to help address it I'd suggest raising the topic in the dev-ember-learning channel in [the ember discord](https://

[2019-03-13 19:13] mixonic commented on #588
I'm going through "templating" right now. We will see if I am on track!

[2019-03-14 00:30] dennismende commented on #588
I will do Data Management and Ember Data till Friday.

[2019-03-14 07:47] richard-viney commented on #588
I'll review the "Working with JavaScript" section.

[2019-03-14 15:50] efx opened #601 "[OCTANE] some code examples are not indented properly"
Notice how any JavaScript code example block in a list item has incorrect indentation:
<img width="1035" alt="Screen Shot 2019-03-14 at 11 21 02" src="https://user-images.githubusercontent.com/472721/54370067-60162180-464d-11e9-89ea-89aededb30e9.png">

https://github.com/ember-learn/guides-source/compare/octane...efx:fix-indent?expand=1

Simplified attempt to reproduce does not show the issue: htt

[2019-03-14 16:18] acorncom commented on #540
@muziejus it looks like it, thanks!

[2019-03-14 16:18] #540 closed

[2019-03-14 16:25] jenweber commented on #586
closed by #599

[2019-03-14 16:25] #586 closed

[2019-03-14 16:27] acorncom commented on #543
@efx anything else needed here?

[2019-03-14 16:47] efx commented on #543
@acorncom Tutorials related to ember-data haven't been converted IIRC. I'll check on this today and do a once over of the current status.

[2019-03-14 18:23] efx commented on #486
I agree and propose we remove extraneous references teaching `RSVP` throughout the guides. One example is `RSVP.hash`.
From a quick search, I could only find 2 pages that use `RSVP.hash` directly:
1.  [specifying a route's model](https://github.com/ember-learn/guides-source/blob/master/guides/release/routing/specifying-a-routes-model.md#multiple-models)
2. [labeling promises for ember inspector](h

[2019-03-14 18:41] acorncom commented on #393
Looks to have been fixed by #459

[2019-03-14 18:41] #393 closed

[2019-03-14 18:45] acorncom commented on #592
Closing for now, feel free to ping if we need anything else!

[2019-03-14 18:45] #592 closed

[2019-03-14 19:09] ppcano commented on #486
@efx `hash` was intentional preserved. https://github.com/ember-learn/guides-source/pull/546 fixed most of the issues commented here.

@locks should this issue be closed?

[2019-03-14 23:00] kgautreaux commented on #588
I have submitted a PR for "tracked-properties" so I can claim that post-hoc.

[2019-03-15 05:01] jenweber opened #609 "Create site redirects from octane-preview-guides - tech debt from Octane"
This is a future thing, for a month or two from now.

We're making a staging app at `https://octane-preview-guides.emberjs.com`, and with it comes some cleanup work

We committed to "maintaining" this staging app via redirects to our main guides, once we take it down. Tom, Yehuda, Jen, Mel, and Chris all discussed this on March 13th and the decision to support redirects was a requirement for agree

[2019-03-15 05:11] jenweber opened #610 "Set up robots.txt and GoogleAnalytics for the octane staging site"
We have some small adjustments to make to prepare for showing the Octane Guides in a separate staging app. This work should be done from the existing `octane` branch, and the PR should target `octane` and not master.

We need to adjust `public/robots.txt` to reflect the upcoming home of the Octane Guides staging, `octane-guides-preview.emberjs.com/release/`.

We also need to update Google Analytic

[2019-03-15 05:14] jenweber opened #611 "[OCTANE] do some CSS hacks to hide the edit pencil and the search bar"
Do you like hacky quick fixes? Well, we have a job for you. Add some css that adds {display: none} for the edit pencil icon on every page of the guides, and also hides the search bar.

Why? We are deploying the Octane Guides Preview to a special staging app and neither of these things will work. It's important for UX.

This work should branch from the existing `octane` and make a PR back into `oct

[2019-03-15 10:45] mixonic commented on #588
I'm also doing a read through components this morning, mostly with an eye toward using actions consistently as described in https://github.com/ember-learn/guides-source/pull/598#discussion_r265390517.

tl;dr is:

* On native class glimmer components, ember components, and controllers use the `@action` decorator and the element modifier `{{action this.actionMethod}}` passing the method.
* On classi

[2019-03-15 11:37] richard-viney commented on #588
@mixonic Re. recommended action syntax, I've been a little uncertain on recommended practice of late, as there appears to be no need to use the `action` helper unless you want to add arguments to the invocation. i.e. you can do `@action onClick() {}` in the component and then just `onclick={{this.onClick}}` in the template with no use of the `action` helper at all. Also if you write `{{action this

[2019-03-15 12:01] mixonic commented on #588
@richard-viney Please read the [comment I linked to above](https://github.com/ember-learn/guides-source/pull/598#discussion_r265390517) for a more complete description of what we're suggesting for best practice and why. If you still have questions please find me in `#st-octane` on Discord.

:pray: I'm happy to discuss this topic but lets try to keep comments for this quest issue focused on the wor

[2019-03-15 13:09] efx commented on #584
@betocantu has started addressing this in https://github.com/ember-learn/guides-source/pull/612.

[2019-03-15 14:52] muziejus commented on #588
I'll make a new image.

[2019-03-15 18:53] chancancode commented on #395
I'm working on documentation for how to work with DOM in Octane (replacement for lifecycle hooks). It should be in an MVP state in the next day or so.

[2019-03-15 18:58] wycats commented on #395
I'm working on documentation for working with the DOM in Octane. It should be ready in an MVP state in the next day or so.

[2019-03-15 19:08] rwjblue commented on #611
Closed by #616

[2019-03-15 19:08] #611 closed

[2019-03-15 22:41] jason-maier commented on #588
I can work on "Contributing to Ember.js"

[2019-03-16 00:48] efx commented on #583
I think there are a couple approaches with short and long term approaches.
1. integrate the extraction script and pass relevant blocks to eslint
2. Prettier supports parsing markdown and formats embedded snippets. We could run it automatically if the opinions align. To see the changes, try running:
[code]

I did try [integrating prettier](https://github.com/efx/guides-source/blob/try-prettier-bloc

[2019-03-16 16:01] jenweber opened #624 "Run linting and link checkers on the Octane branch, and fix as much as possible"
I'm gonna do this on the plane to EmberConf.

[2019-03-16 16:02] jenweber opened #625 "Comment out unfinished content for Octane"
I will add a keyword or something that helps us easily search for and complete anything that got commented out. TBD what that will be.

I am working on this on the plane to EmberConf

[2019-03-16 20:10] jenweber commented on #610
Used [this resource](http://www.robotstxt.org/faq/prevent.html) to learn how to set robots.txt crawling to "disallow"

[code]

[2019-03-16 21:21] mansona commented on #610
This is done right? 🤔

[2019-03-17 06:31] lisaychuang opened #633 "Octane Quickstart guide review"
Hi everyone,

I've taken a look at the Octane guide preview, and here are my thoughts & suggestions!

 **"Quick Start", url: "quick-start"**

- [ ] https://github.com/ember-learn/guides-source/blame/octane/guides/release/getting-started/quick-start.md#L121

In the paragraph after the code example for `app/templates/scientists.hbs`, it may be helpful to point out that the `<h2>` is rendered because

[2019-03-17 06:35] mike-north commented on #633
@NullVoxPopuli since you've been the point-person for [ember-cli/ember-octane-blueprint](https://github.com/ember-cli/ember-octane-blueprint/), can you comment on what the plan is for native classes and generators?

[2019-03-17 12:48] dennismende commented on #588
@jenweber I took a look at
- models/defining-models
- models/finding-records
- models/creating-updating-and-deleting-records
and these are all good from my side. @efx already adjusted everything.

[2019-03-17 13:38] dennismende commented on #588
@jenweber Could you or someone else provide some guidance in regards to data-management? What is expected here?

[2019-03-17 14:28] dennismende commented on #584
With #636 all occurrences of MU project structure should have been changed back to current structure.

[2019-03-17 14:39] dennismende commented on #588
@jenweber I will start now with the Routing parts

[2019-03-17 14:41] Frozenfire92 commented on #588
I will update the image for `"Core Concepts", url: "core-concepts" - needs an updated image`

[2019-03-17 14:52] Frozenfire92 commented on #588
I will go through Component Basics now

[2019-03-17 16:12] Frozenfire92 commented on #395
was about to make an issue when I came across this one

![Screen Shot 2019-03-17 at 1 02 40 PM](https://user-images.githubusercontent.com/5893112/54494049-f7c97900-48b4-11e9-8dd6-c226c8db7ecd.png)

It seems there are two links which are covering DOM manipulation

`Interactiving with the DOM`: `/release/components/interacting-with-the-dom/`
`Working with the DOM`: `/release/components/glimmer-compo

[2019-03-17 19:12] balinterdi commented on #588
I'd like to do the following from the ED section:

* Defining Models", url: "defining-models"
* "Finding Records", url: "finding-records"

[2019-03-17 20:40] balinterdi commented on #588
I just realized these were done by @efx already (as mentioned by @dennismende above). Shouldn't they be checked out?

[2019-03-18 01:11] jenweber opened #646 "Refactor loading-and-error-substates to not use foo and bar"
We have so many good examples available to us that it doesn't make sense to use foo and bar here.

Read through `loading-and-error-substates.md` and see if you can improve it!

[2019-03-18 01:24] mike-north commented on #588
I'm going through `computed-properties` now

[2019-03-18 01:31] lisaychuang commented on #588
I'll be adding comments to [issue 237](https://github.com/linkedin/css-blocks/issues/237) as I go through the guides, so far I've gone through:

 **"Getting Started", url: 'getting-started'**
- [x] "Quick Start", url: "quick-start"

[2019-03-18 01:44] mike-north opened #648 "Computed property docs are missing instantiation step"
In the [computed property guides](https://guides.emberjs.com/release/object-model/computed-properties/#toc_multiple-dependents-on-the-same-object) we have a few places where classes are operated on as if they're instances

<img width="753" alt="Screen Shot 2019-03-17 at 6 44 24 PM" src="https://user-images.githubusercontent.com/558005/54501841-da140800-48e4-11e9-9729-305255e56512.png">

_Originall

[2019-03-18 01:53] jenweber commented on #625
Closed by #638

[2019-03-18 01:53] #625 closed

[2019-03-18 01:55] jenweber commented on #588
Hey team, thanks so much for all your help! We are aiming to freeze the guides tonight, and will pick up work again after the keynote. Please make sure to rebase whatever you are working on, as some big sweeping updates just went in for spellchecks, code block accuracy, etc. I will review and hopefully merge any PRs that are open right now before the end of day.

Y'all are the best and I can't wai

[2019-03-18 01:59] jenweber commented on #588
@dennismende to answer your questions:
- We are skipping data management for now
- It is unclear whether link-to will be available in angle brackets for the preview, so let's leave as curly braces for now

We got quite a few updates in for the Routing section today - let me know if you have any to add! Thank you!

[2019-03-18 02:31] mixonic commented on #588
Ah, I see we won't land anything tomorrow. I'm going to take on "Configuration", and if I can get that tucked away I'll take another pass at the most important bits even if they already got :eyes:

[2019-03-18 04:09] jenweber commented on #588
I'm going to keep working to merge existing PRs tomorrow morning, so for those of you who already got your work PR'd, it will make it in :)

If others like @mixonic still have time to jump in & help, reviewing other people's PRs and doing code suggestions for typos is helpful! I'm going to sleep now so I will catch y'all tomorrow. This is all super good and we are in excellent shape!

[2019-03-18 04:30] #648 closed

[2019-03-18 04:45] jenweber opened #654 "Check for missing `{ action }` imports"
In the `octane` branch, we may have occasionally forgotten the following in code samples:

[code]

Search for `@action` throughout `guides/release` and see if it has an import with it in the code block. If it's missing, please add it. Make a PR back to `octane`.

[2019-03-18 04:54] jenweber opened #655 "Fix "Quickstart" example to use interactive HTML elements"
In our [Quickstart example in the Guides](https://guides.emberjs.com/release/getting-started/quick-start/#toc_click-events), we are teaching people to add a click event to a list item, `<li>`, and it should be a `<button>` instead. However `<li>` are not an interactive element, which means that some browsers may not fire the event, it may not receive focus for keyboard nav, and it does not work we

[2019-03-18 06:39] mike-north commented on #654
#656 has fixes for all occurrences of `@action` in the `guides/release/**/*.md`

[2019-03-18 06:55] mike-north commented on #655
Attempted to fix this with the smallest amount of change in #657.

[code]
should be ok

[2019-03-18 12:29] efx opened #664 "add CRUD to the glossary or remove the line"
We mention `CRUD` in the [customizing serializers](https://github.com/ember-learn/guides-source/blame/master/guides/release/models/customizing-serializers.md#L766) page but it does not appear in the glossary:

used for normalizing requests made outside of Ember Data because they
do not fall into the normal CRUD flow that the adapter provides

Given this is a guide, I think it makes sense to includ

[2019-03-18 15:22] efx commented on #543
@jenweber @acorncom this should be done now. There are other aspects of decorators and native classes to address as discussed in #603, but they fit better as part of other PR's / contained issues.

[2019-03-18 16:17] mike-north commented on #654
I think we can close this now

[2019-03-18 16:32] wordofchristian commented on #444
Looking at this today

[2019-03-18 21:40] jenweber opened #669 "Quest - Changes we need to make before the official release of Octane Guides"
The Learning team needs your help getting Octane ready to ship on emberjs.com! To help out, please do your work in the `guides/release` folder of the `octane` branch, and open PRs back into `octane`.

This issue described is MVP to merge the guides for 3.14. You can see the current Octane preview guides at https://octane-guides-preview.emberjs.com/release/

### URL persistence
- [x] writing redire

[2019-03-21 03:10] abdullah2891 opened #843 "Clicking on new version goes to 404"
Steps to Reproduce:
1. Go to
https://guides.emberjs.com/v1.10.0/testing/integration/
2. Click View "View v3.8.0" button
3. It goes to 404

[2019-03-21 17:07] #132 closed

[2019-03-23 15:31] NullVoxPopuli commented on #394
do some of these checkboxes need updating?

[2019-03-23 16:32] NullVoxPopuli commented on #438
Looks like these are all added already?

[2019-03-25 00:42] locks commented on #438
Thanks for double checking!

[2019-03-25 00:42] #438 closed

[2019-03-27 00:34] locks commented on #654
Thanks for double checking!

[2019-03-27 00:34] #654 closed

[2019-03-27 00:38] locks commented on #533
Closing due to inactivity and due to the missing index problem already being tracked somewhere else.

[2019-03-27 00:38] #533 closed

[2019-03-27 00:39] #79 closed

[2019-03-27 10:31] #531 closed

[2019-03-27 16:46] jenweber commented on #655
Closed by #657. Thank you, Mike!

[2019-03-27 16:46] #655 closed

[2019-03-27 16:47] jenweber commented on #624
Closed by #632

[2019-03-27 16:47] #624 closed

[2019-03-27 16:47] jenweber commented on #610
Closed by #627

[2019-03-27 16:47] #610 closed

[2019-03-27 16:48] jenweber commented on #601
Closed by #668. Thank you for your help identifying this!

[2019-03-27 16:48] #601 closed

[2019-03-27 16:49] jenweber commented on #585
closed by #599

[2019-03-27 16:49] #585 closed

[2019-03-27 16:50] jenweber commented on #583
Closed by a dozen or so PRs ahead of EmberConf

[2019-03-27 16:50] #583 closed

[2019-03-27 16:50] jenweber commented on #583
Thanks everyone for your help!

[2019-03-27 16:56] jenweber commented on #442
Closed by #590

[2019-03-27 16:56] #442 closed

[2019-03-27 17:01] jenweber commented on #431
Closed with work in https://github.com/ember-learn/guides-source/blob/octane/guides/release/components/arguments-and-attributes.md

[2019-03-27 17:01] #431 closed

[2019-03-27 17:03] jenweber commented on #441
Closed by work in https://github.com/ember-learn/guides-source/blob/octane/guides/release/components/wrapping-content-in-a-component.md

[2019-03-27 17:03] #441 closed

[2019-03-27 17:04] jenweber commented on #411
Closed by work in https://github.com/ember-learn/guides-source/blob/octane/guides/release/state-management/tracked-properties.md

[2019-03-27 17:04] #411 closed

[2019-03-27 17:05] jenweber commented on #250
Closed by the Syntax Conversion Guide

[2019-03-27 17:06] jenweber commented on #250
Thanks everyone!

[2019-03-27 17:06] #250 closed

[2019-03-27 17:07] jenweber commented on #180
Closed because we are moving towards tracked properties for Octane

[2019-03-27 17:07] #180 closed

[2019-03-27 17:17] jenweber commented on #664
This is a good issue for new contributors! We should define in this section what CRUD stands for - Create, Read, Update, and Destroy. These are the changes that could be made to data on a server. Ember data adapters define what those requests to the server look like.

[2019-03-27 17:18] jenweber commented on #609
Closed in favor of #669

[2019-03-27 17:18] #609 closed

[2019-03-27 17:18] jenweber commented on #669
This is a future thing, for a month or two from now.

We're making a staging app at https://octane-preview-guides.emberjs.com, and with it comes some cleanup work

We committed to "maintaining" this staging app via redirects to our main guides, once we take it down. Tom, Yehuda, Jen, Mel, and Chris all discussed this on March 13th and the decision to support redirects was a requirement for agreeme

[2019-03-27 17:44] jenweber commented on #532
I searched the Guides and did not find any usages of `.on()`, `.observes()`, `.property()`. `camelize` and `underscore` are properly imported from Ember String, and there are no uses of `w()` (whatever that is), or any of the other convenience methods [here](https://api.emberjs.com/ember/release/classes/String).

In most cases, usages of `firstObject` are taught within the context of Ember Arrays,

[2019-03-27 17:58] rwwagner90 commented on #532
@jenweber another problem in enumerables:

[code]

[2019-03-27 18:02] jenweber commented on #537
Closed, computed properties are superseded by `@tracked`, which is now documented. We also have a section on CPs in the upgrade guide.

[2019-03-27 18:02] #537 closed

[2019-03-27 18:07] jenweber commented on #434
Closed by lots of PRs right before EmberConf. Thank you!

[2019-03-27 18:07] #434 closed

[2019-03-27 18:08] jenweber commented on #443
Closed, no changes to make since MU was de-scoped for the initial release

[2019-03-27 18:08] #443 closed

[2019-03-27 18:11] jenweber commented on #396
Covered by https://github.com/ember-learn/guides-source/blob/octane/guides/release/components/defining-a-component.md

[2019-03-27 18:11] #396 closed

[2019-03-27 18:16] jenweber commented on #117
This will be addressed with the upcoming Octane release, where we have better clarity around actions. See https://github.com/ember-learn/guides-source/blob/octane/guides/release/components/actions-and-events.md

Thanks all for your help!

[2019-03-27 18:16] #117 closed

[2019-03-27 18:44] jenweber commented on #439
Closed, nothing to update here. The Router and Application are still the same in the blueprints.

[2019-03-27 18:44] #439 closed

[2019-03-27 18:47] jenweber commented on #394
I checked them all, mwahahaha.

Thanks everyone for your help! As of EmberConf 2019, we reached MVP for the Octane Guides 🎉

Anyone who wants to see the outcomes can visit https://emberjs.com/editions/octane for the preview guides. Octane isn't in a stable release of Ember - this is a preview - but we are in really good shape for when it's time to ship.

[2019-03-27 18:47] #394 closed

[2019-03-27 19:02] jenweber commented on #588
Thanks everyone for your help! As of EmberConf 2019, we reached MVP for the Octane Guides 🎉

Anyone who wants to see the outcomes can visit https://emberjs.com/editions/octane for the preview guides. Octane isn't yet in a stable release of Ember - this is a preview - but we are in really good shape for when it's time to ship! And now, more people can try it out and share their feedback. Awesome wo

[2019-03-27 19:02] #588 closed

[2019-03-27 21:51] #532 closed

[2019-03-28 04:56] chancancode opened #692 "Switch to <AngleBracket /> built-in components on Octane branch (input, link-to, etc)"
It's time to switch the Octane guides to use <AngleBracket /> built-in components!

* `{{link-to}}` -> `<LinkTo />`
* `{{input}}` -> `<Input />`
* `{{textarea}}` -> `<Textarea />`

This should mostly just be a syntactic change, but we could also take the opportunity to adjust the flow, remove legacy concepts, etc. For example, since angle bracket invocation takes HTML attributes, we can update the

[2019-03-28 07:46] mansona commented on #495
Hi @anotheredward 👋 sorry I didn't notice that you were linking to the guides-app repo before now 🙈

The guides app repo no longer powers the templates for the ember guides, we are now using https://github.com/ember-learn/guidemaker-ember-template

I hope there hasn't been too much wasted effort 😫 this is entirely my fault for not updating the relevant contributing guides to point to the new place

[2019-03-28 15:54] chancancode commented on #692
When you are about to start working on one of these, please leave a comment to "claim" the item so others know not to duplicate the effort!

[2019-03-28 16:23] acorncom commented on #646
The above is referencing https://guides.emberjs.com/release/routing/loading-and-error-substates/ (and the file that generates that page: https://github.com/ember-learn/guides-source/blob/master/guides/release/routing/loading-and-error-substates.md)

[2019-03-28 16:27] acorncom commented on #570
@efx I like the idea here. Given that the browser matrix for Ember still includes IE 11, it seems like it would be best to be suggesting using https://github.com/ember-cli/ember-fetch so we don't deliberately steer folks toward something that could cause them headaches in production. Thoughts?

[2019-03-28 16:29] acorncom commented on #562
In addition to making the changes mentioned here, if we make changes to the tutorial we'll want to make sure we update the super rentals example app: https://github.com/ember-learn/super-rentals

[2019-03-28 16:33] acorncom commented on #565
@efx this sounds great, would you have time to tackle it as well?

[2019-03-28 16:48] efx commented on #570
@acorncom good point. I agree we should highlight that option with the reasoning for it so users can make informed decisions for their project.

[2019-03-28 16:48] efx commented on #565
@acorncom sure thing. I presume this should go into master?

[2019-03-28 18:59] MonsieurDart commented on #562
Is this issue ready to be implemented or are we waiting for other feedbacks? If ready, I can work on it.

[2019-03-28 19:24] anotheredward commented on #495
@mansona Thank you for your responses and for archiving the project to avoid future issues :).
There hasn't been much wasted effort, and I'll be glad to reflect the same changes in the newer repositories :).

[2019-03-28 22:51] alexBaizeau commented on #692
I'm claiming `components/actions-and-events.md`

[2019-03-28 23:10] alexBaizeau commented on #692
I'm claiming `routing/query-params.md`

[2019-03-29 00:37] Charizard commented on #692
Would like to claim `routing/specifying-a-routes-model.md`

[2019-03-29 08:20] Charizard commented on #692
Would like to claim `testing/testing-components.md`

[2019-03-29 14:42] villander opened #701 "We need expose the reference to Ember Engines here"
Engines are isolated, composable applications. They have almost all the same features as normal Ember applications.

The main reason to use engines is when you’re part of a large organization with many teams all contributing to one big application. Engines lets each team have their own area that is clearly separated from the others.

**I think it is super important to link ember engines with ember

[2019-03-29 15:06] zachgarwood commented on #692
It appears that `tutorial/autocomplete-component.md` has already been angle-bracket-ized.

[2019-03-29 16:47] mdbiscan commented on #692
I'll take the next one, `tutorial/model-hook.md`

[2019-03-29 16:50] ClaytonTurner commented on #692
I'll claim the one after that: `tutorial/routes-and-templates.md`

[2019-03-29 17:12] mdbiscan commented on #692
I'll claim tutorial/simple-component.md.

[2019-03-29 18:14] dknutsen commented on #692
I'll claim tutorial/subroutes.md

[2019-03-29 19:00] mdbiscan commented on #692
Happy to claim upgrading/editions.md

[2019-03-29 22:32] jenweber commented on #20
I opened a PR for #708 that introduces the use of ember-ajax. Once that goes through, we should examine all the other places in the Guides that Ember Data is used, and see if they could benefit from some ember-ajax examples.

We also plan to do another tutorial, in addition to Super Rentals, that does not use Ember Data. In a way, then, Super Rentals can kinda serve as a better "Ember Data" tutori

[2019-03-30 23:15] jenweber opened #710 "Debug and fix the broken nav bar for octane preview"
Mike North reported that the octane preview nav dropdowns don’t work, at https://octane-guides-preview.emberjs.com

They are deployed from the octane branch.

We did some css hacks to hide the search bar and edit pencil. Maybe that caused a problem?

[2019-04-02 13:04] ClaytonTurner commented on #664
I'm interested in tackling this.
Should these changes be made to all releases in guides/* or just to the release folder?

[2019-04-02 13:18] efx commented on #664
@ClaytonTurner great, thanks! For most new work I think we just change files in the [`guides/release`](https://github.com/ember-learn/guides-source/tree/master/guides/release) folder.

[2019-04-02 20:03] jenweber opened #716 "Document Ember Guides publishing steps for new Ember releases"
3.9 is coming! What should a maintainer do once the blog post for that release is published?

it handles the rest just like a website update (once CI tests pass, it can be merged, then is published automatically)

We should update MAINTAINERS.md

[2019-04-03 17:49] acorncom commented on #562
@MonsieurDart please, have at it! 😉

[2019-04-03 17:50] acorncom commented on #565
@efx sorry, this got lost in the notification flood on this end. Yep, `master` works well. If you **want** to go back and fix previous releases, that's fine as well, but we don't always do that

[2019-04-04 15:52] jenweber opened #719 "Create redirects in Octane so legacy urls don't die"
In the Octane branch, we need to create redirects so that if someone visits a `release` url that doesn't exist anymore, they end up at the page that now handles that topic.

This can be done by creating folders and files that have the redirect, but not include those pages in `pages.yml`. See other version folders for how to do redirects.

You can see examples of redirects in https://github.com/emb

[2019-04-04 16:06] jenweber opened #720 "on hold - consider showing `tracked` in classic components"
At the learning team meeting on 2019-04-04, and at an octane strike team meeting in early 2019, we discussed showing `tracked` in the Guides before the stable ship of Octane.

We will wait to make the changes that show tracked until it lands in stable Ember. This may be a moot point since MU is de-scoped from Octane and we're on the fast track to a stable release.

[2019-04-04 16:58] ClaytonTurner commented on #664
I believe this is ready for review.

[2019-04-05 02:30] #664 closed

[2019-04-05 02:33] locks commented on #499
I'm closing this for now as I think we've _mostly_ addressed it. We can open more specific issues for any remaining work!

[2019-04-05 02:33] #499 closed

[2019-04-05 02:35] locks commented on #493
Do we still want to pursue this?

[2019-04-05 02:39] locks commented on #486
Closing issue per discussion.

[2019-04-05 02:39] #486 closed

[2019-04-05 02:40] locks commented on #239
As implemented today, the Guides do not cover this sort of documentation.
There's some efforts underway to explore how to diversify the kinds of documentations we officially provide.

[2019-04-05 02:40] #239 closed

[2019-04-06 20:49] jenweber opened #723 "Adjust Percy build settings"
Whenever we open a PR, there are 2 builds that run from Travis, and only one of them has the branch info that Percy needs in order to know which diffs to use. We need to adjust our test suite to only run in a way that sends the branch info that Percy needs. Maybe we can just disable the 2nd build?

---
My message to Percy:

Hello hello! I was hoping you could help me figure out why my Percy branch

[2019-04-07 03:28] #579 closed

[2019-04-08 07:16] Malolan-Balaji-T18128 commented on #646
@jenweber can I have a go at this?

[2019-04-08 07:17] uchihamalolan commented on #646
@jenweber can I have a go at this?

[2019-04-08 08:44] uchihamalolan commented on #692
Happy to claim `templates/input-helper.md`

[2019-04-08 09:18] gossi opened #727 "Ember Skill Tree"
What kind of skills does an ember developer have? In which order will a developer learn ember? What resources are available?

Those are some of the questions we currently have to get new joiners on board with ember and how to handle this with internal learning sessions. So we thought about a skill tree, which you can walk through go gain ember knowledge on the job. In order to get to a skill tree

[2019-04-08 09:30] mansona commented on #727
I'm personally thinking of the "Journey of becoming an Ember developer" in a slightly different way right now 🤔 I don't know the value of showing the "full tree" all at once to anyone, all of my experience training people is that this is more harmful than helpful because it just points out how much you don't know and how **hard** the technology is.

My view on the wider journey is a series of step

[2019-04-08 14:53] gossi commented on #727
I don't think there is anything contrary to the whole idea in your answer :) In fact, it works in quite well in harmony. Let me go through it:

Skill Tree:

The skill tree here is clearly to show the path on how you can reach to a certain skill it is definitely meant you don't need to learn or know them all. Depending in which environment you work, those skills will most probably be different. If

[2019-04-08 14:56] locks commented on #727
https://github.com/emberjs/rfcs/blob/master/text/0431-guides-restructure.md

[2019-04-08 15:26] gossi commented on #727
Yeah, that's the contents. Would be wrong if they differ. As stated in discord:

It's more looking for a framework in which a learner can achieve learning steps and a teacher is able to monitor and mentor it.

[2019-04-09 17:46] Robdel12 commented on #723
Hey Jen!

I followed up with you in intercom but wanted to make sure I commented here too.

It looks like we did properly select the target branch for this build: https://percy.io/Ember/guides-app/builds/1699680 But another Percy build was ran right after, which is what was used as the status check on the PR. That one is missing some information we need to select the proper target.

What's going o

[2019-04-10 14:11] jenweber commented on #723
Hey Robert, thanks for the note here & through Percy! I'm sure there's something that could be done here. I'm not even sure what the purpose of running two builds is, for this repo.

[2019-04-10 14:11] jenweber commented on #723
PS Percy is awesome

[2019-04-10 14:22] mansona commented on #723
@jenweber so the reason we have this is because for PRs to the Octane branch we wanted to have CI running, which meant that we needed to turn off the `branches: only master` thing in travis.yml

The issue that we have is that we can't just add `branches: master & octane` here because github does a **special thing** for PRs to master 😞 and I don't know how to make travis only build once for PRs to

[2019-04-11 01:17] jenweber opened #738 "Label 3.8 as "LTS" in the Guides (one line change)"
This issue is great for a new contributor!

In the [latest release blog post](https://blog.emberjs.com/2019/04/10/ember-3-9-released.html), Ember version 3.8 was named an "LTS" or "Long Term Support" version, meaning that it will get bugfixes for longer than a regular release. We should show that clearly in the Guides!

Update the `ltsVersions` list in [`versions.yml`](https://github.com/ember-lea

[2019-04-11 10:50] BradLeftley commented on #738
@jenweber I can pick this up :)

[2019-04-11 11:39] #738 closed

[2019-04-11 15:59] jenweber opened #740 "Work for 3.10 or 3.11 - update code blocks to reflect new import paths for ember-data packages"
Ember Data has restructured their repo so that it has packages, similar to how in Ember we do `import { inject as service} from '@ember/service'` instead of `import Ember from 'ember'`. This feature will probably land in 3.10 or 3.11, so we should get ready for these changes.

A PR should branch from `master` and target `master`, and will be merged once that version of Ember Data is released.

To-

[2019-04-11 16:44] jenweber opened #741 "Work for 3.10 or 3.11 - update "mental model" of ember-data"
This [ember-data RFC](https://github.com/runspired/rfcs/blob/ember-data-packages-rfc/text/0000-ember-data-packages.md) proposes some improvements to the mental model of ember-data. We should update the guides to reflect it. Your PR should branch from and target `master`.

## To do
- [ ] Have a read through the RFC
- [ ] Read through the Ember Data Guides
- [ ] Make a list of written sections that

[2019-04-18 14:49] jessica-jordan opened #751 "Add documentation for {{in-element}} helper"
With the implementation of [RFC#287](https://github.com/cibernox/rfcs/blob/20d2c89a11d20b7672291569efa2aa6e1697e2fe/text/0000-promote-in-element-to-public-api.md) a new built-in helper will be added to Ember's public API. To document this helper, please add a comprehensive description of the helper to the Guides.

Please add a section on the usage of the `{{in-element}}` helper to the Guides, incl

[2019-04-20 07:55] j-brennan commented on #437
I'll take a look at this.

[2019-04-22 22:36] jenweber opened #760 "Re-use Ember Data examples instead of changing types"
Copied over from https://github.com/emberjs/ember.js/issues/17956 created by @pink-cupcakes:

I wanted to provide feedback on the data models documentation: I would recommend starting in the order of going through CREATE before going through FIND methods. There's nothing to find if you follow the documentation, for example:

`this.store.findRecord('blog-post', 1) ` - returns a 404 for me

Secondly

[2019-04-22 22:36] jenweber commented on #760
Comment by @runspired:

I believe we should move this issue to the guide's website?

In general I agree with

- cohesive examples being a 👍
- an example with some sort of mock being 👍 (you have this same problem with `createRecord().save()` fwiw)

Querying data is the more common case than creating new data, so starting with something such as `findRecord` I believe is still the way to go, so long

[2019-04-24 10:23] saleswhale-vincent opened #764 "Missing favicon for the Guides"
Per title, the Guides seem to be missing any kind of favicon. Unsure if this was a deliberate decision but I think having a favicon helps in scanning for the Guides tab in the browser, specially if I have multiple tabs open.

[2019-04-25 17:05] pzuraq opened #767 "Renaming Component Guide Sections and Introducing Core Concepts"
Currently, the Component guide sections are named in a _semi-narrative_ manner, with each section following the previous section in order, and section names primarily trying to describe the _functionality_ that they are going to teach.

[code]

This naming is good for newcomers and beginners who are learning for Ember for the first time, since it reads like a tutorial, building up knowledge sectio

[2019-04-25 17:08] pzuraq commented on #767
One quick note here is that I updated the name for yields to `Slotting with Yields`, some other ideas I had were `Slots and Yields` or `Slots with Yields`, but I think that implies that we _have_ slots as a concept in Ember, when we don't. What we want to imply is that our _equivalent_ to slots is yields, ideally with both terms in the title so we connect the core concept.

Slots also are not _ful

[2019-04-26 12:25] greyhwndz opened #768 "Integration Test error @ SuperRentals tutorial - Building Simple Component"

[2019-04-26 12:28] greyhwndz commented on #768
I have recreated the SuperRentals app by following the recent tutorial and by the time I finished the section on Building Simple Component, the Integration Test failed.

I am attaching the screenshot of the error.

<img width="778" alt="super-rentals-integration-test-error-001" src="https://user-images.githubusercontent.com/13173749/56807555-ca7fcb80-6861-11e9-918a-2ecdd0261566.PNG">

[2019-04-26 12:38] jenweber commented on #768
Sorry you are having trouble!

- What version of mirage are you using?
- Do you have a JSONAPI serializer for mirage, like here in the sample app? https://github.com/ember-learn/super-rentals/blob/master/mirage/serializers/application.js
- can you push your code up somewhere public?

I’m betting there was a breaking change affecting our examples when mirage did 1.0 this past week.

[2019-04-26 12:51] greyhwndz opened #769 "SuperRentals tutorial - Error on switching to Mirage"
Tried following the SuperRentals tutorial. By the end of the section "Using Ember Data" just when the rental route model hook was changed to use the store with `this.store.findAll('rental')`, the app errored with the following:
<img width="960" alt="super-rentals-ember-data-error-001" src="https://user-images.githubusercontent.com/13173749/56809077-95757800-6865-11e9-9c9d-dd11be88fdeb.PNG">

Here

[2019-04-26 12:56] greyhwndz commented on #769
Tried following the SuperRentals tutorial. By the end of the section "Using Ember Data" just when the rental route model hook was changed to use the store with `this.store.findAll('rental')`, the app errored with the following:
<img width="960" alt="super-rentals-ember-data-error-001" src="https://user-images.githubusercontent.com/13173749/56809077-95757800-6865-11e9-9c9d-dd11be88fdeb.PNG">

[2019-04-26 13:53] greyhwndz commented on #768
@jenweber here is my repo for this
https://github.com/greyhwndz/super-rentals

[2019-04-27 01:55] greyhwndz commented on #769
Closing for now. Looks like it worked after a restart of my PC. Hmmm

[2019-04-27 01:55] #769 closed

[2019-04-27 03:51] toddjordan commented on #768
There is a sample super-rentals repo you can compare to.  Here's what's there.  I see its slightly different than yours. https://github.com/ember-learn/super-rentals/blob/master/tests/integration/components/rental-listing-test.js#L32

I'll run through the tutorial to see if I can reproduce

[2019-04-27 03:53] toddjordan commented on #768
There looks to be line breaks/whitespace between the "Owner:" and "test-owner" in your impl.  It seems like the problem would be a markup difference in the template issues as opposed to a test issue, but I will look into it and find out for sure.

[2019-04-27 04:33] toddjordan commented on #768
Alright, walked step by step through the tutorial and the test works for me at the end of building a simple component:
![image](https://user-images.githubusercontent.com/3609063/56844763-9d441500-6883-11e9-9139-40a16721e8b8.png)

In your repo, notice your component template file around owner
![image](https://user-images.githubusercontent.com/3609063/56844769-d7adb200-6883-11e9-8e6a-a08013a3b941.pn

[2019-04-27 04:35] #768 closed

[2019-04-27 05:25] villander commented on #701
Thanks @jenweber for following this ; )

[2019-04-27 05:25] #701 closed

[2019-04-27 06:40] greyhwndz commented on #768
My VSCode is autoformatting things everytime I save that leads to that. Thanks so much @toddjordan for pointing that out!

[2019-04-28 03:13] toddjordan commented on #768
hmm.  we could probably create a better assert more tolerant to that.    Might be worth a PR

[2019-04-28 05:42] greyhwndz opened #772 "Strange artifact in Guides - Configuration - Handling Deprecations"
Just noticed about the following strange thing that doesn't map out to the source in the repo.
@toddjordan could this be a rendering error that is browser based?
<img width="666" alt="Guides-Configuration-HandlingDeprecations-wt" src="https://user-images.githubusercontent.com/13173749/56859305-99b3a980-69bb-11e9-955f-2abef2cf6c0a.PNG">

[2019-05-03 17:51] sarbbottam opened #774 "Is the first unit tests example correct?"
Hi there, thanks for maintaining and continuously improving `ember-learn` and ember guides. I am wondering if the below example is complete.

[code]

I cannot figure out how `relativeDate` function available in the above test code.
Should it have been statically `imported`  or `looked up` from the container?

Something like:

[code]

Best!

[2019-05-03 20:06] cdersky opened #775 "Redirection error ?"
1. When I go to this helpful looking guides page
[https://guides.emberjs.com/release/models/finding-records/](https://guides.emberjs.com/release/models/finding-records/) I am shown content and then redirected to an error page. Is this content still relevant? If so can it be displayed without redirecting? Example here
![gif example of redirect](http://g.recordit.co/TEl4VzgH4V.gif)

2. The error pag

[2019-05-03 22:27] jenweber commented on #775
Thanks for reporting the redirect issue and bad link! It seems that you are not the only person affected by this. We are debugging the redirect problem and have reverted some dependencies to see if they are the issue.

The error page link is definitely something we should fix too, once we resolve the errors themselves.

[2019-05-03 22:28] jenweber commented on #775
Maybe addressed by #776, fingers crossed

[2019-05-03 22:43] amyrlam commented on #775
It *seems* to be working now, but today I could only see the problem intermittently e.g. visit https://guides.emberjs.com/release/contributing/repositories/ or https://guides.emberjs.com/release/routing/query-params/, see ack page.

[2019-05-03 22:47] amyrlam commented on #775
Spoke too soon, see ack page on a refresh 😕

[2019-05-03 23:44] cdersky commented on #775
Thanks for the rapid response. A quick check of [https://guides.emberjs.com/release/models/finding-records/](https://guides.emberjs.com/release/models/finding-records/), [https://guides.emberjs.com/release/contributing/repositories/](https://guides.emberjs.com/release/contributing/repositories/), and [https://guides.emberjs.com/release/routing/query-params/](https://guides.emberjs.com/release/rout

[2019-05-09 13:48] toddjordan opened #778 "Accessibility Updates to Super Rentals"
The goal of this task is to take the updates made to the super rentals example in PR https://github.com/ember-learn/super-rentals/pull/121 and apply them to the tutorial

The following changes would be required:

- [ ] Add aria-hidden and tab-index -1 to location-map component to hide it from screen readers
- [ ] Add a label tag to the search input in list-filter.hbs
- [ ] Add alt text to rental i

[2019-05-09 13:55] toddjordan commented on #778
Had a couple open comments on the super-rentals PR, and wanted to get resolution on those, as well as call out each specific tutorial page to make the above updates before opening this to "help wanted"

[2019-05-09 16:36] kovalchik commented on #458
I was reading through the Octane testing section the other day and noticed that there's still a lot of usages of `this.set`. For example, in the [components testing section](https://github.com/ember-learn/guides-source/blob/octane/guides/release/testing/testing-components.md):

[code]

I know there's some instances where using `set` is *required*, but when setting up my tests, I was able to direct

[2019-05-09 16:45] jenweber opened #782 "Correction needed for Defining a Route's Model - default model hook behavior"
This is the section that isn't quite right, identified by runspired:

[code]

A more accurate statement is:

So any data-related plugin has to address this behavior. It's not unique to Ember Data.

To-do:
- [ ] figure out how to explain this in a way that doesn't require us to also explain the undocumented DefaultStore
- [ ] replace the incorrect explanation currently published in the Guides
- [ ]

[2019-05-10 15:38] locks opened #784 "Super rentals link does not follow a11y recommendations"
https://guides.emberjs.com/release/tutorial/routes-and-templates/#toc_adding-a-banner-with-navigation

[code]

[2019-05-10 16:04] toddjordan commented on #784
Will add it to https://github.com/ember-learn/super-rentals/pull/121
@locks Is there an ember link somewhere with the recommendation that we can include to reference in the text?

[2019-05-10 16:05] toddjordan commented on #784
See also https://github.com/ember-learn/guides-source/issues/778
We should close this and add it as a step there.

[2019-05-13 17:36] toddjordan commented on #784
Updated #778

[2019-05-13 17:36] #784 closed

[2019-05-13 17:36] toddjordan commented on #778
Targeting a PR for these items for Thursday (Global a11y day)

[2019-05-14 20:24] samuelherzog opened #789 "Hidden jQuery dependency in Ember Superrentals"
To approach Ember Octane, I reimplemented [`ember-superrentals` with the Octane blueprint](https://github.com/samuelherzog/octane-superrentals).
I learned the `ember-simple-leaflet-maps` extension relies on `ember-ajax`, which in turn relies on `@ember/jquery`.

I think this is wrong, as jQuery is no longer a dependency for Ember Octane.

Originally I reported this in [`ember-ajax`](https://github

[2019-05-15 01:36] tendermario opened #790 "Tutorial/Autocomplete Component line additions are wrong"
Minor fix - a couple addition lines in the tests are targeting the wrong lines.

[2019-05-16 09:19] #790 closed

[2019-05-17 08:51] locks commented on #774
You are correct, it should be imported. Would you be willing to send a PR to fix this?

[2019-05-17 18:53] wycats commented on #395
Is this still being updated?

[2019-05-17 21:55] tendermario opened #793 "More tutorial fixes"
Fixed all the line addition typos I could find.

[2019-05-19 01:59] sarbbottam commented on #774
Sure, I could do that. Could you confirm if only `https://github.com/ember-learn/guides-source/blob/master/guides/release/testing/index.md` and it will cascade to all the other occurrences or all the [occurrences](https://github.com/ember-learn/guides-source/search?q=module%28%27relativeDate%27%2C+function%28hooks%29+%7B&unscoped_q=module%28%27relativeDate%27%2C+function%28hooks%29+%7B) need to be

[2019-05-20 03:15] jenweber opened #798 "Add labels to all form inputs for accessibility"
For accessibility, all form inputs should have labels. The `for` on the label should match the `id` on the input. Add them to all places that inputs are used in the `guides/release` directory. This PR should branch from master and be merged back into master.

Before:

[code]

After:

[code]

[2019-05-21 19:47] #565 closed

[2019-05-24 12:32] villander commented on #716
@jenweber this can be closed

[2019-05-25 02:19] jenweber commented on #716
Thanks!

[2019-05-25 02:19] #716 closed

[2019-05-25 13:03] j-brennan commented on #437
As the new "Home" link is between the version selector and the TOC, should the link take you to the home of the currently selected version instead of the home of the latest release? So linking to `/v3.8.0` if the user is browsing through the guide for v3.8.0, etc. Apologies if this is what you are implying with `/release/` - but I just wanted to clear that up - as `/release` can bring you to the l

[2019-05-25 19:47] #330 closed

[2019-05-26 01:57] maxwondercorn commented on #740
It doesn't look like anyone picked this one up.  I'll work on this

[2019-05-27 18:57] jenweber commented on #740
Awesome, thank you!!!

[2019-05-27 23:25] jenweber commented on #740
Thank you, that would be awesome!!!

[2019-05-29 16:41] maxwondercorn commented on #740
@jenweber Looks like @bmac has already started working on this in pr #814

[2019-05-30 00:12] jenweber opened #825 "Release 3.11 Guides - special instructions for Ember Data PRs"
See the comment on https://github.com/ember-learn/guides-source/pull/814. There are some changes to merge in right after we cut 3.11.

[2019-05-30 00:28] jenweber commented on #740
#814 will take care of the imports. Links will be harder to figure out. I messaged the data team to see if they have tried to build the API docs yet using the new packages layout.

[2019-05-30 15:52] #774 closed

[2019-05-30 20:17] bewitchingme commented on #533
As of May 30 the guides now throw an error
![Screenshot_20190530_161656](https://user-images.githubusercontent.com/11937407/58661660-659f1180-82f6-11e9-9fe9-97c36941c721.png)

[2019-05-30 23:10] locks commented on #533
This is tracked at https://github.com/ember-learn/guides-source/issues/775.

[2019-05-31 00:34] jenweber commented on #793
Closed by #810 and #794

[2019-05-31 00:34] #793 closed

[2019-05-31 00:35] jenweber commented on #775
Closed, I haven't heard of any more problems since that one day.

[2019-05-31 00:38] jenweber commented on #764
If anyone wants to volunteer for this, it should be a quick fix!

You can get the favicon from [here](https://github.com/ember-learn/ember-website/blob/master/public/images/favicon.png) and I think link to it in index.html like in [this other repo](https://github.com/ember-learn/ember-website/blob/master/app/index.html). If that doesn't work for some reason, reach out to Chris Manson on Ember Disc

[2019-05-31 00:38] jenweber commented on #723
Closed, thanks all for the input. We will live with it as-is.

[2019-05-31 00:38] #723 closed

[2019-05-31 00:42] jenweber commented on #692
Thanks everyone for your help with these changes! And thank you @chancancode for coordinating.

We finished the last file in #753 plus some prose in #696

[2019-05-31 00:42] #692 closed

[2019-05-31 00:42] #587 closed

[2019-05-31 00:43] jenweber commented on #543
Thanks everyone for the help! Closed.

[2019-05-31 00:43] #543 closed

[2019-05-31 00:45] #584 closed

[2019-05-31 00:47] jenweber commented on #789
Hi @samuelherzog, this has been fixed now in v0.0.3 of the leaflets addon. Thanks for reporting!

[2019-05-31 00:47] #789 closed

[2019-05-31 01:40] jenweber commented on #775
Just kidding, still an issue. We need to hunt this down.

[2019-05-31 14:27] Robdel12 commented on #723
Oh! You could probably toggle the `PERCY_ENABLE` env var for non-pr builds? 🤔

[2019-05-31 19:39] jenweber opened #828 "Octane - document fn and on helpers"
@sivakumar-kailasam is doing this. Thanks Siva!

[2019-06-01 00:16] #764 closed

[2019-06-01 04:20] rajasegar commented on #798
@jenweber Added labels to input fields in the following 5 places where we have used {{input}} fields
- Components / Defining a Component
- Components / The Component Life Cycle
- Components / Triggering changes with actions
- Templates / Input helpers
- Testing / Testing components

[2019-06-03 17:50] #798 closed

[2019-06-05 18:42] theroncross commented on #828
Hi @sivakumar-kailasam - are you swapping out `{{action}}` usage for `{{on <event> (fn <some-method>)}}`, or just adding documentation? I see that these have been merged in 3.11 so I would think we'd want people to start using them instead of `{{action}}`. I'm happy to file a separate issue and PR if people think it's the right approach and you aren't already doing this.

[2019-06-05 18:55] sivakumar-kailasam commented on #828
@theroncross thanks for bringing this up.

The plan is to do both on the octane guides. Afaik we haven’t discussed porting over these to the main release docs.

I’ll bring this up in our weekly meeting tomorrow (feel free to join us if you can 🙂). You can follow along by reading the weekly meeting notes as well.

If you’re looking for other areas to help with then checkout our [octane guides quest

[2019-06-06 14:35] locks commented on #843
@shankarsridhar we have no reason to remove documentation for older versions

[2019-06-06 16:04] mdbiscan opened #844 "You attempted to override the "didTransition" method which is deprecated."
This method is being used in `router.js` and the logs are spitting out this error.

The guides do not show that `didTransition` is deprecated and it works as expected. Is this deprecation message viable? Will `didTransition` be deprecated?

[2019-06-07 08:39] paddor commented on #775
I'm seeing this too. Here's what the console says:
[code]

[2019-06-07 09:59] mansona commented on #775
This seems to very much be an issue with our hosting provider (Netlify), I have contacted them to see what the issue is.

There are some things that we can do to potentially improve this situation and we could probably track these issues to get a sense of how many people are being affected 🤔