[2019-06-07 12:08] bilger-progress commented on #775
Still seeing the issue...

[2019-06-07 12:28] locks commented on #844
It is [definitely deprecated](https://deprecations.emberjs.com/v3.x#toc_deprecate-router-events)!
We are working on a fix https://github.com/ember-learn/guides-source/pull/839.

[2019-06-07 12:29] #844 closed

[2019-06-08 21:43] jenweber opened #846 "Octane - specifying a route's model page needs to be in native classes"
A lot of changes have been made to `specifying-a-routes-model.js`. Branch from `octane`, update examples to use Native Classes, and open a PR back into Octane.

[2019-06-09 15:07] #570 closed

[2019-06-09 21:41] jenweber opened #849 "Create an Octane Upgrade strategy guide"
Yehuda and Vaidehi discovered that while they were upgrading the super rentals tutorial, they needed more instructions than just an explanation of new syntaxes. The strategy guide will help people get going in the right direction, even before reading all the possible docs.

[2019-06-13 16:20] MelSumner opened #862 "add more explicit documentation for ...attributes"
We need to add more examples that clearly define `...attributes` and give several examples for use.

[2019-06-15 19:59] gauravdasgupta opened #863 "Ember JS Guides Tutorial Issue With Services Section - Wrong Command For Windows"
Under the Services tutorial the instructions in the paragraph below won't work as shown in the code snippet for a Windows user.
Next, add your new API key to the application by stopping the server and restarting it with the environment variable, LEAFLET_MAPS_API_KEY

It Should be like -
Note- If you are on Windows OS, then execute the below commands
set LEAFLET_MAPS_API_KEY=<your key here>
ember s

[2019-06-17 21:08] efx commented on #849
Would migrating away from dependency on `@ember/runloop` fit here? https://github.com/emberjs/ember.js/issues/17234 notes it as an action item, but I am unsure what this means for my application that depends on [runloop APIs](https://api.emberjs.com/ember/release/modules/@ember%2Frunloop).

[2019-06-17 21:13] efx commented on #846
I'll grab this one.

[2019-06-18 11:15] Benjy1979 opened #871 "Adapter Docs have incorrect clippet"
On
https://guides.emberjs.com/v3.10.0/models/customizing-adapters/

It says that  "ember g adapter adapter-name"will give you

[code]

But when I try it it actually gives:
[code]

[2019-06-19 21:37] jenweber opened #876 "Octane - How to Upgrade Guide needs links"
The "How to" upgrade Guide should have links to more information throughout, to specific sections of the Upgrading deep dive. Otherwise people might think that's the only guidance they are going to get!

[2019-06-19 21:44] jenweber opened #877 "Octane - link to the Octane-Classic Cheat sheet"
It's a WIP here https://github.com/jenweber/ember-octane-vs-classic-cheat-sheet

That work needs to be finished before we link to it

[2019-06-21 21:24] kmiyashiro opened #879 "Angle bracket syntax guide incorrectly says it does not support nested components"
https://guides.emberjs.com/release/reference/syntax-conversion-guide/#toc_when-to-use-classic-invocation-syntax

In Ember 3.10 support for nested angle bracket components was added, but the guides still say that it is not supported and does not show an example of how to use them.

[2019-06-22 21:28] NullVoxPopuli opened #881 "built-in helpers page is missing some key helpers"
Page: https://guides.emberjs.com/release/templates/built-in-helpers/

List of builtin helpers: https://api.emberjs.com/ember/3.10/classes/Ember.Templates.helpers

I noticed this when I wanted to find a link to some good `hash` examples.
Some of the other helpers would probably be good to document on the built-in-helpers page as well.

I do see that there is this:

so maybe, ... idk. maybe a list o

[2019-06-25 20:11] efx commented on #846
I think we can close this?

[2019-06-26 01:40] #879 closed

[2019-06-26 08:43] locks commented on #881
I think maybe we can even remove this guide and have an obvious link in the introduction of templates?

[2019-06-26 08:44] #846 closed

[2019-06-26 08:44] locks commented on #846
Thanks!

[2019-06-27 14:20] josephan opened #893 "Ember Guides: Ack! An unknown error has occured!"
The network request to fetch the page contents of the guides seems to be failing:

Request:
[code]
Response:
[code]

![Screen Shot 2019-06-27 at 10 15 57 AM](https://user-images.githubusercontent.com/8878596/60274000-47acd880-98c5-11e9-87eb-d15d8d2f0cfc.png)

[2019-06-27 14:46] #893 closed

[2019-06-27 15:36] thomascchen commented on #775
I've been running into this issue today and yesterday with the same error as above in the console. I was actually running an Intro to Ember demo at a meetup last night, and the other folks were running into it too. Sometimes it works again when I close the browser and restart it. Reproduced this in both Firefox and Chrome.

[code]

[2019-06-28 01:30] locks commented on #775
We are aware of the issue and it should have been addressed again!
My best explanation at the moment is that for some reason there is a Netlify node that is returning these 5xx answers when the Ember application boots up and so it transitions into an error state.
@mansona has some further mitigations planned in the event the problem reoccurs.
I'm closing this issue as we have plugged that leak for

[2019-06-28 01:31] #775 closed

[2019-06-28 01:44] locks commented on #444
Postponed pending discussion about per-edition tutorials.

[2019-06-28 01:44] #444 closed

[2019-06-28 02:36] locks commented on #720
Closing this until the discussion is revisited.

[2019-06-28 02:36] #720 closed

[2019-06-28 02:42] locks commented on #710
It seems to be working now. Please re-open if I misunderstood!

[2019-06-28 02:42] #710 closed

[2019-06-28 02:54] locks commented on #335
It should be up to date. Did you end up resolving this situation? It might be worth it to make a reproduction and post to the ember.js issue tracker.

[2019-06-28 02:54] #335 closed

[2019-06-28 11:10] gossi commented on #727
Go to discuss as suggested by @locks https://discuss.emberjs.com/t/learning-ember-ember-skill-tree/16725

[2019-06-28 11:10] #727 closed

[2019-06-29 15:37] theroncross commented on #719
I'm interested in taking this on, but would like to clarify with an example before I get started.

Comparing the following:
https://guides.emberjs.com/release/getting-started/js-primer/
https://octane-guides-preview.emberjs.com/release/working-with-javascript/learning-javascript/

We need to add `guides/release/getting-started/js-primer.md` with the following
[code]
Is that correct?

[2019-07-01 15:11] jenweber opened #906 "Update tutorial code blocks to use Octane version of Super Rentals"
The code should match what is in [ember-learn/super-rentals](https://github.com/ember-learn/super-rentals/issues) `octane` branch.

Branch from `octane` and PR back into `octane`

See #907 too

[2019-07-01 15:12] jenweber opened #907 "Update Tutorials prose to match Octane"
See #906 as well.

Branch from `octane` and PR back into `octane`

[2019-07-01 15:35] ijlee2 commented on #428
@MelSumner @locks I can help with this.

[2019-07-01 15:50] ijlee2 commented on #428
Upon discussion with the team, we thought a good place to add an explanation of Nested Components is https://octane-guides-preview.emberjs.com/release/components/defining-a-component/#toc_component-folder-structure . We will add a link to the API documentation https://api.emberjs.com/ember/release/classes/Component

[2019-07-01 20:57] jenweber commented on #428
Closed by #909. Thanks Isaac!

[2019-07-01 20:57] #428 closed

[2019-07-02 17:42] acorncom opened #911 "Teach using attributes vs arguments on the binding-elements page"
This section should be re-written. Specifically the guidance just below:

Instead we should teach using attributes vs arguments.

_Originally posted by @rwjblue in https://github.com/ember-learn/guides-source/pull/837_

[2019-07-04 11:01] NullVoxPopuli commented on #828
@sivakumar-kailasam are still working on this? is there someway I can help?

[2019-07-04 18:56] sivakumar-kailasam commented on #828
Thanks @NullVoxPopuli 🙏

[2019-07-04 18:57] NullVoxPopuli commented on #828
Work has begun over here: https://github.com/ember-learn/guides-source/pull/912

[2019-07-05 16:20] jenweber opened #914 "Can't run guides locally due to infinite render loop"
Contributors reported:

[code]

and similar errors when they did not use the npm lockfile or tried to update dependencies. As of version 1.4 of `ember-auto-import`, polyfills are not included by default. This can be fixed by adding the following config to `ember-cli-build.js` in the upstream guidemaker:

[code]

See https://github.com/ef4/ember-auto-import/pull/227

[2019-07-05 16:30] jenweber commented on #914
Upstream PR https://github.com/ember-learn/guidemaker-ember-template/pull/23

When this is released, we should bump our template version

[2019-07-05 17:34] jaredgalanis commented on #876
@jenweber can we close this?

[2019-07-08 08:01] #406 closed

[2019-07-08 18:30] efx opened #918 "Octane - upgrading guide uses html comments instead of hbs ones"
I noticed that the [Editions Deep Dive](https://octane-guides-preview.emberjs.com/release/upgrading/editions/#toc_angle-bracket-syntax) page uses HTML comments for added explanation:
<img width="847" alt="Screen Shot 2019-07-08 at 14 24 23" src="https://user-images.githubusercontent.com/472721/60833396-2cc34980-a18c-11e9-80dd-01b77ee5b0d0.png">
The [no-html-comments](https://github.com/ember-templ

[2019-07-10 13:26] rwjblue commented on #918
Seems good to migrate them to handlebars comments to me.

[2019-07-10 20:59] shankarsridhar commented on #918
Hello repo owners, I'll be happy to send a PR for this. Let me know 😃

[2019-07-10 21:05] efx commented on #918
@shankarsridhar that would be great; go for it! You can open the PR against the Octane branch and if you hit any blockers asking in the #dev-ember-learning channel in discord is a good step.

[2019-07-11 13:45] rwjblue opened #925 "Missing optional features"
The following optional features are missing from [/configuring-ember/optional-features/](https://guides.emberjs.com/release/configuring-ember/optional-features/). The prose under each section is directly from the prompt in `@ember/optional-features` when you run `ember feature:enable <feature name>`

### application-template-wrapper

This will remove the `<div class="ember-view">` wrapper for the

[2019-07-11 13:45] rwjblue commented on #925
IMHO, a good start for documenting these would be copying that prose above but I do suspect we'd want _some_ tweaks...

[2019-07-12 03:32] #876 closed

[2019-07-12 03:36] jenweber commented on #435
Closed, this is now covered in https://guides.emberjs.com/release/addons-and-dependencies/managing-dependencies/

[2019-07-12 03:36] #435 closed

[2019-07-12 03:39] jenweber commented on #388
I think this can be closed since the new landing page has shipped. Feel free to reopen if you meant something else. Thanks!

[2019-07-12 03:39] #388 closed

[2019-07-12 03:40] jenweber commented on #245
Thanks everyone who helped with this issue back in the day! I think we hit all the major points. Closed.

[2019-07-12 03:40] #245 closed

[2019-07-12 03:41] jenweber commented on #395
Closed, I think we have hit all these points. Thanks all!

[2019-07-12 03:41] #395 closed

[2019-07-12 03:42] #399 closed

[2019-07-12 03:44] jenweber opened #928 "Bug - in the Octane branch, Controllers page is 404"
Check releases/pages.yml to see if something is mismatched with the actual md filename/path. pages.yml controls what shows up in the table of contents.

[2019-07-12 14:08] rwjblue opened #929 "Change "classic invocation" to "curly invocation" in angle bracket syntax conversion guide"
Currently the [angle bracket syntax conversion guide](https://guides.emberjs.com/release/reference/syntax-conversion-guide/#toc_angle-bracket-syntax) uses the term "classic invocation" to refer to curly invocation, unfortunately this conflicts pretty strongly with what we decided was "classic components".

Specifically, "classic components" means components extending from `Ember.Component`, it is

[2019-07-12 22:22] shankarsridhar opened #932 "Add acceptance tests for testing dead/invalid links in sidebar"
In future, this could help in avoiding issues like https://github.com/ember-learn/guides-source/issues/928

[2019-07-15 11:52] bekwam opened #936 "Update"
I'm going through the tutorial using 3.10.1.  The unit tests I generated don't quite match the guide.  For instance, the QUnit screenshot in "Testing Our Application As We Go" references 9 tests but my tutorial generated only 8.

[2019-07-15 11:55] bekwam commented on #936
Here's my resulting QUnit report

![image](https://user-images.githubusercontent.com/6334243/61214448-edd64c00-a6d5-11e9-9993-a6fd1bc5050b.png)

[2019-07-17 07:32] contrerasmarc opened #938 "'role="button"' is missing"
in section 'Creating a Handlebars Helper':
In line 5 of the 4th 'black screen" I believe is missing ' role="button" ' (wrote in section 'Building a Simple Component')

[2019-07-17 07:38] contrerasmarc opened #939 "' role="button">' must be deleted (with a '-' sign)"
In section 'Building a Simple Component': on the 8th black screen, I believe that line 3 must be deleted ('     role="button">')

[2019-07-17 13:40] ijlee2 commented on #458
@MelSumner @jenweber If it's ok with you and the Ember Learning Team, I'd like to help improve the Octane documentation for testing. I am planning to take a break from work on July 26-31 and work on personal projects.

I looked at how the Testing section currently reads from the perspective of a beginner. Some of the contents are great, but I thought the Testing section, overall, can use more poli

[2019-07-18 16:46] toddjordan commented on #458
Thanks for being willing to take on making tests more accessible to new users <3

I have a few comments...

1. I think probably 3rd party tools should be a separate section at the end.  Installing many of these tools change the way you write tests and since the rest of the guides are written assuming out of the box tooling I think it could cause a new learner some grief.  Also, what is the criteri

[2019-07-18 16:50] toddjordan commented on #458
The other thing we'll need to be careful for is not providing a bunch of advanced examples interleaved with beginner focused examples.  We want to make a clear path for a beginner to get bootstrapped and writing tests, and not get them bogged down in trying to understand scenarios that they may not need, or may not even be prudent for them to do at first.

[2019-07-18 18:45] ijlee2 commented on #458
@toddjordan, much thanks for your feedback. I agree with many of your points and can clarify my ideas further (number scheme matching yours):

**1. 3rd party tools**
- To ask for clarification, where did you vision the 3rd party tools to be? Are we looking at the end of the Introduction page, or the end of the Testing section (i.e. in my list above, after Testing Utility)?

- I'd like to show code

[2019-07-19 21:31] stopfstedt opened #945 "template linting error in quickguide example"
going through the guides today, and noticed that this snippet

[code]

source : https://guides.emberjs.com/release/getting-started/quick-start/#toc_click-events

is causing a template linting error:

[code]

[2019-07-20 14:16] shankarsridhar commented on #918
I think this can be closed.
This was fixed by https://github.com/ember-learn/guides-source/pull/930

[2019-07-22 07:42] #918 closed

[2019-07-22 07:42] locks commented on #918
Thanks!

[2019-07-24 18:26] jenweber opened #951 "Fix the Ember Data links that changed"
With the Ember Data package refactor that shipped in 3.11, a lot of our Ember Data guides content links to things that have moved, so users are getting 404s! We need help with two things (separate PRs please).

1. Go through the links on the Ember Data pages in the `release` folder and update them to point to the new docs locations. The URL you use should have "release" in it and not a specific ve

[2019-07-25 23:09] jenweber commented on #951
Closed with #952

[2019-07-25 23:09] #951 closed

[2019-07-25 23:11] jenweber opened #953 "Testing - Write a link checker that looks for 404s in API docs"
There are lots of links in the Guides! We need to know when the links to external resources like other website or the API docs are broken. Write a test that checks all API docs links for the release folder. We only want to check the release folder so we don't DDOS ourselves.

There are lots of open source libraries that can check links in markdown files. Pick one and see how it goes!

[2019-07-26 00:55] john-griffin opened #956 "Generators do not work as described in octane ember-data guide"
I hit something when running the first reference to an ember-data generator in the octane docs https://octane-guides-preview.emberjs.com/release/models/defining-models/

https://github.com/john-griffin/guides-source/blame/ac09ffcaa8e9b2a85ff4821427c75ccf0b4c6cf4/guides/release/models/defining-models.md#L12

Running it creates a classic style model. To generate an octane style model the following m

[2019-07-26 02:20] sivakumar-kailasam commented on #953
One way to give this a try without worrying about launching a DDOS on us is to run a local instance of ember API docs in production mode and rewrite all the API urls you identify in your test code to check it against your local instance.

If you feel interested in this issue but need help getting started with this, feel free to reach out to me on discord

[2019-07-30 13:28] llunn commented on #953
I'll take a stab at this one.

[2019-07-30 14:57] #925 closed

[2019-07-30 20:55] #945 closed

[2019-07-30 21:10] jenweber commented on #953
Thank you @llunn! Let us know if you have any questions! Siva's idea makes a lot of sense to me. It's a bit tough to run the API docs 100% locally so please reach out if you hit any problems. The #dev-ember-learning channel on Discord is a good place to chat or bounce ideas.

[2019-08-01 15:03] maxwondercorn commented on #877
Is this the supposed to be the Syntax Conversion Guide shown on the Octane preview guides? I noticed the [link](https://guides.emberjs.com/release/reference/syntax-conversion-guide/) is broken and there isn't anything on syntax conversion in the guides source.

[2019-08-01 19:00] chancancode opened #969 ""ES2015" is misleading"
There are several places in the guides that references "ES2015". I think that's probably wrong/misleading (async functions are not part of ES2015, for example). We should probably just say "JavaScript module", "modern JavaScript", etc, rather than chasing the moving target.

[2019-08-01 21:52] chancancode opened #970 "Do we need the "Building For Production" section in the quick start guide?"
The nature of the quick start guide is that it's _quick_, and it just walks you through the a few basic features to give you a taste test, omitting a lot of other equally useful things along the way. For example, it doesn't happen to teach you to add CSS, write a helper, or how to debug your app with Ember Inspector, and I think that's totally fine.

With that in mind, do we _really_ need to cover

[2019-08-02 00:17] rwjblue commented on #969
Agreed

[2019-08-02 00:30] rwjblue commented on #970
I do think its vaguely important to make it clear that you should always be deploying production builds, but I totally agree that deployment concepts are quite a bit past "quick start".

[2019-08-02 01:37] amyrlam opened #971 "Broken (404) search link"
![transpile](https://user-images.githubusercontent.com/1372946/62337851-24101b80-b48b-11e9-822f-6a57c8feab6d.gif)

* Search for "transpile"
* In lower left hand side, says link should be https://guides.emberjs.com/glossary/web-development#toc_transpile (doesn't go to this link, but is a 404)
* Goes to https://guides.emberjs.com/glossary#toc_transpile, link is a 404

I see the content here: https:/

[2019-08-02 09:10] mansona commented on #914
So as I mentioned in the "Upstream PR"... that won't actually change anything down here in guides-source 🤔 we need to add that autoImport config to this repo's ember-cli-build for it to do anything.

We can do some magic in the index.js upstream but that is a bit strange messing with consuming apps config and I'm not too sure we should be relying on it too much.

[2019-08-02 11:26] #969 closed

[2019-08-02 15:14] jenweber opened #973 "Octane - Rework templates section"
It is best for us to conceptualize templates as components. We should possibly integrate Components and Templates.

[2019-08-02 16:45] chancancode commented on #973
yasss 🙌🏼 I was thinking the same thing as I was working on co-location updates. I thought that may be too big of a change, but if you think that’s a good idea also, maybe I can try to do some of this

[2019-08-02 18:27] jenweber opened #974 "Octane - update for template co-location"
@chancancode is working to update filepaths and prose to reflect RFC 481 https://github.com/emberjs/rfcs/blob/master/text/0481-component-templates-co-location.md

[2019-08-02 18:31] jenweber opened #975 "Octane - revise Components section"
Now that we have a clear view on Octane features and mental model, we should update the Components intro to reflect the main concepts in an explicit way.

This is WIP by @tomdale and @jenweber. The branch is `octane-components-editing`

[2019-08-02 18:43] acorncom commented on #970
Agreed on the drawing an owl part (and choosing Apache vs any other approach is completely up for debate). That said, we've dealt with a number of folks over the years who had no idea that `ember-cli` built regular HTML, CSS and JS files that could be deployed anywhere, so whatever solution we take here should **probably** explain that part so that we don't end up with brand new folks who miss tha

[2019-08-02 18:47] chancancode commented on #970
What if we replace the last part of the quick start with a section called "Next Steps..." (or "Now What?", etc), where we have a few recommendations (links):

* Learn more about Ember (link to the rest of the guides)
* Deploying to the Internet (link to a detailed deployment guide)
* ...

[2019-08-05 14:18] locks commented on #970
Addressing this is already planned when we do the move to tutorials.emberjs.com, and https://github.com/emberjs/rfcs/blob/master/text/0431-guides-restructure.md.

[2019-08-05 14:18] #970 closed

[2019-08-05 14:28] locks commented on #863
Addressed in https://github.com/ember-learn/guides-source/pull/864 !

[2019-08-05 14:28] #863 closed

[2019-08-05 16:14] MelSumner commented on #184
I believe this provides sufficient clarification:

![image](https://user-images.githubusercontent.com/4587451/62478986-16e87a80-b772-11e9-897a-1cdcc2da36f1.png)

If any further changes are requested, I strongly suggest we engage in A/B testing before making any decisions.

[2019-08-07 21:31] mehulkar opened #984 "Testing - add a section for writing tests for different configs"
The testing guides should/could have a section on how to write tests for different values in config/enviroment. My use case is for an addon, but it would be great to have some indications of how to do both!

[2019-08-08 22:49] llunn commented on #719
I believe the way theses redirects work is the source of #971

[2019-08-11 22:29] francosioquim opened #989 "Apply prefer-const rule to MD files"
Some **.md** files with code previews are using `let variable` even though that variable never gets reassigned in the example. I think it's better to follow the rule on [prefer-const](https://eslint.org/docs/rules/prefer-const) but keen to hear your thoughts on this.

I can create a PR for this too.

[2019-08-12 09:11] belgoros opened #995 "Link to syntax conversion guide is broken"
I tried to figure out how to convert my old-styled component syntax to the new one and discovered the [broken link](https://guides.emberjs.com/reference) in [components section](https://guides.emberjs.com/release/components/):
<img width="565" alt="Screenshot 2019-08-12 at 11 08 37" src="https://user-images.githubusercontent.com/83579/62855192-d51b7f00-bcf1-11e9-9803-b82f37472963.png">

that retur

[2019-08-12 13:47] mansona commented on #995
Hey @belgoros thanks for your issue report 👍 it was a known issue that has literally got fixed nearly the same moment that you reported the issue 😂 I think the deployment was still in progress at the time.

I have double-checked the live guides and it does look like the link is fixed now 🎉 thanks again for taking the time to report it!

[2019-08-12 13:47] #995 closed

[2019-08-12 13:48] belgoros commented on #995
@mansona Ha-ha, cool, thank you. I'll try to be faster next time 😃

[2019-08-12 14:59] locks commented on #989
Thanks for your interest. For the Ember projects we use a strategy called [liberal let](https://madhatted.com/2016/1/25/let-it-be). Can you review that blog post and if there are `let` bindings that should be updated according to it?

[2019-08-12 21:06] francosioquim commented on #989
👍 Cheers @locks for pointing that out.  That blog provides a good background on why **liberal let** makes sense to some degree.  I'm into **constantly const** but I don't want to turn this into a **liberal let** vs **constantly const** topic 😄

The only main issue that I can think of is that more devs are following **constantly const** (I could be wrong?) especially on projects using *prefer-const

[2019-08-12 22:25] MelSumner commented on #669
https://octane-guides-preview.emberjs.com/release/components/yields/ should be updated so it doesn't use a modal. They are tricky for many reasons, accessibility being one of them.

[2019-08-14 00:30] llunn commented on #843
This appears to not longer result in a 404, with the View 3.11.0 link, nor using the dropdown to choose 3.8.0; in the former case it goes to the index page.

[2019-08-23 00:27] amyrlam opened #1013 "Markdown oddities"
![image](https://user-images.githubusercontent.com/1372946/63558453-d757b780-c501-11e9-8e0b-a892ccb67f6a.png)

https://guides.emberjs.com/release/accessibility/application-considerations/#toc_ember-applications-vs-roleapplication

(1) Not sure why `Ember applications vs role="application">` appears?
(2) `TL;DR` has dotted underline. On hover, a question mark appears (hard to capture in screenshot)

[2019-08-23 14:57] jenweber opened #1016 "Change checkbox input to a text input"
_This issue is good for beginners. Read [Making your first pull request](https://github.com/ember-learn/guides-source/blob/master/CONTRIBUTING.md#making-your-first-pull-request) and ask for help if you run into issues! Experienced contributors are asked to search for other things to fix._

In [this guide](https://github.com/ember-learn/guides-source/blob/master/guides/release/templates/input-helpe

[2019-08-23 15:53] ryanolsonx opened #1018 "Embedding Ember.js"
From an end-user perspective, https://guides.emberjs.com/release/configuring-ember/embedding-applications/ isn't complete.  It tells me how to configure Ember.js so that it _can_ be embedded, but it misses the last step: embedding the Ember.js application.

It would be very helpful to have an example of how to actually embed an Ember.js application after following those steps.

For example, if I h

[2019-08-23 17:13] mehulkar opened #1019 "Accessibility section issues"
New Accessibility section is 🔥!

Found 3 issues:

- In the [Accessibility Addons section](https://guides.emberjs.com/release/accessibility/application-considerations/#toc_accessibility-addons), the `ember-component-focus` addon is recommended with the note that it provided a Mixin. That might be a little confusing considering that ember is discouraging the use of Mixins going forward.
- The [langu

[2019-08-23 17:19] mehulkar commented on #1013
Both of those seem expected.

- The first is the title of the section (maybe it could be changed?)
- The second is using the `<abbr>` tag (which I didn't know about ebfore reading this). In Safari, it doesn't seem to do anything, but https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr

[2019-08-23 18:16] amyrlam commented on #1013
@mehulkar Appreciate the chime in!

^ Changed to #s above

//

For (1), the title appears 2x is what I mean, the second time with a trailing `>`:

![image](https://user-images.githubusercontent.com/1372946/63614091-11bf6400-c597-11e9-96b0-02eec761f19c.png)

But the `##` heading only appears 1x in the markup, and doesn't repeat for other instances of `##`:

![image](https://user-images.githubuserco

[2019-08-23 18:46] MelSumner commented on #1019
There can't be multiple values for the lang attribute.

so this is okay:
[code]

This is not okay:
[code]

Of course, as I write this, I realize we could add this example to the documentation to clarify. Thank you for the suggestion!!

[2019-08-28 14:13] jenweber opened #1026 "Refactor deploy script to prevent timeout"
Instead of making Netlify run the build, we should make Travis run the build and push the built files to Netlify. We can delay this for a little while, but not long. Our deployment builds on Netlify seem to be failing at a significant rate, maybe 30-50%. The cause of this is that Netlify appears to have a 15 min time limit that cannot be changed.

This approach may be helpful: https://therocketeer

[2019-09-01 16:23] jenweber commented on #1026
I emailed Netlify to ask about extending the time limit.

Worst case scenario, I think we could build the app locally and push the dist directory using the CLI. We'll see what they say!

[2019-09-01 16:46] MelSumner commented on #1019
I think I have addressed most of these issues. We'll need to look at the mixin again and see what we want to do about it, but that will require some discussion. Thank you for your feedback!

[2019-09-01 16:46] #1019 closed

[2019-09-01 16:47] MelSumner commented on #1018
I think including it in the official documentation would mean that it's something we encourage- and it's definitely a hack.

Maybe we can find someone to write a blog post about it, so the resource exists. I'm not sure it's something we want on the guides though.

[2019-09-01 17:00] MelSumner commented on #1013
@mansona can you double check to see if this is something strange in the underlying app?

I can confirm that the markdown is fine, but it's rendering strangely.

Markdown:
![image](https://user-images.githubusercontent.com/4587451/64079679-fd264e80-ccaf-11e9-943c-b50f863b1d71.png)

Render:
![image](https://user-images.githubusercontent.com/4587451/64079682-10391e80-ccb0-11e9-9f66-3f1e1da2e9e0.png)

[2019-09-01 17:03] MelSumner commented on #989
For me they are more indicators of intent- if I want to signal that something shouldn't  change, tI use `const`. If I want to signal that it's okay for it to change, then I use `let`. I thought this was standard usage. Is it not?

[2019-09-01 17:04] MelSumner commented on #984
@mehulkar can you provide some examples of what you mean?

[2019-09-01 17:05] MelSumner commented on #719
@theroncross yes that's correct

[2019-09-01 17:10] MelSumner commented on #939
This section: https://guides.emberjs.com/release/tutorial/simple-component/

- [ ] Should have instances of `<a role="button">` changed to be a button element.
- [ ] confirm that the tests are not looking for that `<a>` element (update them if so)
- [ ] confirm that the styling is not dependent on the `<a>` element (update it to only depend on class names if so)

[2019-09-01 17:13] MelSumner commented on #938
Update https://guides.emberjs.com/release/tutorial/hbs-helper/ to use a `<button>` element instead of an `<a>` element:

[code]

[2019-09-01 17:14] #932 closed

[2019-09-01 17:14] MelSumner commented on #914
@jenweber @mansona is this still an issue?

[2019-09-01 17:16] MelSumner commented on #929
Looks like this was resolved with #954

[2019-09-01 17:16] #929 closed

[2019-09-01 17:23] MelSumner commented on #877
It should link here: https://ember-learn.github.io/ember-octane-vs-classic-cheat-sheet/

[2019-09-01 17:31] MelSumner commented on #881
@NullVoxPopuli how does the indication to visit the API documentation for a full list not satisfy the issue?

@locks I don't think we should eliminate what's there but I think clarification could help.

[2019-09-01 17:49] locks commented on #956
I can't reproduce it anymore, I'm assuming the issue has been fixed in the latest blueprints :)
Thanks for reporting, and let us know if it happens again for newer versions of the blueprint!

[2019-09-01 17:49] #956 closed

[2019-09-01 18:20] jenweber commented on #877
This cheat sheet is linked on the octane branch now, so this can be closed

[2019-09-01 18:20] #877 closed

[2019-09-02 14:45] rwjblue commented on #989
The guides should stick to our general project wide coding practices (coined "liberal let" in [this blog post](https://madhatted.com/2016/1/25/let-it-be)). We can decide to change that across all of our projects, but that is likely a topic for larger meta discussion (and not decided on here in the guides-source specifically).

[2019-09-02 14:58] MelSumner commented on #989
Thank you for clarifying, @rwjblue! Closing this issue as a result of receiving this information.

[2019-09-02 14:58] #989 closed

[2019-09-03 16:16] jenweber commented on #1026
I heard back from Netlify and the only way to get a longer build time is to subscribe to an enterprise plan.

We should run the build on Travis or locally, and then push to Netlify.

[2019-09-04 16:55] jenweber opened #1036 "Change ember data URLs back to `release`"
Previously, we hard-coded API docs urls to v3.10. Now that Ember Data docs have stabilized, we should change them back to `release` and update the URL if needed. It is ok to submit a PR for one  page at a time, or all of them at once.

example from [this page](https://github.com/ember-learn/guides-source/blob/master/guides/release/models/creating-updating-and-deleting-records.md)

[code]

should b

[2019-09-05 04:00] acorncom commented on #1018
@ryanolsonx I'd concur with @MelSumner on this one. I've been working on a small book on this topic (and may write some blog posts on it as well) but it's not exactly **fun**, so probably not something we should have in the official guides (which we aim to use for best practices info). If you'd like some pointers, feel free to ping me on the Ember Discord (same username as here on Github) and I ca

[2019-09-05 06:22] chancancode commented on #1018
@ryanolsonx you should be able to run `ember build` (or `ember build -prod`), take the assets in `/dist` (other than the `index.html`) and include them on your page with `<script>` and `<style>` tags, in the same order that the the built `index.html` have them included (in particular, `vendor.js` first and then `app.js`). Once loaded, the app should boot and attach itself to the specified `rootEle

[2019-09-05 15:26] Phaeilo opened #1040 "Replace references to jsmodules.io with an MDN link"
The getting started guide provides an explanation on JavaScript modules. This includes a link to `jsmodules.io`. This website contains some advertising text and no relevant information to JavaScript modules. I think this link should be changed to a more relevant resource, for example MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Modules

[2019-09-05 15:36] sivakumar-kailasam commented on #1040
Thanks for bringing this to our attention. We didn't realise that the content on that site changed.

We'd be happy to accept a PR from anyone with this change.

[2019-09-05 16:16] ClaytonTurner commented on #1040
I could tackle this

[2019-09-05 16:18] sivakumar-kailasam commented on #1040
Go for it!

[2019-09-05 16:50] rwjblue commented on #1040
Closed by https://github.com/ember-learn/guides-source/pull/1041

[2019-09-05 16:50] #1040 closed

[2019-09-06 00:48] maxwondercorn commented on #1036
I'll pick this one up.  Probably won't be able to start on it until early next week

[2019-09-10 07:16] happyvig opened #1054 "Typo in guides/v3.10.0/routing/defining-your-routes.md line 244"
Hi team,

Just noticed a typo in the referred file name in the code snippet, that talks about routes in individual post : (highlighted in the attached image)

Changes: `templates/posts/index.hbs` --> `templates/posts/post.hbs`

![image](https://user-images.githubusercontent.com/2972622/64592010-b2e85000-d3c8-11e9-8471-ee7618b13e66.png)

Please review the same.
Thanks,
Vignesh K

[2019-09-10 07:58] #1054 closed

[2019-09-10 18:12] Alonski opened #1056 "Non accessible img alt in Services Tutorial"
# Description
The tutorial page for services contains a code example with non accessible use of alt in an img tag.

Here: https://github.com/ember-learn/guides-source/blob/master/guides/release/tutorial/service.md#display-maps-with-a-component
Online: https://guides.emberjs.com/release/tutorial/service/#toc_display-maps-with-a-component

The offending code:
[code]

[2019-09-10 18:13] Alonski commented on #1056
cc @MelSumner

[2019-09-10 19:05] jenweber opened #1057 "Sync content about updating to Octane with the blog post"
We should make [this page in the guides](https://octane-guides-preview.emberjs.com/release/upgrading/) reflect the multitude of reasonable options, rather than 1 recommended pathway. The content of this guide should be in harmony with this [blog post](https://blog.emberjs.com/2019/08/15/octane-release-plan.html).

Branch from `octane` and open a PR back into that branch please. Thanks!

[2019-09-11 05:46] happyvig opened #1059 "Typo in guides/v3.11.0/routing/defining-your-routes.md line 244"
Hi team,

Just noticed a typo in the referred file name in the code snippet, that talks about routes in individual post : (highlighted in the attached image)

Changes: templates/posts/index.hbs --> templates/posts/post.hbs

![image](https://user-images.githubusercontent.com/2972622/64671280-90683c80-d485-11e9-998f-afa25b4cd82d.png)

Please review the same.
Thanks,
Vignesh K

[2019-09-11 05:50] happyvig opened #1060 "Typo in guides/release/routing/defining-your-routes.md line 244"
Hi team,

Just noticed a typo in the referred file name in the code snippet, that talks about routes in individual post : (highlighted in the attached image)

Changes: templates/posts/index.hbs --> templates/posts/post.hbs

![image](https://user-images.githubusercontent.com/2972622/64671440-14222900-d486-11e9-8804-b9fa8c0005eb.png)

[2019-09-11 12:59] #1060 closed

[2019-09-11 21:04] bertdeblock commented on #669
Does https://github.com/emberjs/data/pull/6339 answer `Is Ember Data enabling hasMany instead of hasMany()?`. That PR added support for using the `attr`, `belongsTo` and `hasMany` decorators without parens.

[2019-09-11 22:07] chancancode commented on #669
@bretdeblock go ahead and use it without paren in the guides

[2019-09-12 01:42] llunn commented on #1013
This can be fixed by changing the quotes in the heading 3 to double single quotes like it was previously.

If someone doesn't get to it before i get my fork woes resolved I'll put in a PR for it.

[2019-09-12 07:28] bertdeblock commented on #669
@chancancode I issued a PR. I came across some other things as well but did not want to clutter this PR. How would I go about making additional changes? One PR with various separate commits or are multiple PRs preferred?

[2019-09-12 21:22] hbutau opened #1064 "Include installation of ember-fetch in Octane super-rentals tutorial."
If you follow the super rentals tutorial with Octane you will get a 404 error on the ember-cli-mirage part. This can be solved by explicitly installing ember-fetch. Without installing ember-fetch you will get: 'cannot GET /api/rentals' when you get to the part of the tutorial of installing ember-cli-mirage

[2019-09-12 22:14] #1064 closed, assigned to nobody

[2019-09-13 18:39] theroncross commented on #719
Quick question - it looks like we still have `/templates/links`, but there isn't an entry for it in the table of contents widget on the left.

Intentional? Should I open an issue and PR to add it?

[2019-09-13 20:21] theroncross commented on #971
Could be wrong, but I think these should go to `*/release/<route>` (e.g. https://guides.emberjs.com/release/glossary#toc_transpile)

[2019-09-14 08:09] maxwondercorn commented on #1036
@jenweber I started changing the links to 'release' and noticed that there are many references to and examples containing `DS.attr`, `DS.model`, `DS.belongsTo`, etc.

Since the ember-data change to module imports these don't match current usage and the api examples we are linking to.  Should I work on cleaning these up too?

I recall an issue/PR to change them when the import modules were released

[2019-09-14 20:30] jenweber opened #1069 "Tutorial infra bugs - Fix the /tutorials/ index and infinite +++++"
Right now if you visit /tutorials/ on the octane guides preview, it goes nowhere. This is a bug.

If you click on a page, it spawns lots of extra +++++ signs.

[2019-09-14 21:41] ijlee2 opened #1070 "Feedback for & Bugs found in Ember Octane Tutorial"
Hello. I followed the Tutorial section, from [Orientation](https://octane-guides-preview.emberjs.com/release/tutorial/01-orientation/) to [Interactive Components](https://octane-guides-preview.emberjs.com/release/tutorial/06-interactive-components/). I'd like to give feedback and report a few bugs that I found.

I will mark the items that I'd like us to address with the checkbox icon (i.e. `- [ ]`

[2019-09-15 15:25] #1059 closed

[2019-09-16 09:17] Gaurav0 commented on #458
@ijlee2 @toddjordan @MelSumner @jenweber Can we update this issue to clarify what remaining tasks still need to be done? Thanks!

[2019-09-16 11:53] ijlee2 commented on #458
Hi, @Gaurav0. Thanks for asking.

I don't have edit permission to update Melanie's comment, so let me copy-paste it here:

- [x] explanation for why the types of tests introduced in the guides go in directories with legacy names (acceptance, integration).
- [x] explanation of why both Unit Tests and Container Tests both go in the unit directory.
- [ ] examples of nesting modules. (A module within

[2019-09-16 13:52] Gaurav0 commented on #458
Sounds good. I put some stubs stuff in unit testing basics for now, when you get to "How to write tests" we can see if we can move it there.

[2019-09-16 13:55] Gaurav0 commented on #458
Melanie copied the issue from my analysis. 6 has to do with using async/await on functions that return promises. 7 is about query parameters, currently shoehorned into controllers. 8 is about importing a native class rather than using this.owner. 9 is all about the run loop, what it is and why it needs attention during tests.

[2019-09-17 14:32] ijlee2 commented on #458
@Gaurav0 Thanks for your explanation. Yeah, I need help from more people with writing the testing doc, so it'd be great to have your help.

I'm not sure what time zone you're in (I'm in central), but maybe we can do a video meeting to talk about how to divide the remaining tasks? I can be available at most times starting tomorrow (Sep 18, Wed). Would that be all right with you?

[2019-09-18 17:25] Gaurav0 commented on #458
I'm in Eastern. Let's discuss meeting on Discord.

[2019-09-20 11:36] llunn commented on #1069
This also affects non-octane.

The [problem is here](https://github.com/ember-learn/guidemaker-ember-template/blob/9ccf8878b92e660198b9a19fb0aa046b3c0b85f0/app/components/guides-article.js#L110) in guidemaker-ember-template .

[2019-09-20 16:41] efx opened #1087 "octane: audit for and remove semicolons after native class declarations"
Your friendly semicolon nitpicker here 😅

I noticed that the service declaration snippets in the [services overview page](https://octane-guides-preview.emberjs.com/release/services/#toc_accessing-services) contain semicolons at the ends:
<img width="861" alt="Screen Shot 2019-09-20 at 12 35 29" src="https://user-images.githubusercontent.com/472721/65343523-2ba69380-dba3-11e9-89a5-262a39de7ca9.png"

[2019-09-21 03:13] asbillings07 commented on #1016
Could I take a stab at fixing this one?

[2019-09-21 11:27] acorncom commented on #1016
@asbillings07 please do!

[2019-09-21 13:50] asbillings07 commented on #1016
Awesome. Will get started on it. Thanks!

[2019-09-22 04:37] chancancode opened #1091 "Links in headers does not render correctly"
Something like this:

[code]

Causes some kind of rendering bug that turns the whole section (the h3 and the entire list) to become a single link.

[2019-09-22 04:38] chancancode commented on #1091
Workaround atm: https://github.com/ember-learn/super-rentals-tutorial/pull/61

[2019-09-24 18:44] MelSumner commented on #849
@jenweber would this deck work? https://noti.st/melsumner/Hl16PZ/hands-on-with-ember-octane

[2019-09-24 19:42] MelSumner commented on #849
This is in text format and is more guides friendly- https://www.notion.so/Atlas-Recommended-Migration-Order-a22f948a7cce4e01896d674f727bee74

[2019-09-26 11:48] jenweber opened #1107 "Add ember fetch to the octane upgrade guide"
When you disable the jquery integration, you have to add ember fetch for ember data to keep working.

I think the intention is to include ember fetch in ember source, but I am not sure if that has been done yet, and for which versions.

[2019-09-26 12:22] NotGrm commented on #588
I just saw a duplicated paragraph in tutorial, here is the PR to fix it https://github.com/ember-learn/guides-source/pull/1108

[2019-09-27 18:12] runspired commented on #741
@efx is spearheading an effort to audit the docs in ember-data over the next 6 months, would be a good time for some learning team members to do the same for guides.

[2019-09-27 21:50] chancancode opened #1111 "Settle on the final tutorial paths!"
Things to fix/decide on before shipping Octane guides!

* We need to make /tutorial work (redirects to part 1 intro probably)
* Do we want to use the Nested Nav feature @pzuraq worked on?
* Do we want to keep the `00-...`, `01-...` prefixes?

For the last point, I did it so that they would sort correctly in lexicographic order, and I don't have to worry about specifying the order externally in [my

[2019-09-29 03:31] mitchlloyd opened #1113 "Built-in helpers - The let helper - Code/narrative mismatch"
I've been reading through the preview guides and I'm enjoying them!

I noticed that [the section about the let helper](https://octane-guides-preview.emberjs.com/release/templates/built-in-helpers/#toc_the-let-helper) seems to be in flux. It mentions using a `capitalize` helper but that doesn't appear in the example code. Instead the code uses `concat` only.

[2019-09-29 14:33] rwjblue commented on #1113
Thanks for reading through, and reporting!

[2019-10-01 12:12] chiangs commented on #1056
Happy to do this quick and easy one :)

[2019-10-01 20:11] chancancode opened #1124 "Zoey/Tomster should have `alt=""`"
@MelSumner brought it to my attention.

According to [the Web Accessibility tutorial](https://www.w3.org/WAI/tutorials/images/decorative/), the Zoey/Tomster images in "Zoey/Tomster says..." are decorative, therefore should have an empty `alt` attribute (`alt=""`).

I addressed it in the tutorial in https://github.com/ember-learn/super-rentals-tutorial/pull/74, but this problem is more widespread t

[2019-10-01 20:35] chancancode commented on #1111
Today in the Octane meeting we settled on:

* Remove the number prefixes (need some work on the https://github.com/ember-learn/super-rentals-tutorial/ side, @chancancode will work on it)
* Use #1104 to nest the tutorial

So:

* `/tutorial/` redirects to `/tutorial/part-1/`
* `/tutorial/part-1/` is the "Part 1 Introduction"
* `/tutorial/part-1/working-with-data/` etc
* `/tutorial/part-2/` is the "P

[2019-10-02 01:59] #907 closed

[2019-10-02 02:00] jenweber commented on #928
Closed, fixed!

[2019-10-02 02:00] #928 closed

[2019-10-02 02:00] #906 closed

[2019-10-02 02:01] jenweber commented on #849
Closed, this has been deployed to the octane preview.

[2019-10-02 02:01] #849 closed

[2019-10-02 15:00] #433 closed

[2019-10-02 15:07] glidej commented on #871
@Benjy1979 👋I'm having trouble recreating this issue. When I run `ember g adapter adapter-name` on ember-cli v3.10.1 (which is what npm resolves when I `npm i ember-cli@3.10.0`) I get:

[code]

This still differs from the docs (`namespace` shouldn't be there), so there's definitely something going on here, but your output has a considerably more dramatic diff 😂. Can you confirm your `ember-cli` ve

[2019-10-02 15:16] glidej commented on #646
@jenweber It looks like this issue might be stale! #729 was merged back in April and appears to fix this issue.

[2019-10-02 15:28] #1013 closed

[2019-10-02 15:33] glidej commented on #938
@MelSumner I'd like to take a crack at this one. It looks like we'd need to update the usage in a few other files as well, [simple-component](https://github.com/ember-learn/guides-source/blob/master/guides/release/tutorial/simple-component.md), [service](https://github.com/ember-learn/guides-source/blob/master/guides/release/tutorial/service.md), [subroutes](https://github.com/ember-learn/guides-s

[2019-10-02 15:39] jenweber commented on #1016
P.S. if you want to participate in Hacktoberfest, this PR counts! https://hacktoberfest.digitalocean.com/

[2019-10-02 16:25] MelSumner commented on #938
@glidej I think it's a great start, and if we find that we have missed anything more, we will already know how to improve it! :)

[2019-10-02 23:04] ab-develops-ads commented on #1016
Ah okay. I'll take a look at another one I can submit a PR for.

[2019-10-03 02:10] glidej commented on #914
@MelSumner I'm running into this right now. If I change my package.json locally to reference [this](https://github.com/ember-learn/guidemaker-ember-template/pull/27) merge commit it works locally.

[code]

[2019-10-08 03:16] samselikoff opened #1133 "ember serve vs. yarn/npm run start"
Just a small inconsistency. The quickstart says

[code]

but my terminal showed

[code]

Also the language "We suggest you that you get started by typing" has a typo and (I think) could be more direct! Maybe "Get started by typing:"

[2019-10-08 03:23] samselikoff opened #1134 "Thought on quick start"
The first component we make is a `<PeopleList />`, but the main motivation for this is reuse (as the help text describes). But then we don't reuse the component.

What if the example was something like a `<PersonCard>`, so the user could see the component being reused?

The refactor would be

[code]

[2019-10-08 18:12] mehulkar opened #1136 "Move debugging to top level section"
Debugging is currently a subscection of Configuration in the guides:

https://guides.emberjs.com/release/configuring-ember/debugging/

It would be great to pull this up to the top level and give more developers the tools they need to be able to dig deeper!

Some ideas on subsections:

- Additional Logging
- Ember Inspector
- Template helpers (`debugger` and `log`)
- Guidance on making reproduction

[2019-10-08 18:15] mehulkar commented on #1136
The Octane section is mostly the same: https://octane-guides-preview.emberjs.com/release/configuring-ember/debugging/

[2019-10-08 19:11] mehulkar commented on #1136
Was directed to these by @bendemboski, and I think these could be good to consolidate also!

- https://guides.emberjs.com/release/templates/development-helpers/
- https://octane-guides-preview.emberjs.com/release/templates/built-in-helpers/#toc_development-helpers

[2019-10-08 21:40] jenweber opened #1137 "Bug - table of contents shows topics for older versions"
If you visit 1.12, you will see there is a topic called `Cookbook`. Then if you switch versions to 3.13, you can still see `Cookbook`, which is nonexistent in that version.

I believe the problem was introduced in guidemaker here: https://github.com/empress/guidemaker/pull/18/files

To fix this bug, work needs to be done in that repo, and then there should be a PR to guides-source to updater the g

[2019-10-08 21:56] rwjblue commented on #1133
Thanks for reporting!

This message is printed by ember-cli itself.

@dcyriller - Have any cycles to poke at this? I think it would also target the `release` branch of ember-cli...

[2019-10-08 21:58] jenweber commented on #1137
Advice from runspired:

so there's two things that can be done here
(1) everywhere you call findRecord or findAll you always pass in the reload: true option
(2) go back to using query and queryRecord which seem to me like what you may actually want, then fix the URLs

[2019-10-09 09:23] dcyriller commented on #1133
You're right, "Get started by tying" is better (https://github.com/ember-cli/ember-cli/pull/8882).

That said, can I argue for `yarn start` over `ember serve`? 😉

Running `ember serve` implies ember-cli is installed globally. Instead `yarn start` (or `npm start`) executes ember-cli project's version.

Globally installed packages tend to be outdated very fast. Should we not reference local usage ov

[2019-10-09 12:09] dcyriller commented on #1133
Please forget about my previous comment. I won't have time / focus to do what I suggest.

The ember-cli PR is updated with `ember serve`.

[2019-10-09 16:46] void-mAlex opened #1138 "Octane @tracked properties in native classes models do not JSON.stringify"
declaring models as util classes and using `@tracked` property (as described here https://octane-guides-preview.emberjs.com/release/state-management/tracked-properties/#toc_tracked-properties-in-custom-classes) causes any such model passed to a `JSON.stringify` call to omit any tracked properties from the json output.
if short doing this
[code]

solution would be implementing `toJSON` method in th

[2019-10-09 18:44] rwjblue commented on #1133
Ya, I definitely agree with you here.

[2019-10-10 14:51] jenweber opened #1140 "Document nested components, `<Buttons::Info>`"
Some time ago, we released support for components that are nested in the directory structure. But this isn't shown in the Guides!

For this Issue, please find a section of the Guides where we should document this feature. You should do your work from the `octane` branch at first, and open a PR with a draft. After you get some feedback, you should copy the resulting explanation into all versions wh

[2019-10-10 15:01] jayjayjpg opened #1141 "Add link to Contribution Guides"
The current [Contribution Section](https://guides.emberjs.com/release/contributing/) should be replaced with a short description and a link to the [contribution guides](https://github.com/ember-learn/contribution-guides/issues/1) once they're released.

[2019-10-10 15:44] rwjblue commented on #1138
Indeed this is a problem largely due to the way that `@tracked` itself is currently implemented. `@tracked` set's up getters and setters on the prototype, and `JSON.stringify` won't include them since they are not instance properties.

More information over here https://github.com/emberjs/ember.js/issues/18220

[2019-10-10 17:33] void-mAlex commented on #1138
@rwjblue do you know how ember data works around this problem as I would expect that @attr in models will have the same issue and reading the link you posted that would have a performance impact with using the data models (please correct me if I'm missing something)

[2019-10-21 19:07] pzuraq opened #1151 "Update Octane modifier examples to use `ember-modifier`"
We recently put together [ember-modifier](https://github.com/ember-modifier/ember-modifier) to provide single community driven modifier API that succeeds both `ember-functional-modifiers` and `ember-class-based-modifiers`. We need to update the existing examples that use the other libraries to use it instead.

Note, the docs shouldn't be too in depth - the addon should still provide the majority o

[2019-10-22 15:32] #1137 closed

[2019-10-23 05:22] sivakumar-kailasam commented on #1151
Fixed by #1154

[2019-10-23 05:22] #1151 closed

[2019-10-31 15:51] jenweber opened #1160 "Octane components guide v2"
This plan was composed by @wycats and @pzuraq. Work is underway to implement it.

# Octane Components Guides v2

Goal: To create an introduction to the framework that properly sets up the mental model for beginners, and is accessible to existing users, without getting too mired in the details.

### What is the overall topics flow?

The guide starts off by introducing templating as a superset of HT

[2019-11-14 09:24] sly7-7 commented on #669
@jenweber @MelSumner I made some little prs against the octane branch, hope this helps.
See https://github.com/ember-learn/guides-source/pull/1174 https://github.com/ember-learn/guides-source/pull/1175 https://github.com/ember-learn/guides-source/pull/1173

[2019-11-15 01:11] jenweber commented on #975
This work is currently underway in #1150

[2019-11-15 01:12] jenweber commented on #974
I think this has been done. Closed.

[2019-11-15 01:12] #974 closed

[2019-11-15 01:12] jenweber commented on #973
Closed, superseded by work being done in #1150

[2019-11-15 01:12] #973 closed

[2019-11-15 01:33] #843 closed

[2019-11-15 19:51] amyrlam opened #1179 "Page in older versions appears to exist on release, when it actually does not exist on release"
See: https://github.com/ember-learn/guides-source/pull/1171

* If you go from the v1.10.0 link https://guides.emberjs.com/v1.10.0/models/the-rest-adapter/, then click "View v3.13.0", the url https://guides.emberjs.com/release/models/the-rest-adapter/ "falsely" exists
* When you go directly to https://guides.emberjs.com/release/models/the-rest-adapter/, it does not exist.

cc @thejonrichmond

[2019-11-20 01:43] jenweber commented on #1179
Thanks for reporting!

Likely this is continued problems with a refactor that used findAll instead of query. A PR here partially reverted the buggy behavior: https://github.com/empress/guidemaker/pull/26

I think we need to turn the rest of the findAlls into queries.

[2019-12-02 04:54] Charizard commented on #1107
@jenweber Seems like ember data automatically falls back to use browsers `fetch` API when disabling jquery integration. But, the caveat being that it would not work in non supported browsers without `ember-fetch` (ahem IE). Ref: https://github.com/emberjs/data/blob/master/packages/adapter/addon/-private/utils/fetch.ts

So, I would suggest we should add this in the [Caveats](https://octane-guides-p

[2019-12-06 20:55] #914 closed

[2019-12-07 04:46] #1107 closed

[2019-12-08 06:17] jenweber commented on #1160
Closed by #1150

[2019-12-08 06:17] #1160 closed

[2019-12-08 06:19] jenweber commented on #975
Closed by #1150

[2019-12-08 06:19] #975 closed

[2019-12-08 06:20] jenweber commented on #767
Closed by #1150

[2019-12-08 06:20] #767 closed

[2019-12-09 22:42] pzuraq opened #1200 "Move `model` -> `ember-data`"
We've renamed Models to Ember Data, but the URLs haven't been updated just yet. We should update them to reflect the new naming.

[2019-12-10 08:39] locks commented on #1200
It was initially avoided because of the redirects, but with the Octane changes that doesn't really matter. This should block 3.15 guides.

[2019-12-11 00:22] chancancode opened #1202 "Tutorial still uses Octane blueprint"
Please block on merging the Octane branch: we need to wait for CLI release to include the final octane blueprint, then remove the `-b` flag in the tutorial's `ember new`. (Not sure if the rest of the guides uses that flag anywhere else?)

[2019-12-11 02:00] jenweber commented on #1202
Covered by https://github.com/ember-learn/super-rentals-tutorial/pull/112 and #1195

[2019-12-11 05:29] acorncom opened #1206 "[Octane] Helper function write up for let seems incomplete?"
Reading over the [helper functions page](https://octane-guides-preview.emberjs.com/release/components/helper-functions/) (toward the bottom), the `let` section seems to intend to introduce a `(capitalize)` helper and use it for `firstName` and `lastName`. But I'm a bit puzzled about **how** we intended to use it (otherwise I'd just send in a PR).

@pzuraq any pointers here?

[2019-12-11 05:33] acorncom opened #1207 "[Octane] Nested components discussion / code block a bit unclear"
Reading through the [nesting components](https://octane-guides-preview.emberjs.com/release/components/introducing-components/#toc_nesting-components-in-folders) section, things were reading well.

But then I hit the final code block section:

<img width="764" alt="image" src="https://user-images.githubusercontent.com/802505/70594157-d9bb4b80-1b9c-11ea-9c67-0b05b9202110.png">

Although I understand

[2019-12-11 05:51] acorncom commented on #1206
This also is apparently a duplicate of https://github.com/ember-learn/guides-source/issues/1113

[2019-12-11 06:36] pzuraq commented on #1206
Hmm, yeah I’m unsure what happened there, on my last pass I just copy/pasted what we had in the previous revision. We can probably just make the example consistent with capitalize everywhere

[2019-12-11 06:41] pzuraq commented on #1207
it looks like the additions and subtractions are off by one line, it should be adding index files and removing top level files. We can also probably add more language to the preceding paragraph to tell the user what’s about to happen:

“For instance, we could move the `received-message.hbs` component to `received-message/index.hbs`, and still use it as `<ReceivedMessage/>`

[2019-12-12 03:46] jenweber commented on #1179
Open PR to fix this: https://github.com/empress/guidemaker/pull/30

[2019-12-14 21:22] jenweber commented on #1140
Closed by #1209 and previous work

[2019-12-14 21:22] #1140 closed

[2019-12-20 19:13] #1111 closed

[2019-12-20 19:13] #1202 closed

[2019-12-20 19:13] #1207 closed

[2019-12-20 19:13] #1179 closed

[2019-12-20 20:09] chancancode opened #1219 "[Regression] Direct links into nested sections does not work with nav bar"
When linking directly to a nested section (e.g. https://guides.emberjs.com/release/tutorial/part-1/), the nav does not expand and select the currently active page.

[2019-12-20 20:09] chancancode commented on #1219
cc @pzuraq

[2019-12-24 01:46] CodingItWrong opened #1237 "Octane guides don't mention template `else if`/`else`"
Before Octane the Ember Guides referenced `{{#if}}`, `{{else if}}`, and `{{else}}` on the "Conditionals" page: https://guides.emberjs.com/v3.14.0/templates/conditionals/

As of the Octane Guides, the Conditional Content page only mentions `{{#if}}` — and `{{else if}}` and `{{else}}` are missing. I wasn't able to find the latter referenced anywhere in the guides.

I think it would be difficult for

[2019-12-24 02:20] chancancode commented on #1237
Sounds good to me, I think we can add something back

[2019-12-24 20:14] jenweber opened #1239 "Align Upgrade Guide with the Octane release blog post"
The advice given on this page https://guides.emberjs.com/release/upgrading/current-edition/ should be in harmony with https://blog.emberjs.com/2019/12/20/ember-3-15-released.html and https://blog.emberjs.com/2019/12/20/octane-is-here.html

To do:
- [x] add documentation and links about octanify
- [x] make sure option flag lists are complete
- [x] any other things that need to be added in

[2019-12-26 11:45] belgoros opened #1241 "Quick Start: scientists route model error"
Following the quick-start guide, when adding the `model` hook to the `scientists` route, I got the syntax error:
![Screen Shot 2019-12-26 at 12 41 48](https://user-images.githubusercontent.com/83579/71474765-465d5980-27dd-11ea-899c-565c478897ff.png)
Some more stack trace looks as follows:
[code]
Reproduced with:
[code]
More of that, the path to the error is not correct, -
[code]
contains `ember-qu

[2019-12-26 11:59] belgoros commented on #1241
My bad, I forgot to put inside the `model` :(

[2019-12-26 11:59] #1241 closed

[2020-01-02 20:33] jenweber opened #1252 "Fix broken link in the upgrade guides"
On https://guides.emberjs.com/release/upgrading/current-edition/#toc_implementing, step 5 has a bad link. To close this issue, figure out what it should be linking to and fix the link. Thanks!

[2020-01-05 20:45] jenweber opened #1254 "Input event names are incorrect"
See issue https://github.com/emberjs/ember.js/issues/18654. What is going on here, and what should we document?

[2020-01-06 09:02] sharath-sriram opened #1255 "Slow load of pages"
Every webpage in the Ember.js guides (https://guides.emberjs.com/release/) takes a considerable amount of time to load after the user's click.

There is also no user feedback to show that the click request has been registered, making the user confused if the button is actually working. There is a need to speed up the page load / at least show some kind of feedback to the user to let him know that

[2020-01-06 11:59] emmanuel-ci opened #1256 "Incorrect use of each helper"
https://guides.emberjs.com/release/routing/linking-between-routes/

[code]

version: 3.15
I've tried searching for `linking-between-routes` in the source code, but no luck.

[2020-01-06 13:18] locks commented on #1256
There is a pencil at the top of the page that should take you to the correct place in GitHub!
You can also go to the code panel of the repository, press `t` to do a file search and type `linking-between-routes` and you should get a result for this file:
https://github.com/ember-learn/guides-source/blob/master/guides/release/routing/linking-between-routes.md

If you could send a PR with the fix it

[2020-01-06 13:34] the-bionic commented on #1256
Thanks @locks. Found it.

[2020-01-06 18:31] jrock2004 opened #1258 "Broken link in Refactoring Checklist"
There is a link that is broken when you are looking at https://guides.emberjs.com/release/upgrading/current-edition/#toc_refactoring-checklist

Step 3 which is Use Named Arguments link is broken. Currently is links to https://guides.emberjs.com/release/upgrading/current-edition/editions/#toc_named-arguments

It looks like it should be https://guides.emberjs.com/release/upgrading/current-edition/te

[2020-01-06 22:30] #1256 closed

[2020-01-07 16:12] conormag opened #1259 "typo in release/upgrading/current-edition/action-on-and-fn.md"
In [https://guides.emberjs.com/release/upgrading/current-edition/action-on-and-fn/#toc_the-action-decorator](https://guides.emberjs.com/release/upgrading/current-edition/action-on-and-fn/#toc_the-action-decorator)

we read:

`components` should be replaced with `actions` or `action functions`?

[2020-01-07 17:17] rwjblue commented on #1259
I'd say we should update to:

[code]

Would you mind sending in a pull request for this?

[2020-01-07 17:21] conormag commented on #1259
will do

[2020-01-07 17:28] jenweber opened #1260 "Bug - Wrong dpi image size is shown for tutorial screenshots"
Reported on Discord:

To do:
- verify if you see this same problem on your machine
- figure out where the styling lives that determines the photo that is shown (Repos could include super-rentals-tutorial, guidemaker, guidemaker-ember-template, ember-styleguide?)
- Fix the styling/media query

[2020-01-07 17:34] chancancode commented on #1260
This is expected, as the tutorial only produce  @2x images. Is there an actual problem?

[2020-01-07 17:39] makepanic commented on #1260
We could downsize the images to 1x and use `<picture>` to let the browser load the hidpi or regular version based on the users system.

i.e. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture#The_srcset_attribute

[2020-01-07 19:18] chancancode commented on #1260
That seems fine but let’s test what the actual size difference is after the optimizations and gzip. My original hypothesis was that screenshots should compress really well as PNGs so the actual difference between 1x and 2X resolutions are not that much.

[2020-01-07 21:51] mehulkar opened #1262 "Document stubbing services caveat"
https://guides.emberjs.com/release/testing/testing-components/#toc_stubbing-services

This section shows how to stub a service in a component test, but there is a caveat. If a service was accessed in an initializer, calling `register` will not work. This should be documented somehow. A workaround would be nice as well, but I don't think there *is* a good workaround at the moment.

[2020-01-10 15:55] jacobq opened #1266 ""First" page in every group takes a few seconds before loading when clicked"
Steps to reproduce:

1. Navigate to https://guides.emberjs.com/release/
2. Click on a group to expand it, e.g. "CORE CONCEPTS" > "Components"
3. Optional: open dev tools to monitor network activity
4. Click the first link, e.g. "Templates are HTML"
5. Wait for page to load -- takes longer than expected, apparently due to 404 waiting for https://guides.emberjs.com/content/v3.15.0/components.json

N

[2020-01-10 16:01] jacobq commented on #1266
Also, Ember Inspector's "Promises" tracking tool shows a rejection "DS: RESTAdapter#ajax GET to /content/v3.15.0/components.json"

[2020-01-12 23:10] rwjblue commented on #1262
Confirm, there isn't a good work around. FWIW, I *do* think that it is plausible for us to error if the thing being registered has already been instantiated. I'm not sure exactly how often that would hit folks, but it at least would make it clearer when you are going to be hitting a problem...

[2020-01-14 12:47] conormag commented on #1252
@jenweber the broken link is `https://guides.emberjs.com/release/upgrading/current-edition/editions/` and its link text is the bold in
"Try refactoring one existing component to use Octane style. Check out the Cheat Sheet and **Editions Deep Dive** for some pointers."

I think the text should read:

"Try refactoring one existing component to use Octane style. Check out the Cheat Sheet and [In-dept

[2020-01-15 14:12] locks opened #1273 "Optional feature documentation should display expected values per Edition"
Since the values of each optional feature depend on which edition the application is on, we should make sure the documentation displays such information.

[2020-01-16 15:56] #1259 closed

[2020-01-22 23:33] rwjblue commented on #1273
It isn't _exactly_ clear how best to display this info. Specifically, we _basically_ support any specific value for the optional features on any version of Ember / Ember CLI that support the version.

I think showing the version that introduced the optional feature (this is the first version that allows the flag to be used), and the _current_ default value (default meaning the value used in the ou

[2020-01-24 16:17] PericlesTheo opened #1283 "Broken link in Services#overview section"
There is a broken link under the Services#overview section

![Screenshot 2020-01-24 at 16 15 32](https://user-images.githubusercontent.com/1856436/73084494-f8637080-3ec4-11ea-9e07-81953b0c5ffe.png)

[2020-01-24 16:18] PericlesTheo commented on #1283
Not sure how but now it works 😅

[2020-01-24 16:18] #1283 closed

[2020-01-24 19:47] amyrlam commented on #1255
I'm having the same issue. And I can help with this!

Could we add a loading state?

![guides-slow](https://user-images.githubusercontent.com/1372946/73098857-1918cf80-3e9f-11ea-948c-c61ab439c3a7.gif)

[2020-01-26 13:59] diamondo25 commented on #1266
Experienced this issue too. Not a good experience if you want to start using Ember, as it looks like the page link doesnt work.

[2020-01-27 06:05] sharath-sriram commented on #1255
Yes, a loading state would help greatly.

[2020-01-27 06:07] sharath-sriram commented on #1255
Also, Issue #1266 seems similar to this ? Should we close one of the issues and proceed further with another ?

[2020-01-27 16:18] locks opened #1285 "Improve contributing page in guides"
I think we should ultimately redirect to help-wanted.emberjs.com or similar, but for now we should at least:

- [ ] Update the link to "Ember Website"
- [ ] Update the links to "Ember Guides"
- Review "Libraries Used By Ember" (this one is a bit more fuzzy)
  - [ ] Remove morph-range
  - [ ] Update "Glimmer 2" and "HTMLBars"
- [ ] Link to help-wanted.emberjs.com
- [ ] Link to community page (so pe

[2020-01-27 16:19] efx commented on #1285
I think mention of https://github.com/adopted-ember-addons/ would be great too.

[2020-01-28 11:24] MichalBryxi opened #1286 "HTML Attributes vs Component Arguments"
I’m somehow confused about the Component Arguments vs HTML Attributes thing in [built-in components documentation](https://guides.emberjs.com/release/components/built-in-components/)

The `<Input>` component in the examples uses Component Arguments for `@id`, `@type`, `@value`  and HTML Attributes for `disabled`. But then in the table of supported `<input>` attributes one can see `value` and `disa

[2020-01-28 11:53] locks commented on #1255
Yes, thank you :) Tracked in https://github.com/ember-learn/guides-source/issues/1266 !

[2020-01-28 11:53] #1255 closed

[2020-01-28 16:23] locks commented on #1286
The built-in components are a bit special because they were designed and implemented much prior to angle bracket syntax and the possibility to pass HTML attributes ad-hoc.
There's also something special regarding `@type` because if I'm remembering correctly, you cannot change the type of an input after adding it to the DOM. There's also some shenanigans going on with the ordering of the attributes

[2020-01-28 16:24] locks commented on #1286
Can you send a PR with the change you mentioned? And tweaking the "You can pass the following standard <input> attributes within the input helper:" prose to make sure it mentions component arguments?

[2020-01-30 20:56] mehulkar commented on #1262
I haven't tested this, but `this.owner.unregister` *does* work, but it's even more of a self-own because you can't unregister and re-register the mock until after initializers have run. So no your test runs *some* of the app code with the real service and the rest with the mock.

[2020-02-05 15:39] NullVoxPopuli opened #1292 "Old observers page shows up when linked from google"
https://guides.emberjs.com/release/object-model/observers/

Discussion: https://discordapp.com/channels/480462759797063690/480777444203429888/674617768703950868

[2020-02-05 19:13] #1087 closed

[2020-02-05 19:29] rwjblue commented on #1262
"work" here is a bit relative, specifically calling `.unregister` will remove the cached singleton that was previously created however it cannot remove all references to the original value. So if you have a service that is injected into a route or other service, then you unregister/reregister, that original value will be cached by anything that looked it up prior to the unregister/register.

tldr;

[2020-02-05 23:03] mehulkar commented on #1262
Oh my god, yes! I'm pretty sure I ran into this actually (but with a different registered singleton) and it was a nightmare to debug.

[2020-02-06 00:14] jenweber opened #1293 "Describe which screen reader settings work best for the guides"
- Firefox + NVDA
- Safari + VoiceOver

This is needed because how we do diffs in the code samples does not play nice with some screen readers.

[2020-02-06 02:37] #1293 closed

[2020-02-10 06:56] dineshrbkumar opened #1297 "Octane guide editions deep dive link is broken"
The deep dive editions [link](https://guides.emberjs.com/release/upgrading/current-edition/editions/) displayed under implementing section of the octane guide  [page](https://guides.emberjs.com/release/upgrading/current-edition) seems to be broken

[2020-02-10 15:35] conormag commented on #1297
this is a duplicate of #1252

[2020-02-11 16:50] #1297 closed

[2020-02-12 21:05] jenweber opened #1300 "Figure out why search is slightly broken"
Running a search for Ember.js has the following error, which you can see if you go to the 3.16 guides and try to search for something like "computed":

[code]

During `ember deploy production`, this error was in the console:

[code]

[2020-02-12 22:51] jenweber commented on #1300
Thank you to lifeart for debugging! I'm going to open a PR to fix this.

<img width="757" alt="Screen Shot 2020-02-12 at 5 51 15 PM" src="https://user-images.githubusercontent.com/16627268/74384905-4a126300-4dc0-11ea-884a-ef36558c1f9e.png">

[2020-02-13 01:41] #1300 closed

[2020-02-13 15:10] #669 closed

[2020-02-14 02:55] kh0kv opened #1304 "B"

[2020-02-14 02:56] kh0kv commented on #1304
Battei

[2020-02-14 09:28] locks commented on #1304
Hi! Please open an issue with a description if you're having a problem.

[2020-02-14 09:28] #1304 closed

[2020-02-14 11:01] marcelotedeschi commented on #1266
I experienced this issue as well and took a deeper look into what is (potentially) happening.

Essentially, from what I understand, this is an upstream "issue" (though apparently the intended design), from [guidemaker](https://github.com/empress/guidemaker).

More specifically, it happens [here](https://github.com/empress/guidemaker/blob/master/app/routes/version/show.js#L49). When the user naviga

[2020-02-19 20:02] broerse opened #1310 "Event types are supported (camelCase)"
On Ember 3.16 `key-down` does not work but `keyDown` does https://guides.emberjs.com/release/components/built-in-components/#toc_actions

I am not sure if the guides are wrong or this a bug.

@jenweber if it is not a guides thing I will file a bug report

[2020-02-19 20:26] efx opened #1311 "further modernize core-concepts.svg"
Continue the great work in https://github.com/ember-learn/guides-source/pull/631.

The [core concepts.svg](https://github.com/ember-learn/guides-source/blob/0cdd97b6518d42c7e6b04a4f8d38c7fbbeaa09de/public/images/ember-core-concepts/ember-core-concepts.svg) file has some snippets that need updating:
<img width="733" alt="Screen Shot 2020-02-19 at 15 25 48" src="https://user-images.githubusercontent

[2020-02-20 16:29] jenweber opened #1312 "Bug - Index routes of the Tutorial and Upgrade Guide take 6s to load"
Using Guidemaker v2.3 fixed this issue for pages that are only nested one level deep, however there is still a problem for pages that are 2 levels deep, like Tutorials and Upgrading.

When [this guidemaker PR](https://github.com/empress/guidemaker/pull/39) is merged and released, we need to update the Guidemaker version we are using and it will fix this bug.

The root cause of the problem is that

[2020-03-04 15:15] jenweber opened #1319 "Include community info in the Quickstart"
In the Quickstart, we should point people towards some of our community-focused resources like the forums, chat, Ember Observer, etc. This is a followup on a chat with @wycats where we discussed that one of Ember's main differentiators is community, and our Quickstart can reflect that better.

[2020-03-04 15:26] jenweber opened #1320 "Add deployment to the quick start"
Part of what makes web apps awesome is the ability to see them live on the web. We should add a brief deployment section to the quickstart. This is a followup from a conversation with @wycats.

## Structure:

This section will describe 2 paths, in order to better serve the range of devs who might try Ember. It will describe deploying to one provider but also list others that you can deploy to and

[2020-03-06 17:48] #1319 closed

[2020-03-10 16:42] #1266 closed

[2020-03-10 16:42] #1312 closed

[2020-03-12 15:52] mansona opened #1335 "Improve auto-generated Netlify redirect file"
Recently we got an email from netlify saying that they are changing the behaviour of the redirects.

Currently, if you have a redirect defined as follows:

[code]

and you also have an index file in the location:

[code]

Netlify will ignore the file, and will respond with a 301 redirect to `/release/components/component-state-and-actions`. Apparently this behaviour was a bug and the intended beha

[2020-03-17 15:45] Aswathprabhu commented on #1252
Working on it...

[2020-03-18 08:15] #1252 closed

[2020-03-21 20:13] leondmello opened #1349 "Possible typo within the in-depth section of the guides"
I'm a little confused on [this part of the documentation](https://github.com/ember-learn/guides-source/blob/master/guides/v3.16.0/in-depth-topics/patterns-for-actions.md#destructuring-objects-passed-as-action-arguments)
[code]
The template doesn't reference `currentUserObj`,
[code]
It seems the second part is just directly accessing the service and not really using the passed in argument from the

[2020-03-22 18:19] rizkysyazuli opened #1351 "Non-standard `searchParams.set()` method in share button tutorial?"
I was reading the [share button](https://guides.emberjs.com/release/tutorial/part-2/service-injection/) tutorial when i saw the `URL` browser API. I'm not familiar with this. So i look it up on MDN and found the [documentation](https://developer.mozilla.org/en-US/docs/Web/API/URL). But i noticed that the `searchParams` property is actually read only. Which means it shouldn't have a `set()` method.

[2020-03-25 16:35] jenweber opened #1353 "Show example of aria-labelled by in Input section of the Guides"
Right now, someone might think that `<Input>` does not accept aria properties, simply because we don't show how to do it.

To close this PR, make sure that code samples in the Guides have a `<label>` done in various styles, including `for` and `labelledby`. It may also need a note explaining this.

[2020-03-25 16:39] jenweber opened #1354 "Show how to make your own input component"
In Ember Octane, we have an emphasis on teaching devs how to use Ember to interact with the DOM. We should show an example of how to create a regular `input`, as opposed to `Input`.

Showing how to write a vanilla input component serves 3 purposes:
- Teaches how to interact with the DOM
- Allows people to clearly use and understand aria properties
- empowers devs to understand the tradeoffs betwee

[2020-03-25 16:44] rajasegar-c commented on #1353
I can pick this up with some help from @jenweber
We have a lot of examples outlined here which we can reuse
https://www.w3.org/TR/wai-aria-practices/#naming_with_aria-labelledby

[2020-03-25 16:48] jenweber commented on #1354
Note, this issue should get some learning team feedback before we move forward.

[2020-03-25 16:51] jenweber commented on #1354
@ember-learn/learning-core-team please review and add your comments to this issue before our next meeting, if you can find the time!

[2020-03-25 17:00] locks commented on #1354
The last time we discussed covering `input` some issues were raised that are still relevant, like the ergonomics of updating a value on change, hope to discuss this proposal at the weekly meeting in more detail!
If we teach how to build your own "wrapper" component, meaning this wrapper component would have the change callback and expose some API to the user, I think we might end up in uncanny val

[2020-03-25 17:09] locks commented on #1349
Thanks for reporting. Are you able to send a PR with a fix

[2020-03-25 20:09] jenweber commented on #1354
The last point you made there is the framing I would like to use.

[2020-03-26 17:03] pzuraq commented on #1354
So, one of the principles we've been moving toward is exposing the primitives, and I don't think that `Input` is a primitive. Rather, it's a high level convention, but it should still be _based_ on primitives. I think having a guide that shows users how to build the conventional `Input` component (and all built-in components) would be a good idea.

There is the issue that the current `Input` is st

[2020-03-27 18:43] #953 closed

[2020-03-27 18:49] #1349 closed

[2020-03-27 18:50] MelSumner commented on #1354
I think it's a bit of change we can make to the guides _now_ that would be immediately useful. If/when we resolve the other issues, we could update the guides accordingly.

[2020-03-27 18:56] MelSumner commented on #1335
@mansona can you outline what the action steps are here? I think you're saying that we shouldn't have an index.html file but that doesn't seem feasible.

[2020-03-27 19:39] mehulkar opened #1362 "Dropdown doesn't mark 3.16 as LTS"
Seen here: https://guides.emberjs.com/release/

<img width="408" alt="Screen Shot 2020-03-27 at 12 38 40 PM" src="https://user-images.githubusercontent.com/490968/77793826-000bd680-7028-11ea-8e26-49430629ccc2.png">

[2020-03-29 01:29] rajasegar commented on #1354
@pzuraq What is `{{box}}`?

[2020-03-29 01:38] pzuraq commented on #1354
See: https://github.com/pzuraq/ember-box

[2020-03-29 01:39] rajasegar commented on #1311
@locks I can pick this up, can you please assign it to me?

[2020-03-29 02:32] rajasegar commented on #1353
@jenweber @MelSumner  I just made a draft PR please feel free to add your inputs

[2020-03-29 04:03] rajasegar commented on #1311
The new file will look like this:
![Screenshot_2020-03-29 Anatomy of an Ember App - Getting Started - Ember Guides](https://user-images.githubusercontent.com/2083049/77840018-52700300-71a0-11ea-9517-832a68639588.png)

[2020-03-31 00:43] chriskrycho commented on #1354
@MelSumner @pzuraq I agree that there’s a lot of value here, but I do *not* think it’s a good idea to show how to implement the current `Input` and `LinkTo`. There be dragons in the waters for implementing it in a way that’s backwards-compatible with positional arguments as those are currently. 🐉 🌊 (I’ve spent painful time up close and personal with both `Input` and `LinkTo` in the last couple wee

[2020-03-31 01:48] jenweber commented on #1354
To clarify, I would not intend to show a “faithful” input, rather an Octane-style input without 2 way binding.

[2020-03-31 01:49] chriskrycho commented on #1354
100% to that approach! If I had more time, I'd do it myself as it's *right* in one of my hobby-horse spaces. 😂

[2020-03-31 13:52] sharpshark28 commented on #1354
Perhaps diving into the differences between `<input>` and `<Input>` may be confusing to some. What if, instead, we describe a similar use case that comes up commonly that Ember does not attempt to solve for out of the box such as `<select>` dropdowns? We could cover a lot of the same content such as labels, a11y, setting the value and listening for change events etc.

[2020-04-01 04:33] amyrlam opened #1372 "Hide navbar search icon from Percy"
Percy shows the es-navbar magnifying glass as a change in every build:

![image](https://user-images.githubusercontent.com/1372946/78099265-33d35d00-7396-11ea-8c62-6da7a5c72d3c.png)

from https://percy.io/Ember/guides-app/builds/4695682?utm_campaign=Ember&utm_content=guides-app&utm_source=github_status_public

---

I'm not sure where to make this edit in the guides-source repo?

![image](https://u

[2020-04-01 16:22] amyrlam commented on #1372
Adding a note for posterity cc @jenweber:

This is a known issue on Percy's side and there is nothing that we can do on our end. There is an Intercom thread on this subject where @mansona was working with them

[2020-04-01 17:56] amyrlam commented on #1372
https://github.com/ember-learn/guidemaker-ember-template/blob/master/app/templates/application.hbs here is the navbar input

i can see if Percy-specific CSS carries over from one repo to another

[2020-04-02 16:04] jenweber commented on #1354
As discussed in the learning team meeting today:
- A place for these docs could be having a new article under "In-depth topics" in the Guides
- Should call it `MyInput` or similar in order to drive home that it's not `Input`
- Make good use of Zoey Says
- Show how to build the input we _want_ to have (Jen has a draft)

[2020-04-02 23:34] mehulkar opened #1377 "Move Build Targets content to CLI guides"
Corollary to https://github.com/ember-learn/cli-guides/issues/159

[2020-04-08 16:51] jenweber opened #1381 "Show how to add a page title to routes"
Every route in an Ember app should have a Page Title, which helps for accessibility and SEO. In a Route's JavaScript file, you can do something like this:

[code]

To close this issue:
- Keep it short and sweet
- Add a code example to https://guides.emberjs.com/release/accessibility/page-template-considerations/
- Explain that this is the simplest approach that is a great first step for most apps.

[2020-04-08 16:54] jgwhite commented on #1381
🤚 I’d like to tackle this

[2020-04-08 16:55] sharpshark28 commented on #1381
Could have an example for how to write a simple test.

[code]

[2020-04-08 17:33] jenweber opened #1382 "Show how to generate a unique ID to use with input labels"
After https://github.com/ember-learn/guides-source/pull/1365 is merged, I think we should show how to use guidFor to generate the ID. There is a good example in the Ember Octane Cheatsheet https://ember-learn.github.io/ember-octane-vs-classic-cheat-sheet/

[2020-04-08 21:49] rwjblue commented on #1382
https://github.com/emberjs/rfcs/issues/612 is related (and spit-balling solving this in a nice way).

[2020-04-10 18:05] mehulkar opened #1386 "Document @action async foo()"
`@action async foo() {}` seems like a really nice way to write code, but there are some gotchas that should be documented. Probably should go here: https://guides.emberjs.com/release/components/component-state-and-actions/

Following a discussion in Discord with @acorncom @raido @bendemboski @Turbo87.

[2020-04-10 19:03] Turbo87 commented on #1386
I would strongly recommend to not document this as a "really nice way to write code" because it is very error-prone, even when people are aware of the pitfalls.

[2020-04-10 21:36] raido commented on #1386
I agree this should not be promoted as the "way". But guides also lack at the moment the pitfalls what can/will happen if you do async operations in your actions without handling `isDestroyed` state of the component for example.

[2020-04-11 07:26] rajasegar commented on #1285
@locks I would like to take a look at this, can you please assign it to me?

[2020-04-11 19:33] locks opened #1389 "Dead link in getting-started/quick-start/ 3.17 §-Next steps"
"There is an official, free tutorial here in the Guides that delves deeper into some of the features you used today. Give it a try!."
Link "Give it a try!"  to https://guides.emberjs.com/release/getting-started/quick-start/tutorial  is broken / no more possible.

[2020-04-12 05:02] rajasegar commented on #1285
@locks For the prose about kinds of contribution other than code, I have copied the opening paragraph from Jessica's answer to Readers question on discuss.emberjs.com
https://discuss.emberjs.com/t/readers-questions-id-like-to-contribute-to-ember-how-can-i-get-started/14915
Is it OK?

[2020-04-13 16:37] rwjblue commented on #1386
I'm curious which specific pitfalls you are thinking of. From my perspective using `@action` to bind functions that are passed down into children and whatnot is completely unrelated to the return value of those functions (indeed they can return anything!!), what makes returning a promise more or less error prone than any other value?

[2020-04-13 17:12] Turbo87 commented on #1386
my main issue is that checking `isDestroying` and `isDestroyed` is very easy to forget and I've seen a lot of codebases where it wasn't done at all. I admit though that this is generally not limited to actions and applies to all kinds of async methods.

[2020-04-13 17:34] bendemboski commented on #1386
Less about whether a function returns a promise or not, and more about whether it yields to the system (`await`s) and then runs more code potentially accessing state on a destroyed object, right?

[2020-04-16 15:28] locks opened #1397 "Document how application-template-wrapper affects tests"
cc @chriskrycho

[2020-04-16 16:13] amyrlam commented on #1372
This seems fixed now! https://github.com/ember-learn/guides-source/pull/1396

[2020-04-16 16:13] #1372 closed

[2020-04-16 16:38] locks opened #1398 "Remove "Ember Octane is Here" banner"
This banner should be removed six months from the publish date of https://blog.emberjs.com/2019/12/20/octane-is-here.html, making that June 20th.

[2020-04-17 17:55] amyrlam opened #1399 "CI doesn't run on master"
See: https://travis-ci.org/github/ember-learn/guides-source/branches, master last ran 16 days ago.

Relates to: https://github.com/ember-learn/guides-source/issues/1372

What's weird is I've had people rebasing off master to get out of date branches running from the `.travis.yml` edits. But `master` itself doesn't rebuild

I'm emailing Travis support again cc @locks @jenweber

[2020-04-17 18:10] amyrlam commented on #1399
Talked to locks on Discord. "Build pushed branches" was off here: https://travis-ci.org/github/ember-learn/guides-source/settings

Let's see if this works on the next merge to master

[2020-04-18 03:04] amyrlam commented on #1399
It's running master now! https://travis-ci.org/github/ember-learn/guides-source/builds/676475939

Thanks again @locks, will reply to Travis

[2020-04-18 03:04] #1399 closed

[2020-04-20 18:57] #1285 closed

[2020-04-21 02:24] rajasegar commented on #1311
This can be closed as the PR is already merged
https://github.com/ember-learn/guides-source/pull/1393

[2020-04-21 09:52] #1311 closed

[2020-04-21 20:27] RajaSK05 opened #1402 "Incorrect snippet in Upgrading - Glimmer Components - Arguments"
https://guides.emberjs.com/release/upgrading/current-edition/glimmer-components/#toc_arguments

In this, both before and after displays same code snippet in second box (usage).
![image](https://user-images.githubusercontent.com/42798645/79910429-56f4a800-843c-11ea-88a1-ae9a66fe97fc.png)

I hope that the code snippet for before needs to be changed.

[2020-04-22 06:16] RajaSK05 commented on #1402
Interpreted wrongly, closing the issue

[2020-04-22 06:16] #1402 closed

[2020-04-22 10:06] #1362 closed

[2020-04-22 17:56] Aswathprabhu opened #1405 "Doc for updating list is somewhat misleading."
https://guides.emberjs.com/release/components/looping-through-lists/#toc_updating-lists

<img width="770" alt="image" src="https://user-images.githubusercontent.com/25875367/80015873-fe7ee280-84ef-11ea-9c4d-08393c65f428.png">

By default, Ember.js will extend the prototypes of native JavaScript objects, right?

So one does not need to convert the messages array to Ember Array here unless they over

[2020-04-23 20:44] locks opened #1406 "Update screenshots for Ember Inspector section"
**NOTICE** https://github.com/emberjs/ember-inspector is releasing v4.0.0 soon, so any that should be the baseline for this work, and not the currently published version (v3.13.2 on my Firefox browser).

At the moment, some of the screenshots in the Ember Inspector chapter of the guides are out of date. For example, the screenshots at https://guides.emberjs.com/v3.17.0/ember-inspector/component-tr

[2020-04-24 01:22] #1389 closed

[2020-04-24 08:51] locks commented on #1406
Assigned to @rajasegar.

[2020-04-25 17:13] jayjayjpg opened #1407 "Upgrade Guides to 3.16"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 17:13] jayjayjpg opened #1408 "Create a Staging App Demo for Testing the Website Redesign"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 17:14] jayjayjpg opened #1409 "Apply Website Redesign to the Guides"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 19:00] #1407 closed

[2020-04-25 19:09] sdhull opened #1411 "guides still mention `defaultSerializer` but it's deprecated"
The guides mention [`defaultSerializer` here](https://guides.emberjs.com/release/models/customizing-adapters/#toc_authoring-adapters) but it's been [deprecated](https://deprecations.emberjs.com/ember-data/v3.x/#toc_ember-data:default-serializers).

I'm not sure how to update this section of the guide to remove the mention of `defaultSerializer`. I guess if you're authoring adapters, you need to in

[2020-04-27 05:32] rajasegar commented on #1406
Screenshots need to be replaced
## Component Tree page
- Component Tree
- Filtering Components ( Angle bracket syntax)
- Hovering over the component tree ( Angle bracket syntax and View in Elements Panel button)
## View Tree page
- Lot of images need to replaced here. I am wondering this page still make sense in the latest version post Octane
## Inspecting Routes page
- Routes panel
- Viewing the

[2020-04-27 14:22] rwjblue commented on #1411
Good catch. We should definitely remove the deprecated reference.

[2020-04-28 22:09] Kilowhisky commented on #1138
I just ran into this during my conversion to Octane and found this (hackey) solution.

https://stackoverflow.com/a/50785428/1148118

I just created a base class and used it to implement the override replacement.

[code]
I also use method to bring back some of the Observable (get/set) without having to change from `new` to `create()`

[2020-04-30 08:22] mansona commented on #1408
There are already demo apps for the template https://github.com/ember-learn/guidemaker-ember-template/pull/30 and how that template applies to this project: https://github.com/ember-learn/guides-source/pull/1265 🎉 (see the netlify preview links at the bottom of the PR)

[2020-04-30 08:22] #1408 closed

[2020-04-30 16:10] locks commented on #1310
Thanks for reporting, being tracked at https://github.com/ember-learn/guides-source/issues/1310.

[2020-04-30 16:10] #1310 closed

[2020-04-30 16:10] locks commented on #1320
PR has been merged.

[2020-04-30 16:10] #1320 closed

[2020-04-30 16:13] jamescdavis commented on #1286
Is this closed by #1296?

[2020-04-30 16:21] jamescdavis commented on #1258
This was fixed by #1258. @jenweber

[2020-04-30 16:26] locks commented on #1069
No longer applicable.

[2020-04-30 16:26] #1069 closed

[2020-04-30 16:27] #1036 closed

[2020-04-30 16:28] locks commented on #1026
We have worked around this for now with the static content for older versions :)

[2020-04-30 16:28] #1026 closed

[2020-04-30 16:36] jenweber commented on #1377
The learning team & friends discussed this and we want to move forward.

The Build Targets page in the Guides should:
- have most content removed, and replaced with a link to the CLI Guides
- It should retain at least one paragraph explaining why and when someone would need this info
- It may include links to other helpful resources

The goal is that the page that remains should have at least a li

[2020-04-30 16:37] locks opened #1416 "Make sure all button elements have an explicit type"
By default, ember-template-lint will emit a linting error if a button element in a template does not have an explicit type. That means this would fail linting:

[code]

But this would not:

[code]

We need to make sure to add an explicit type attribute to all button elements so that any user copying it into their app does not fail linting.
Make sure that the example is not showing a linting error

[2020-04-30 16:43] locks commented on #436
This has recently been updated and is in a better state.

[2020-04-30 16:43] #436 closed

[2020-04-30 16:44] locks commented on #427
Being tracked at https://github.com/ember-learn/guides-source/issues/1406.

[2020-04-30 16:44] #427 closed

[2020-04-30 16:44] jenweber commented on #467
Closed, this callout has since been removed, during Octane rewrites

[2020-04-30 16:44] #467 closed

[2020-04-30 16:48] locks commented on #228
No longer applies due to re-written Super Rentals!

[2020-04-30 16:48] #228 closed

[2020-04-30 16:50] locks commented on #828
Work finished :)

[2020-04-30 16:50] #828 closed

[2020-04-30 17:34] locks commented on #294
Clicking the mentioned links redirects properly!

[2020-04-30 17:34] #294 closed

[2020-04-30 17:40] #496 closed

[2020-04-30 17:42] locks commented on #772
Fixed, thanks for the report.

[2020-04-30 17:42] #772 closed

[2020-04-30 17:57] locks commented on #1286
Further work is tracked at #1254.

[2020-04-30 17:57] #1286 closed

[2020-04-30 18:03] #1258 closed

[2020-04-30 18:07] locks commented on #1381
Related PR is merged. Thanks!

[2020-04-30 18:07] #1381 closed

[2020-04-30 18:51] locks commented on #646
Closing this, thanks for the ping :)

[2020-04-30 18:51] #646 closed

[2020-04-30 19:41] locks commented on #1416
Assigned to @roderickdevelopers.

[2020-05-01 08:30] mansona commented on #496
@locks why was this closed? I think it's something that we still want to pursue at some point in the future 🤔

[2020-05-01 11:11] locks commented on #496
We do not have the bandwidth even in the case a contributor wants to follow up on this, so I think it's better to close it and whenever we want to pursue it again, we open a new issue with an up-to-date description.
The work is likely not going to be done in this repository as well, but at one of the underlying techs no?

[2020-05-01 11:15] locks commented on #1406
The View Tree panel is no longer shown for certain versions of Ember applications, so we might need to remove it and redirect to the Components panel.
I would ask someone from the Inspector team (@rwwagner90) which versions of Ember are served different inspectors. I believe we will need at least two different versions of the images if we want the guides to be historically accurate.

[2020-05-01 12:32] rwwagner90 commented on #1406
There are three versions of Inspector. I believe anything before 2.8 is one, then 2.8-3.4 or so is one, and 3.4+ is the only one actively developed. I’m not sure we need to screenshot anything other than latest, so we?

[2020-05-01 12:48] locks opened #1418 "Link to template helper API docs list from "Built-in Helpers""
https://guides.emberjs.com/release/components/helper-functions/#toc_built-in-helpers should link to https://api.emberjs.com/ember/3.17/classes/Ember.Templates.helpers.

[2020-05-01 12:57] locks commented on #881
This page has changed, so I opened https://github.com/ember-learn/guides-source/issues/1418 for follow-up.

[2020-05-01 12:57] #881 closed

[2020-05-01 15:46] #1377 closed

[2020-05-01 19:12] locks opened #1421 "Remove triple curly usage"
https://guides.emberjs.com/release/components/looping-through-lists/ currently includes usage of triple curlies `{{{`, which is not recommended and is linted against.

We need to analyse the prose and code to see how to remove the usage, since the specific guide is focused on looping lists.

If you're looking to pick this issue up and need more context please ask here or on Discord!

[2020-05-01 19:15] locks commented on #426
Tracked at https://github.com/ember-learn/guides-source/issues/148.

[2020-05-01 19:15] #426 closed

[2020-05-01 19:18] locks commented on #460
Considering the Templating section was subsumed by Components, how should we move this work forward?

[2020-05-01 19:22] locks commented on #862
This seems mostly addressed by https://guides.emberjs.com/release/components/component-arguments-and-html-attributes/. I think we might want to make the `class` distinction more obvious as a future iteration. It is also missing accessibility concerns.

[2020-05-01 19:25] locks commented on #417
The linked PR with the remaining work has been merged.

[2020-05-01 19:25] #417 closed

[2020-05-01 19:27] locks commented on #719
@jenweber I believe you did a bunch of redirect work, do you remember if it addressed this issue?

[2020-05-01 19:33] MelSumner commented on #862
It was in the docs but I need to check, I think I remember it didn't make it over after Octane. It should go with the rest of the ...attributes guides and not be separate.

[2020-05-01 20:21] jenweber commented on #719
Yep, this was solved before launch!

[2020-05-01 20:22] #719 closed

[2020-05-01 22:36] #1206 closed

[2020-05-01 22:36] locks commented on #1113
This seems to have been addressed :)

[2020-05-01 22:36] #1113 closed

[2020-05-01 22:37] locks commented on #1206
Closing since it's a duplicate as mentioned above!

[2020-05-01 22:53] locks commented on #1239
Work accomplished x)

[2020-05-01 22:53] #1239 closed

[2020-05-02 13:17] locks commented on #1406
We already have "old" screenshots, so it's more a matter of keeping them and making sure we backport the new screenshots to the relevant versions, since it should be mostly updating image paths (and redirecting the View Tree panel to the Component panel guide?)

[2020-05-04 17:58] #633 closed

[2020-05-04 17:59] #1418 closed

[2020-05-04 18:01] #440 closed

[2020-05-05 13:06] #1411 closed

[2020-05-05 16:42] roderickdevelopers commented on #1416
Just an update on the linting error for button type=""
I started with 3.17 and worked my way back.
Hopefully this helps a little bit

Ember Cli 3.17 Gives the lint error as expected
![Ember-cli-3 17](https://user-images.githubusercontent.com/8920079/81091690-935ce500-8ecd-11ea-8037-45c03bdc639f.png)

Ember Cli 3.16 Gives the lint error as expected
![ember-cli-3 16](https://user-images.githubuserco

[2020-05-13 19:36] MatthewPringle commented on #1354
Hello

Did the blog post get published? I was looking into generating inputs today with Octane and have struggled to find the correct way to do it.

[2020-05-13 20:00] rwwagner90 commented on #1406
@locks I believe everything should be updated now, so screenshots can be taken at any time.

[2020-05-21 15:57] jenweber opened #1439 "QC for broken links in the Guides and API docs"
This PR provided scripts for checking links that are external to the guides. We should run it and fix any failures! Be careful not to DDOS the API docs. See comments in the PR for further details: https://github.com/ember-learn/guides-source/pull/1132

[2020-05-21 16:09] jenweber opened #1440 "Fix API links in the Guides that go to "release""
When we released Octane, the API docs changed a whole bunch! Ideal Guides UX is that if someone is on an older version of Ember, like 3.12, if they follow the links to the API docs, they should see 3.12 docs (non-Octane). However, right now, a lot of links point directly to `api.emberjs.com/ember/release` and `api.emberjs.com/ember-data/release`.

To close this ticket, do a find-replace to change

[2020-05-21 16:09] jenweber opened #1441 "Problems running Guides locally - infinite rerenders for locks"
@locks is this still a problem for you? We updated a bunch of deps and hopefully it's fixed now!

[2020-05-21 17:55] locks commented on #1441
I installed watchman to get around the project if I remember correctly, I'll check it again1

[2020-05-23 18:04] rwjblue opened #1442 "Remove mention of `templateName` / `renderTemplate` from Route section"
Modifying the default template name (like the same feature on `@ember/component`) should be discouraged not called out explicitly.

The whole section on altering the template (both `templateName` and `renderTemplate`) should be removed here:

https://guides.emberjs.com/release/routing/rendering-a-template/

[2020-05-23 23:10] jenweber opened #1443 "Remove references to log bindings and observersFor"
In https://guides.emberjs.com/v3.12.0/configuring-ember/debugging/#toc_observers--binding, we talk about a feature that appears to have been removed in 3.1.

To close this ticket, remove the incorrect information from Guides versions 3.1 up to the present (aka the release folder).

See https://github.com/emberjs/ember.js/issues/18929 for context before you start. Thanks!

[2020-05-24 18:44] #475 closed

[2020-05-27 13:37] gabrieltanchen opened #1444 "Syntax error in Customizing Adapters guide"
On [this page](https://guides.emberjs.com/release/models/customizing-adapters/), there's the following code:
[code]

I don't believe `@tracked session.authToken` is valid, and I got a syntax error when trying to implement this. I managed to achieve this with the following:
[code]
[code]

I can make a PR to update this page, but I just wanted to check that I'm not missing anything here in case `@tr

[2020-06-01 15:40] #1442 closed

[2020-06-01 15:50] locks opened #1448 "Backport #1442 to 3.16 (LTS)"
Backport the changes done for https://github.com/ember-learn/guides-source/issues/1442 down to 3.16.

[2020-06-04 19:59] kisumoto opened #1450 "Probably error in tutorial, Part 2, Section "Route Params""
I'm following that tutorial. My env:
[code]
Tutorial link: https://guides.emberjs.com/release/tutorial/part-2/route-params/
Version selected: 3.18.

Tutorial recommends to add test:
[code]

but that test doesn't pass even after routing is enabled. Here is what I've got to pass:
[code]
Difference in rentalS => rental in URL.

[2020-06-04 20:23] kisumoto commented on #1450
Similar error on the same page:
[code]
Again here works test with rental instead of rentalS

[2020-06-04 20:45] chancancode commented on #1450
Perhaps you defined the route with the singular name in app/routes.js? Nothing wrong with that, the name is not special, they just have to match as you have discovered. The code in the tutorial is automatically executed and tested daily, so I am pretty sure the tests do pass as written.

[2020-06-06 14:22] kisumoto commented on #1450
Indeed :) Magic Ember! Everything worked like a charm: component loading, LinkTo links, and everything else, except tests where I except /rentals/. Thank you.

[2020-06-06 14:22] #1450 closed

[2020-06-06 17:31] kisumoto commented on #1450
I finished the tutorial, both parts. It works fine. Probably only one minor issue is in this promise:
https://guides.emberjs.com/release/tutorial/part-2/service-injection/

Tutorial doesn't teach this thing :)

[2020-06-11 16:37] jenweber opened #1453 "WIP - Create a dedicated section on application data flow/requests"
This topic is still under discussion and isn't ready yet to be picked up by contributors. The goal is to first work out some of the big questions of what this section should look like, acceptance criteria, MVP, etc.

The proposal is to create a new topic under Core Concepts where we tackle questions like "where should I load data," loading data in components, etc. It is motivated by the popularity

[2020-06-13 03:29] amyrlam opened #1454 "Update tutorial text"
From https://github.com/ember-learn/guides-source/issues/1450#issuecomment-640093543, reported by @kisumoto

In https://guides.emberjs.com/release/tutorial/part-2/service-injection/, the "Zoey says" mentions that the tutorial will `deploy the app to the Internet` but that is not covered. We should remove that sentence.

![image](https://user-images.githubusercontent.com/1372946/84558926-56191d80-a

[2020-06-13 03:29] amyrlam commented on #1450
@kisumoto thank you, I filed an issue for that: https://github.com/ember-learn/guides-source/issues/1454

If you happen to be interested in making the change (no worries if not!), please comment on the issue!

[2020-06-13 13:21] ijlee2 commented on #1416
@locks I checked today that in the `guides/release` folder, all buttons have a type. I think we can close this issue now. Thanks again, @roderickdevelopers!

Resolved in:

- #1425
- #1431
- #1433

[2020-06-13 13:22] #1416 closed

[2020-06-13 13:24] ijlee2 commented on #1443
I can work this today.

[2020-06-13 13:24] roderickdevelopers commented on #1416
No problem!! Glad I could help

[2020-06-14 15:01] ijlee2 commented on #1444
@gabrieltanchen Apologies for a late reply. I looked at the [Headers customization](https://guides.emberjs.com/release/models/customizing-adapters/#toc_headers-customization) subsection to get more context.

I think you are right that the code should not be showing `@tracked session.authToken`. It seemed to me that, when we had updated `headers` from being a computed property to a getter in `v3.15

[2020-06-14 15:41] #1448 closed

[2020-06-16 13:52] #1443 closed

[2020-06-16 17:14] roderickdevelopers commented on #1450
I will look into it and take care of this issue this week!

[2020-06-16 17:36] ijlee2 commented on #1454
@roderickdevelopers will work on a PR to address this issue (cf. [#1450](https://github.com/ember-learn/guides-source/issues/1450#issuecomment-644897893)).

[2020-06-16 19:47] chancancode commented on #1450
@amyrlam @roderickdevelopers thanks for picking it up, as a reminder the PR should be sent to https://github.com/ember-learn/super-rentals-tutorial. We do intend to cover it (tracked in https://github.com/ember-learn/super-rentals-tutorial/issues/137), just haven't had a chance to do it yet.

[2020-06-16 19:47] chancancode commented on #1454
👍 Should we transfer this issue to https://github.com/ember-learn/super-rentals-tutorial/ ?

[2020-06-16 19:50] ijlee2 commented on #1454
@chancancode Sounds good to me, thank you for providing more context. Could I ask you to work with @roderickdeveloper (if he needs help), who is a relatively new developer?

[2020-06-17 14:13] gabrieltanchen commented on #1444
@ijlee2 Thanks for getting back to me! I can certainly make these changes. I'll have some time later this week and will create a PR then.

[2020-06-17 14:28] ijlee2 commented on #1444
Thank you!

[2020-06-17 22:39] void-mAlex commented on #1453
to start off the discussion here are some thoughts on this matter:
- when is it appropriate to use/avoid
- how does one handle loading and error sub-states
- how does it look like for ember-data
- should a user make 'fetch' requests inside the component itself/ or use a purpose built service
- testing data loading components, controlling timing, stubbing implementation so all functionality can be

[2020-06-20 17:18] #1444 closed

[2020-06-26 08:42] amk221 commented on #1138
Just ran into this when creating a _changeset_ to collect form input data, and noticed it wasn't being sent to the server :/

[2020-07-01 17:25] hergaiety opened #1468 "Blockquotes lack styling, existing blockquote usage is incorrect"
# Problem Summary

1. Blockquotes are unstyled in the guide
2. Many guides currently utilize blockquotes in a semantically incorrect way

**Example _screenshot_ where the second paragraph is a blockquote:**

# Details

In markdown the `> ` indicates a `blockquote` html element.

[code]

Therefore, we can conclude that we should be using `> ` in guides specifically when a quote is being used along

[2020-07-02 16:19] jenweber commented on #1453
## Draft outline

Top-level table of contents topic: Making API requests?
URL: data?

**Topics:**
- Intro - why are we here. Very quick fetch in a route as an example, brief how to decide to where to put the code (component, route, service), where Ember Data fits in (GraphQL, Apollo, Orbit), some advice for beginners,
- Route - example w/fetch & Ember data, why, lifecycle, loading template
- Compo

[2020-07-06 15:48] Benjy1979 opened #1473 "Dependency Injection still uses old syntax"
In the guides at:
https://guides.emberjs.com/release/applications/dependency-injection/

It is not exemplifying how to inject a service or a controller into a class in the sample app/components/cart-contents.js.  It is using the old syntax only and if it is not supported with classes then it is not stating it so.

[2020-07-08 01:44] #1353 closed

[2020-07-08 02:06] ijlee2 commented on #1382
As an update, #1365 has been merged.

[2020-07-08 02:14] ijlee2 commented on #1237
I'll make an update to https://guides.emberjs.com/release/components/conditional-content/ and backport the update all the way to 3.15.

[2020-07-08 15:10] locks commented on #1473
For anyone also stumbling on this issue, you can see an example of service injection at https://guides.emberjs.com/release/tutorial/part-2/service-injection/

[2020-07-08 18:29] Benjy1979 commented on #1473
This issue is about controller injection

[2020-07-08 18:56] locks commented on #1473
Hm, controllers can only be injected into other controllers and it is not recommended because of the downsides of doing it. The fact that controllers are singletons and the model property is managed by route hooks can trip up people.

[2020-07-08 18:56] locks commented on #1473
https://api.emberjs.com/ember/3.19/functions/@ember%2Fcontroller/inject

[2020-07-08 18:59] locks commented on #1441
Just reproduced it and it's a problem.

[2020-07-08 19:50] Benjy1979 commented on #1473
I think accessing the parent controller is reasonable..what if you want the query params? Or is there another route that is better to take

[2020-07-09 09:36] locks commented on #1441
I am getting a screenful of these errors:

[code]

[2020-07-09 09:44] mansona commented on #1441
@locks that looks like you have an issue with your Node install 🤔  maybe the version of FSStream (or is FSEvents) might have a binary incompatibility and might need to be re-installed.

Are you doing something funny with your Node/npm setup?

[2020-07-09 09:51] locks commented on #1441
@mansona not that I know of! It's a plain of volta install of node@10 that is specified on package.json.

[2020-07-09 09:52] mansona commented on #1441
so I would say that using volta is doing something funny with your node setup 😂

Are you able to double check this with system installed Node? or maybe re-install your Node because it sounds like you have issues on your side 🤔

[2020-07-09 09:56] locks commented on #1441
I have reinstalled Node and the problem persists. I have also not problems with other projects 🤔

I am not.

[2020-07-09 10:45] #1237 closed

[2020-07-09 11:15] mansona commented on #1441
do we know anyone else that's using Volta? so we can check if this is a Volta issue? 🤔

[2020-07-09 11:51] locks commented on #1441
@knownasilya or @NullVoxPopuli maybe?

[2020-07-09 12:02] knownasilya commented on #1441
🖐️ what do you want tested?

[2020-07-09 15:11] mansona commented on #1441
@knownasilya from the sounds of it you just need to run the app using Volta 🤷

[2020-07-09 16:44] knownasilya commented on #1441
So this error if not using watchman https://github.com/ember-learn/guides-source/issues/1441#issuecomment-656023315?

[2020-07-09 16:47] knownasilya commented on #1441
I get:

[code]

node 10.16.3
volta 0.7.2

[2020-07-09 17:07] knownasilya commented on #1441
With watchman 4.9.0 it works but takes 86470ms

[2020-07-12 20:11] hergaiety opened #1480 "Replace "First" and "Last" name code examples"
In software it's common to jump to "First Name:" and "Last Name:" to demonstrate coding examples. However, such name patterns are a very Western culture practice and is not as international a concept as we may think.

These concerns are not tied to language and may not be entirely solved by relying on guide translations. People with names that do not fit easily into the First and Last name boxes m

[2020-07-17 07:22] MichalBryxi opened #1484 "Section for "contextual components" & search"
I noticed that [somewhere around v3.14](https://github.com/ember-learn/guides-source/search?q=Contextual+Components&unscoped_q=Contextual+Components) the note about "Contextual components" has moved and in v3.19 it lives in section called [Patterns for Components](https://guides.emberjs.com/v3.19.0/in-depth-topics/patterns-for-components/), which is fine.

But this reveals two possible problems:

[2020-07-17 13:18] ijlee2 commented on #1484
Hi, @MichalBryxi. Thanks for reporting this issue!

I'm not sure what we may have done to cause Google's search results to be suboptimal, and whether I or someone else can help out with this issue.

I think I can help out with optimizing index and search for Algolia, though. I haven't looked into code but I'm guessing that we're using a default setup and haven't worked on optimizing search for a d

[2020-07-17 21:52] MichalBryxi commented on #1484
If the guides website is registered as a property in [Google Search Console](https://search.google.com/search-console), then it's possible to [submit](https://support.google.com/webmasters/answer/7474347?hl=en) a sitemap or individual URL for indexing.
As far as I can tell guides do not generate sitemap.json, which I _think_ might help for Google to get a better grasp on the content. So this might

[2020-07-19 16:49] Benjy1979 opened #1485 "Example of built-in component uses dasherized event"
At https://guides.emberjs.com/v3.19.0/components/built-in-components/

there is as an example immediately under the "Actions" header:

<label for="firstname">First Name</label>
<Input @value={{this.firstName}} @key-down={{this.updateFirstName}} id="firstname" />

But then later in the page:
{{!-- **This does not work:** uses dasherized event name --}}
<Input @type="checkbox" @key-down={{this.updat

[2020-07-19 18:23] ijlee2 commented on #1485
Hi, @Benjy1979. Thanks for reporting this issue. Sorry if this was your first experience with Ember and the `<Input>` component didn't work as you expected.

To my understanding, we're currently unsure what causing the event arguments to not work sometimes. The issue's under investigation, albeit not actively:

- https://github.com/ember-learn/guides-source/issues/1254
- https://github.com/emberjs

[2020-07-19 18:56] Benjy1979 commented on #1485
I think you possibly might have misunderstood the ticket? I wasn't really saying something does not work. I am pointing out an inconsistency on the guides page more than something being functionally broken.
The guides on that page are explictly saying the dasherized event does not work, to help the user - which is correct. But further up the page an unrelated example has the dasherised version of

[2020-07-19 20:32] ijlee2 commented on #1485
Yep, I misunderstood your original message. I looked at https://guides.emberjs.com/v3.19.0/components/built-in-components/ and believe you were referring to these 2 parts, is this correct?

Part 1:

<img width="600" alt="Screen Shot 2020-07-19 at 3 14 18 PM" src="https://user-images.githubusercontent.com/16869656/87884223-8df23f80-c9d2-11ea-9008-52959d33230f.png">

Part 2:

<img width="600" alt="S

[2020-07-19 20:58] Benjy1979 commented on #1485
Ok, I see I did miss that difference.
Thanks for wanting to make it clearer

From: Isaac Lee [mailto:notifications@github.com]
Sent: 19 July 2020 21:33
To: ember-learn/guides-source <guides-source@noreply.github.com>
Cc: Ben Glancy <ben@articad.com>; Mention <mention@noreply.github.com>
Subject: Re: [ember-learn/guides-source] Example of built-in component uses dasherized event (#1485)

Yep, I mis

[2020-07-20 11:13] mansona commented on #1484
so there are actually 2 issues in what you're bringing up here @MichalBryxi , the first being the search index in Algolia not having what you expect and the second being a search that you made from google not showing the link to the latest documentation.

we should probably separate these two issues out, especially since there will be oddities in the google search investigation (like the fact that

[2020-07-21 21:44] MichalBryxi opened #1488 "Algolia search is missing some results"
I noticed that [somewhere around v3.14](https://github.com/ember-learn/guides-source/search?q=Contextual+Components&unscoped_q=Contextual+Components) the note about "Contextual components" has moved from "Wrapping content in a component" and in v3.19 it lives in section called [Patterns for Components](https://guides.emberjs.com/v3.19.0/in-depth-topics/patterns-for-components/). Which is fine.

Bu

[2020-07-21 21:44] MichalBryxi commented on #1484
Split the issue into two. Second one is: #1488

[2020-07-21 21:51] MichalBryxi commented on #1484
I'm suggesting sitemap.json simply because (quote [from Google](https://support.google.com/webmasters/answer/156184?hl=en)):

When you say @mansona

Is the link you're clicking [this one](https://www.google.com/search?q=contextual+components+ember&oq=contextual+components+ember) and firs result you see it [this one](https://guides.emberjs.com/release/components/block-content/)? Because that one is

[2020-07-22 02:38] #1070 closed

[2020-07-22 02:53] #1124 closed

[2020-07-22 08:50] mansona commented on #1484
ok so it looks like something broke, roughly at the time of the 3.3 guides 🙈  Guidemaker is designed to setup the canonical link correctly especially for SEO so that you don't get links to older versions of the guides in search results.

And also, sure building a sitemap is something that we could look into but it is **not** better than making sure that your site is correctly laid out with HTML an

[2020-07-23 16:19] locks opened #1492 "Document in-element in the Guides"
Ember 3.20 includes `in-element` out of the box, which permits developers to render content into an HTML element outside of the hierarchy it would be normally rendered in.
While this feature is documented in API docs, we should investigate if and where it makes sense to mention and use it in the Guides.

[2020-07-23 23:31] locks commented on #1480
Thanks for bringing this up. This is something that has crossed my mind when working on documentation but that I never tackled in a more systematic way. I think the next steps here would be to do an evaluation of the current documentation (Guides and API docs) to see how and where "First Name/Last Name" examples are used, so that we can come up with the necessary approaches to address the problem.

[2020-07-24 15:06] hergaiety commented on #1480
@locks happy to do so!

* [Accessibility - Component Considerations - Accessible name - Adding a label to an input element](https://guides.emberjs.com/release/accessibility/components/#toc_adding-a-label-to-an-input-element)
* [Components - Helper Functions - Built-in Helpers - The let helper](https://guides.emberjs.com/release/components/helper-functions/#toc_the-let-helper)
* [Components - Built

[2020-07-26 18:45] ijlee2 commented on #1480
I don't think `Testing - Test Types - Unit Tests` has an example.

I ran `git grep -in "firstname"` to find 6 additional sections.

- [Configuration - Disabling Prototype Extensions - Functions](https://guides.emberjs.com/release/configuring-ember/disabling-prototype-extensions/#toc_functions)
- [Configuration - Optional Features - default-async-observers](https://guides.emberjs.com/release/config

[2020-07-26 18:57] ijlee2 commented on #1480
I support the idea of using full name to illustrate a programming concept. However, I think we'll want to discuss feasibility and carefully plan how to update all sections, perhaps at a Learning Team meeting.

The sections that use only the first name or only the last name---these are easy to change. We can use full name or some other attribute instead.

The sections that use both first and last n

[2020-07-27 13:21] MelSumner commented on #1468
I don't think I realized we were doing this, thanks for catching it. We'll need to move this over to the `ember-styleguide` repository I think though (+ @mansona )

[2020-07-27 15:41] mansona commented on #1468
@MelSumner yes we have identified this as part of the Redesign project and we have a solution that works for the new redesign.

I would worry about trying to implement this in the old design 🤔  It is probably best to wait for the work of the Website Redesign Strike Team to move onto the Guides project and get this implementation for "free". We are currently wrapping up the Blog project so I don't

[2020-07-27 16:08] MelSumner commented on #1468
@mansona I agree but we should still move this issue and add it to that project for tracking, yes?

[2020-07-27 17:11] ijlee2 commented on #1440
@jenweber @MelSumner Before asking for community help, I think we may need a concrete plan for how we'll update all links to the API Guides across all versions. To my understanding:

Currently, when there's a new Ember release, we copy-paste the `release` folder so that there will be a new folder for what used to be the release version. Take the upcoming 3.20 release as example. We'd copy-paste th

[2020-07-28 02:04] jenweber commented on #1440
Good questions! We don't have a mechanism to automate it, besides a careful find-replace. If you search the docs for `/release/` it will bring up all the places to change. We have a link checker that can be run on-demand: https://github.com/ember-learn/guides-source#internal-and-external-links If someone wants to take this on, I suggest fixing links for just one version of the guides and PR-ing th

[2020-07-28 02:50] ijlee2 commented on #1440
@jenweber Sounds good. Thanks for the explanation! I can try find-and-replace on `3.18` and see how it goes.

[2020-07-29 22:15] hergaiety commented on #1480
Sure thing @ijlee2, it seems like to me we have two main categories.

## Generic Data, "Could have picked any data attributes, really..."

These examples don't rely on the data necessarily being First & Last Names, but could have been any property at all. Many examples rely on a "person" model existing and thus we can use properties like: `username`, `birthday`, `title`, `number`, etc as needed. _

[2020-07-29 23:08] chancancode commented on #1480
Another possibility along the same vein and spirit is an (optional) title and a single name, concatenated? So we can have Dr. Tomster or something. Because it’s still talking about a person/user, I expect we would be able to retrofit that to the existing examples without having to refactor too much else.

[2020-07-29 23:12] chancancode commented on #1480
Making the title optional is realistic and also allow us to demonstrate slightly more complicated logic without having to teach/introduce string APIs like split and join (which is not hard to teach, but a bit off topic in most cases).

[code]

Another advantage of this is that it scales nicely. For examples that just needs a single field, you can omit title and just have a name.

[2020-07-30 01:57] ijlee2 commented on #1480
Thanks, both @hergaiety and @chancancode, for providing additional information.

I think I prefer the example of,
[code]
over the use of `split.reverse.join`.

`title` does make a good example for the pattern above, but I think I'd prefer to avoid deciding which name gets no title, Dr., Mr., Ms., Mrs., etc. I think it may be good if we can find examples not involving name. :) (I'll look for more e

[2020-07-30 02:26] chancancode commented on #1480
Hm. Why is that?

In the past, I have heard feedback (when mentoring/pairing) that some people find overly abstract, “academic”, foo bar style example difficult to follow or keep track of in their head. I personally don’t have that problem, but I can understand why.

The motivation of this seems to be to make the example more understandable and relatable for everyone, which I think is a good goal.

[2020-07-30 02:36] ijlee2 commented on #1480
Ah, I think there was some misunderstanding due to lack of clarity in my explanation.

For Tomster and Zoey, I think it's fine to address them as Professor or Doctor. I was initially concerned because our Guides currently have names of real people. I suppose we can change these names to Tomster or Zoey.

[2020-07-30 03:33] jenweber opened #1498 "Can only run search index using Node 10"
When I was using Node 12, I was not able to run `ember deploy production` or the release script due to

[code]

This resolved when I switched to Node 10.

[2020-07-30 15:07] locks commented on #1498
For what is worth, I had a similar problem with `ember deploy` and pinned the versions using Volta https://github.com/ember-learn/guides-source/blob/master/package.json#L107-L110.

[2020-07-30 19:01] rwjblue commented on #1498
Seems like https://github.com/ember-cli/ember-cli/issues/9235#issuecomment-637697483 should fix.
[code]

[2020-07-30 19:15] hergaiety commented on #1480
In the example of a person's Title, are we only focusing on the English interpretation and usage? https://www.w3.org/International/questions/qa-personal-names, https://en.wikipedia.org/wiki/Title, https://www.gordon.edu/styleguide/names-titles all introduce potential confusion around what an international system for titles and title concatenation may be (although I admit most of the time it's a pr

[2020-07-30 19:25] ijlee2 commented on #1480
@hergaiety Apologies for a late reply. The Learning Team and I [discussed how to make PRs](https://github.com/emberjs/core-notes/blob/3b18f613664426e9f1fea1ae7bdefd6c1d302ff5/learning-team/2020-07/2020-07-30.md#concretize-making-prs-for-2-ember-guides-issues-il-15-20-min) today, and I can debrief you more later and help answer questions that you may have. Currently working on work stuff. :)

[2020-07-30 19:27] rwjblue commented on #1498
I think https://github.com/ef4/ember-auto-import/pull/289 is also related.

[2020-07-30 20:26] chancancode commented on #1480
@hergaiety You bring up some good points!

I could be wrong about this, but if I understand it correctly, I _think_ the concerns are slightly different in nature.

The problem with **first** and **last** name (from my understanding of the article you linked) is that those words are tied to/implies an *ordering*, which only makes sense if you are used to writing down your name a certain way (the wa

[2020-07-30 21:15] hergaiety commented on #1480
@chancancode you bring up some really great points, I feel a lot better about using `title` if that's the direction we want to go in.

[2020-07-30 21:39] ijlee2 commented on #1480
I got to chat with @hergaiety on Discord to summarize the Learning Team meeting on July 30 and help answer questions. I'll do my best to summarize both the meeting and chat here: 🙂

- Everyone on the Learning Team was on board with @hergaiety's proposal to update the examples. The use of titles Dr. and Prof. with the names Tomster and Zoey was approved.
- I think we can look at using another examp

[2020-07-31 00:03] ijlee2 commented on #1440
At the Learning Team meeting on July 30, we discussed updating the API links in the Ember Guides in all versions if possible. I made checklists below to divide work and track progress.

To ensure that search results in Google point to the `release` in API Guides, we'll want to look at the problem of addressing canonical links in the [API repo](https://github.com/ember-learn/ember-api-docs) soon.

[2020-07-31 00:06] ijlee2 commented on #1440
To all: If you can help, please let us know! 🙂

[2020-07-31 02:27] #1498 closed

[2020-08-06 16:40] ijlee2 commented on #1485
@Benjy1979 Hello! I want to give a status update.

Today at the Learning Team meeting, I brought up the user experience that you had with reading the Guides to learn event handling for a checkbox input. Everyone was on board with reorganizing the section to help explain event handling better.

https://github.com/emberjs/core-notes/pull/322/files#diff-1c6fe35708f8b2c2b915bde415dfce75R52

When I can

[2020-08-06 22:30] Benjy1979 commented on #1485
Of course, thanks for giving it some attention.

[2020-08-17 14:21] MelSumner opened #1515 "remove application wrapper in A11y section of the guides"
https://guides.emberjs.com/release/accessibility/application-considerations/#toc_application-template-wrapper

This doesn't need to be here for current releases, since it's not something that we have to turn on anymore.

[2020-08-17 19:16] MariannaAtPlay opened #1516 "Does this page exist in the new version?"
Hello,
I wanted to learn more about how LinkTo component works and came across this old page https://guides.emberjs.com/v1.10.0/routing/link-to-router-flow/
However, when I click the "view v 3.20" button, I get to the 404 page.
Does this content exist in the more updated version? Not able to find it...

Related:
The 404 page links to the old,  depreciated repo on GitHub, so it's not easy to find t

[2020-08-17 19:53] ijlee2 commented on #1516
Hi, @MariannaAtPlay. I appreciate your filing this issue and sharing your experience. 👍

I think you helped us identify 2 problems:

- The `View v3.20.0` button can likely redirect a visitor to a 404 page, because the Ember Guides changed how it organizes content over time.
- The link to Ember Guides repo in the 404 page is out-of-date.

I will ask the Learning Team what we can do about the button

[2020-08-18 19:50] chiaraani opened #1521 "I've got a bug while following the ember guides."
I've learning from the tutorial. But in this [chapter](https://guides.emberjs.com/release/tutorial/part-2/ember-data/ ), I got this error when running my tests:
[code]
This is my [ember app](https://github.com/chiaraani/super-rentals-exercise)

[2020-08-18 21:18] ijlee2 commented on #1521
Hi, @chiaraani. Thanks for trying out the Ember official tutorial and providing feedback! 🎉

## 1. What may have happened

It looked like you may have used the Ember CLI to create the `application` serializer? In the terminal, you might have typed,

[code]

In https://guides.emberjs.com/release/tutorial/part-2/ember-data/, I noticed that the screenshot for tests is missing the test for `applicatio

[2020-08-19 10:14] chiaraani commented on #1521
Thanks so much  @ijlee2 ! I had the same problem with another ember app I was making on my own, as I am not a new developer, I've easily fixed it. But then I decided to read the tutorial first, I was such tired though, that I did not read the tutorial well or remember how to fix the placeholder test. It actually was so easy. I'm sorry for minding you.

[2020-08-19 10:14] #1521 closed

[2020-08-19 14:30] ijlee2 commented on #1521
No worries. I appreciate your asking help and engaging with the Ember community!

[2020-08-28 23:39] rwjblue opened #1528 "Explain fundamental issue with reading a tracked property and updating it within the same render."
Code like the following will trigger a backtracking rerender assertion:

[code]

When that action is ran as a result of user interaction, it might be fine (since we are likely not inside of a tracking frame) **but** when it is ran initially using that code (due to reuse in the constructor) it _**is**_ during a tracking frame and will throw an error like:

[code]

---

Our auto-tracking in-depth gu

[2020-08-28 23:41] rwjblue commented on #1528
@pzuraq - Do you happen to have any content already written up for this (perhaps in one of your tracking blog posts)?

[2020-09-05 00:05] #1057 closed

[2020-09-05 00:06] #825 closed

[2020-09-05 00:07] jenweber commented on #460
Closed - Any remaining updates to the Guides should be handled in new tickets.

[2020-09-05 00:07] #460 closed

[2020-09-05 00:11] jenweber commented on #457
This has since been addressed. Thank you!

[2020-09-05 00:11] #457 closed

[2020-09-05 00:13] jenweber commented on #368
@MelSumner what do you think about closing this and spinning off new tickets with the details needed for remaining sections?

[2020-09-05 00:18] jenweber commented on #1439
I think this has been mostly addressed during some of @ijlee2's URL updates.

[2020-09-05 00:18] #1439 closed

[2020-09-05 00:32] MelSumner commented on #368
@jenweber I'm fine with that- we did the major work already.

[2020-09-05 00:32] #368 closed

[2020-09-16 00:36] maxwondercorn commented on #871
This seem to be an issue in adapters.  I raised this issue https://github.com/emberjs/data/issues/7299 when I was updating the API documentation

[2020-09-18 00:31] ijlee2 opened #1534 "Conveying better a change in code for new developers"
## Background

In the Ember Guides, we use the `+` and `-` to indicate what code have been added or deleted. For example, in the [Super Rentals Tutorial](https://guides.emberjs.com/release/tutorial/part-1/orientation/#toc_editing-files-and-live-reload) (and other pages outside of the tutorial), we might see,

<img width="640" alt="The Ember Guides uses plus and minus symbols to show code changes"

[2020-09-18 00:39] chancancode commented on #1534
I would _love_ to make this a component that has a toggle for "Before" / "After" / "Both", defaulting to "After" (and "Both" is the current view). I have brought this up before as well.

[2020-09-18 00:40] MelSumner commented on #1534
I don't think we should take it out- Code diffs are something all devs encounter. We can add an explanation for new developers, though. 👍

[2020-09-18 00:41] ijlee2 commented on #1534
Thanks for a quick reply! I'm glad to hear that we agree on providing a better experience for new developers.

To provide more context into today's meeting, Chris mentioned that there may be a technical difficulty with implementing a toggle/tab for Before and After.

[2020-09-18 01:27] chancancode commented on #1534
This is roughly how I would like it to work:

![toggle](https://user-images.githubusercontent.com/55829/93544489-1037ab00-f913-11ea-9e98-71947321d064.gif)

As far metadata – I am pretty sure we already have what we need to implement it. There is a `data-diff` attribute that has the added/removed lines. Plus, the added/removed lines are wrapped in a `span.diff-deletion`/`diff-insertion` that could

[2020-09-18 01:33] imagolive commented on #1534
Hi All, I mentioned to Isaac about the diffs and the interns. The interns struggled mainly because they had only worked on traditional apps and not templated/data-driven approaches. Data down/actions up and tracking didn't fit into their world view. The diffs made it a little harder for them to understand.

The above mockup is much better, particularly if the After is the default view.

[2020-09-18 04:22] maxwondercorn commented on #1473
@locks I'm working on a PR to update the service examples cited here. I assume I should backport back to 3.15?

Also, I believe the component classes should be converted native classes and possible glimmer components to be consistent with the rest of the guides.

[2020-09-18 08:58] acorncom commented on #1534
Is there a difference from an a11y perspective with these two approaches? In the absence of problems there, the before / after / diff option seems like it’d be great, as those diffs have been causing some confusion for a long time

[2020-09-18 13:39] mansona commented on #1534
This conversation bubbled out into Discord (you can check it out [here](https://discordapp.com/channels/480462759797063690/480777444203429888/756480318260904077)) and I thought I would share my top-level thoughts on the proposal:

there are some more corrections and explanations in the discord conversation that I linked, but essentially I would be very much in favour of just removing the need for

[2020-09-18 16:37] ijlee2 commented on #1534
@acorncom I'm not sure off the top of my head, and would need to research. I agree that accessibility is an important factor to arriving at a solution.

[2020-09-21 18:36] fozy81 commented on #1515
Hi @MelSumner I've taken a shot at this - see PR. I've removed the following sections/headings as these seem all related to the application wrapper:

    Configuration (heading)
    Application template wrapper (section)
    Ember applications vs role=''application'' (section)

Let me know if that looks okay or if I should change anything etc.

The page now looks like this:

![image](https://user-

[2020-09-22 18:19] ijlee2 commented on #1515
Issue has been completed in #1536.

[2020-09-22 18:19] #1515 closed

[2020-09-23 12:08] Benjy1979 opened #1538 "Adapter Documentation is missing 5th parameter"
For query() and queryRecord() there is a fifth parameter (adapterOptions) that are not conveyed by the documentation.

https://api.emberjs.com/ember-data/3.21/classes/Adapter/methods/queryRecord?anchor=query

[2020-09-23 17:17] ijlee2 commented on #1538
Hi, @Benjy1979. Thanks for reporting the issue. From [ember-data tests](https://github.com/emberjs/data/blob/master/packages/-ember-data/tests/integration/adapter/store-adapter-test.js#L1532-L1536), I think that the 5th parameter is an `options` hash that can include `adapterOptions`.

It seemed like starting v2.x, possibly earlier, the 5th parameter hadn't been documented. I don't have the histor

[2020-09-23 17:19] ijlee2 commented on #1538
Actually, it seems I can't transfer an issue from one GitHub organization to another. Let me close this issue and ask you to recreate it in https://github.com/emberjs/data/issues? I will link this issue at `#dev-ember-data` channel on Discord.

[2020-09-23 17:19] #1538 closed

[2020-09-24 16:43] ijlee2 opened #1539 "[WIP] Document how to update arrays and objects in Ember Octane"
## Description

We currently don't describe well how to update tracked arrays and objects in Ember Octane:

[code]

Array
  - Create an example (possibly one that is related to the rest of the page)
  - Show a not-working example
  - Explain possible solutions
    - 1. immutable approach
    - 2. `EmberArray`
    - 3. `tracked-built-ins`

Object
  - Create an example (possibly one that is related

[2020-09-24 16:59] ijlee2 opened #1540 "Reorganize "Built-In Components" in Ember Guides"
## Background

- [Learning Team meeting notes from August 6, 2020](https://github.com/emberjs/core-notes/blob/master/learning-team/2020-08/2020-08-06.md#reorganizing-built-in-components-in-ember-guides-il-10-15-min)
- https://discuss.emberjs.com/t/ember-octane-and-2-way-binding-what-are-you-recommend/18092

## Description

There were 3 problems that inspired the conversation in the Learning Team m

[2020-09-24 16:59] ijlee2 commented on #1485
Let me close this in favor of #1540.

[2020-09-24 16:59] #1485 closed

[2020-09-24 17:01] ijlee2 commented on #1534
The Learning Team didn't get to discuss this item on September 24 (we focused on Hacktoberfest). We will try to revisit it on October 1.

[2020-09-24 18:26] chancancode commented on #1540
Can we put this on hold? I would love to help direct the effort into cataloging the underlying problems in a systematic way (i.e. writing failing tests) and fixing them upstream rather than propagating the confusion further and documenting even more bugs.

I believe this section is intended to be general enough to encompass any current or future (seems unlikely) built-in components (which is why i

[2020-09-24 18:56] ijlee2 commented on #1540
@chancancode I'm open to delaying it.

To provide more context, in the Learning Team meeting, the team agreed to assume that the current documentation (with regards to event names) is correct and only allow moving contents around without modification (this is what I meant by reorganize). This way, we don't increase the scope of the ticket, but do allow the possibility of documenting how to use nat

[2020-09-27 13:13] fozy81 commented on #1421
@locks  I was hoping to pick this one up. My plan was to create an ember app with the example as it is currently explained/coded in the guidance. Once I've got that minimal app running, I'll look at how the code can be change to remove the `{{{` and document the changes in code and guidance as required. Does that sound a good approach?

[2020-09-27 14:35] jenweber commented on #1254
Closing, as the task ask shifted somewhat and I think this benefits from being a new issue.

[2020-09-27 14:35] #1254 closed

[2020-09-27 14:36] jenweber opened #1543 "Show how to reference input event names correctly"
In earlier versions of Ember, inputs had a bug where certain event names could not be referenced as they were documented in the Guides, such as `<Textarea @focus-in={{this.didFocusIn}} />`. This has been fixed now! We should update the Guides to make sure they give the correct guidance. This issue is recommended for writers with some past technical writing experience or past contributions to Ember

[2020-09-27 15:04] ijlee2 commented on #1540
Let's wait on starting this issue (possibly adding explanation about native inputs) to allow #1543 to complete first.

[2020-09-29 03:15] jenweber commented on #1543
@ijlee2  is working on this issue.

[2020-09-29 17:31] gabrielcsapo opened #1547 "[docs] add content around addon-test-support"
It would be great to get more content around how to structure tests and where to put support files that are meant just for tests. I can't find references to it on https://guides.emberjs.com/release/ or https://cli.emberjs.com/release.

[2020-09-30 16:30] jeffdaley opened #1548 "Clicking a permalink adds code-diff annotations (plusses and minuses)"
![CleanShot 2020-09-30 at 12 27 15](https://user-images.githubusercontent.com/754957/94713075-554adc80-0318-11eb-820d-1ee658302019.gif)

This happens the second time a permalink is clicked on the page.

In the example, I'm clicking the same permalink multiple times (unlikely). But this can also be reproduced by clicking the permalink of different sections (more likely).

These diff annotations are

[2020-10-01 07:55] mansona commented on #1548
wow, nice catch 😱

Maybe it's time that we move the guidemaker-ember-template to use https://github.com/empress/ember-showdown-prism and see if it still has the same issue 🤔

Just for a bit of context ember-showdown-prism is the "future" of the implementation of the code blocks in the guides and it solves one of the major issues, where the code blocks aren't highlighted until after the JS loads (i

[2020-10-01 12:52] jenweber opened #1560 "Add link to CLI Guides in Getting Started"
## Description

In the `Getting Started - How to Use the Guides` section, the link for `Ember CLI` points to `Configuration - Configuring Ember CLI` section. The latter (configuring your app ) is an advanced topic and doesn't show much information.

Please link to the CLI Guides (https://cli.emberjs.com/release/) instead.

## TODOs

- [ ] Update the Markdown file `guides/release/getting-started/in

[2020-10-01 13:02] jenweber opened #1549 "Add code editors section to the Ember Guides"
In the Ember Guides, we have a spot in the table of contents for Developer Tools. We need to add a new topic "Code editors," which has one article inside. That article should tell people about helpful editor integrations.

You can base it on some previously drafted Atlas content: https://www.notion.so/Editors-Tooling-5da96f0b2baf4ce1bf3fd58e3b60c7f6

Aim for one paragraph per editor, plus useful l

[2020-10-06 14:58] ijlee2 opened #1551 "Document how to use caching primitives in Ember 3.15 - 3.21"
## Description

The [Autotracking In-Depth - Caching of tracked properties](https://guides.emberjs.com/release/in-depth-topics/autotracking-in-depth/#toc_caching-of-tracked-properties) shows how to use `createCache` and `getValue` to cache the value of a function.

The caching API is natively available to Ember starting version `3.22`. Between versions `3.13` and `3.21`, a developer has to install

[2020-10-06 15:21] mahmoodhosseini commented on #1551
Hi, I can take this.

[2020-10-06 15:26] ijlee2 commented on #1551
@mahmoodhosseini Thanks! If you have any questions about setting up the project locally, please let me know.

[2020-10-06 16:27] #1551 closed

[2020-10-08 00:51] #1543 closed

[2020-10-08 01:19] ijlee2 commented on #1480
This issue (updating the examples in `release` directory) has been completed thanks to @hergaiety!

I suggest that we backport the changes to 3.15 - 3.20 as a part of Hacktoberfest event.

[2020-10-08 01:19] #1480 closed

[2020-10-08 01:56] ijlee2 opened #1553 "Backport replacing first and last names in code examples (Part 1 of 3)"
## Background

In #1480, we came up with several code examples that can replace prior use of first and last names.

To keep the scope of a pull request small, we made changes to the `release` directory only. (The `release` corresponds to the most recent Ember version.) We can now backport the changes to `v3.15.0`-`v3.20.0`.

## TODOs

- [ ] Study the code changes from https://github.com/ember-lear

[2020-10-08 01:58] ijlee2 opened #1554 "Backport replacing first and last names in code examples (Part 2 of 3)"
## Background

In #1480, we came up with several code examples that can replace prior use of first and last names.

To keep the scope of a pull request small, we made changes to the `release` directory only. (The `release` corresponds to the most recent Ember version.) We can now backport the changes to `v3.15.0`-`v3.20.0`.

## TODOs

- [ ] Study the code changes from https://github.com/ember-lear

[2020-10-08 01:59] ijlee2 opened #1555 "Backport replacing first and last names in code examples (Part 3 of 3)"
## Background

In #1480, we came up with several code examples that can replace prior use of first and last names.

To keep the scope of a pull request small, we made changes to the `release` directory only. (The `release` corresponds to the most recent Ember version.) We can now backport the changes to `v3.15.0`-`v3.20.0`.

## TODOs

- [ ] Study the code changes from https://github.com/ember-lear

[2020-10-08 02:06] ijlee2 commented on #1553
Hi, everyone. To allow more participation, please sign up for only 1 issue (out of 3 related to this backport). Thanks and happy Hacktoberfest!

[2020-10-08 02:06] ijlee2 commented on #1554
Hi, everyone. To allow more participation, please sign up for only 1 issue (out of 3 related to this backport). Thanks and happy Hacktoberfest!

[2020-10-08 02:06] ijlee2 commented on #1555
Hi, everyone. To allow more participation, please sign up for only 1 issue (out of 3 related to this backport). Thanks and happy Hacktoberfest!

[2020-10-08 03:47] jenweber opened #1556 "Backport the updated Built-in Components page to 3.16 and 3.20 LTS"
This issue is good for new contributors. There was a bug in Ember for handling event names for the `<Input>` and `<Textarea>` components, and it's fixed now in versions 3.16, 3.20, and 3.21 of Ember. We already made some updates to the Guides for version 3.21, but the changes need to be copied over into v3.16 and v3.20. The work for this ticket is copy-paste and not any new writing.

To do:
- Copy

[2020-10-08 03:48] jenweber opened #1557 "Update versions 3.16 and 3.20 with content about inputs (copy & paste work)"
This issue is good for new contributors. There was a bug in Ember for handling event names for the `<Input>` and `<Textarea>` components, and it's fixed now in versions 3.16, 3.20, and 3.21 of Ember. We already made some updates to the Guides for version 3.21, but the changes need to be copied over into v3.16 and v3.20. The work for this ticket is copy-paste and not any new writing.

To do:
- Copy

[2020-10-08 03:49] jenweber commented on #1557
Oops, duplicate

[2020-10-08 03:49] #1557 closed

[2020-10-08 11:51] ijlee2 commented on #1556
Important: You can copy-paste the entire file, but please make sure to update all links that point to `api.emberjs.com` to show the correct version, not `release`.

[code]

[2020-10-09 16:31] gabrielcsapo opened #1559 "[docs] update dependencies section to include ember-auto-import"
It would be great if guides-source/guides/release/addons-and-dependencies/index.md were updated to showcase ember-auto-import instead of app.import.

[2020-10-09 21:29] ijlee2 commented on #1559
Hi, @gabrielcsapo. Can you elaborate what are the changes that you wanted to see?

Currently, the [Managing Dependencies](https://guides.emberjs.com/release/addons-and-dependencies) section has 2 separate subsections:

- [Regular npm packages](https://guides.emberjs.com/release/addons-and-dependencies/#toc_regular-npm-packages), which mentions mention `ember-auto-import` and links to its `README`

[2020-10-09 21:32] ijlee2 commented on #1539
Sorry the details are a bit fuzzy. Please feel free to reach out to me for questions about what to write.

For Hacktoberfest, I think we can split this issue into 2 (one for arrays, and another for objects), to keep the scope small.

[2020-10-09 22:08] mo3taz1705 commented on #1555
I want to do it. please assign it to me.

[2020-10-09 22:29] ijlee2 commented on #1555
@mo3taz1705 Thanks for helping out! If you have questions, please feel free to let us know.

[2020-10-10 07:46] hbutau commented on #1556
Hello @jenweber @ijlee2 , I am taking this one.

[2020-10-10 09:35] fozy81 commented on #1421
@ijlee2 One alternative is to remove html from the example messages. But perhaps that is skirting around the issue?

So agree, perhaps updating with words of the affect that {{{}}} is okay for mock data/development but is could be linted against in your text editor but use htmlSafe for any user entered text.

[2020-10-10 09:35] ijlee2 commented on #1556
Thanks, @hbutau ! If you have questions, feel free to ask us!

[2020-10-10 10:20] fozy81 commented on #1553
@ijlee2 I'd like to give this one a try.

[2020-10-10 11:34] ijlee2 commented on #1553
@fozy81 Thank you in advance for your help!

[2020-10-10 11:44] ijlee2 commented on #1421
@fozy81 Let's try updating the prose in Zoey Says. I'll let you come up with a change, then I can come up with a suggestion for improvement in your pull request.

- I'm ok with mentioning triple curlies is safe for mock data and non-production apps
- Do mention htmlSafe and link it to the API docs

To my understanding, `htmlSafe` does not mean the HTML code has been sanitized. The developer still

[2020-10-10 13:27] mo3taz1705 commented on #1555
@ijlee2 in guides/release/upgrading/current-edition/native-classes.md, i think the name of the class in line 586 should be "Image" not "Person".
what do you think ?

[2020-10-10 13:59] ijlee2 commented on #1555
@mo3taz1705 Good catch! Thanks for confirming with me.

Will you update `Person` to `Image` in the `release` as well as `3.15` - `3.20`?

[2020-10-10 14:31] fozy81 commented on #1421
@ijlee2 Please see PR, let me know your thoughts - it's so hard to get the right tone/words. Do you think an 'in-depth' topic should cover sanitizing input and using htmlSafe in more detail?

[2020-10-10 19:04] mo3taz1705 commented on #1555
@ijlee2 yes, i will do it in `release` and `3.15` - `3.20` directories

[2020-10-10 21:44] mo3taz1705 commented on #1554
@ijlee2 I'd like to do it.

[2020-10-10 22:54] #1555 closed

[2020-10-10 22:55] ijlee2 commented on #1554
@mo3taz1705 Thank you for volunteering to help again!

[2020-10-10 23:20] #1556 closed

[2020-10-10 23:53] ijlee2 opened #1566 "Backport the updated Built-in Components to 3.15, 3.17-3.19"
## Background

There was a bug in **allowing event names as arguments** (for backwards compatibility) for the `<Input>` and `<Textarea>` components. It's fixed now in versions 3.16 (LTS), 3.20 (LTS), and 3.21 of Ember.

## Problem

We already updated the [Built-In Components](https://guides.emberjs.com/release/components/built-in-components/) page for version 3.21. The changes need to be copied ov

[2020-10-10 23:54] ijlee2 commented on #1566
Hi, everyone. You can now help with this issue! 🎃

Please claim the issue by leaving a comment so that we can assign the issue to you. Thanks, and happy Hacktoberfest!

[2020-10-11 01:29] lvegerano commented on #1566
I'll take this one

[2020-10-11 01:34] ijlee2 commented on #1566
@lvegerano Thank you in advance for your help!

[2020-10-11 02:19] #1566 closed

[2020-10-11 11:17] fozy81 commented on #1553
@ijlee2 first of the backports done! Will do four more commits to follow...

[2020-10-11 12:11] fozy81 commented on #1553
Hi @ijlee2  All done! Hope that looks okay. Let me know if anything needs fixing.

[2020-10-11 12:49] ijlee2 commented on #1560
Assigned to @hbutau

[2020-10-11 13:26] #1553 closed

[2020-10-11 13:33] ijlee2 commented on #1560
Completed

[2020-10-11 13:33] #1560 closed

[2020-10-11 14:27] #1421 closed

[2020-10-12 00:52] #1554 closed

[2020-10-12 20:02] fozy81 commented on #1549
Hi @jenweber I'd be interested to start drafting something for this issue.

[2020-10-15 23:15] ijlee2 opened #1572 "Backport changes to Specifying a Route's Model"
## Problem

Today, the Learning Team found a few typos and duplicate content in [Routing - Specifying a Route's Model](https://guides.emberjs.com/release/routing/specifying-a-routes-model/).

We fixed the issue for the `release` directory (Ember `v3.21` at the time of writing). We'd like to see the changes backported to `v3.15` - `v3.20`.

## TODOs

- [ ] Study the [changes made in the pull reques

[2020-10-15 23:18] ijlee2 commented on #1572
Hi, everyone. I created this issue for [EmberFest Contributors Workshop](http://emberfest.eu/), to be held on October 16. Please allow a workshop participant the chance to claim and work on this issue first.

If the issue is still open after October 16, anyone is welcome to sign up for the issue. Thanks, and happy Hacktoberfest! 🎃

[2020-10-16 02:36] jenweber commented on #1398
For whoever wants to work on this ticket, you can find where the banner is specified by searching this repo for "Ember Octane is here!" and remove that line.

[2020-10-16 02:38] jenweber commented on #1549
Awesome, thank you! Feel free to open a PR when you have a draft. It is the easiest way to get feedback as you work!

[2020-10-16 02:58] jenweber opened #1573 "Link to "Patterns for Components" and "Patterns for Actions" from the main components section"
We have these really great articles, [Patterns for components](https://guides.emberjs.com/release/in-depth-topics/patterns-for-components/) and [Patterns for actions](https://guides.emberjs.com/release/in-depth-topics/patterns-for-actions/), but you can only get to them from the nav bar! Let's add a section to [Component State and Actions](https://guides.emberjs.com/release/components/component-st

[2020-10-16 03:11] jenweber opened #1574 "Link to the Ember Inspector guide from "debugging""
The [Debugging](https://guides.emberjs.com/release/configuring-ember/debugging/) article does not mention Ember Inspector at all, and it's one of the best things to help someone debug.

To do:
- Figure out where to put the link to [Ember inspector](https://guides.emberjs.com/release/ember-inspector/) in the [Debugging](https://guides.emberjs.com/release/configuring-ember/debugging/) article
- Only

[2020-10-16 03:21] jenweber opened #1575 "Remove the link to the "guides-app" repo and add the CLI Guides"
The [Repositories](https://guides.emberjs.com/release/contributing/repositories/) page is out of date. Here are some changes to make!

- The guides-app repo is deprecated, and so the link to https://github.com/ember-learn/guides-app should be removed
- Add a link for the CLI Guides, https://github.com/ember-learn/cli-guides
- Add a link to the deprecations guide repo https://github.com/ember-learn

[2020-10-16 04:02] ijlee2 opened #1576 "Explicitly inject store service in Octane examples"
## Background

Currently, [Ember Data injects the `store` service](https://github.com/emberjs/data/blob/v3.21.1/packages/-ember-data/addon/setup-container.js#L44-L48) into controllers and routes for us. In Octane and the future, we want the code to show their intent clearly.

[code]

## Problem

Several examples in the Ember Guides already follow the practice of explicitly injecting the `store` se

[2020-10-16 04:02] ijlee2 commented on #1576
Hi, everyone. I created this issue for [EmberFest Contributors Workshop](http://emberfest.eu/), to be held on October 16. Please allow a workshop participant the chance to claim and work on this issue first.

If the issue is still open after October 16, anyone is welcome to sign up for the issue. Thanks, and happy Hacktoberfest! 🎃

[2020-10-16 04:21] ijlee2 commented on #871
Just going through the backlog. I think we can close this issue. Please create a new one when there can be a change to the Ember Guides?

Thanks,

[2020-10-16 04:21] #871 closed

[2020-10-16 10:15] vvkpd commented on #1398
I would like work on this card, could you please assign to me?
Thanks

[2020-10-16 12:32] Rxbsxn commented on #1576
I will handle that one!

[2020-10-16 12:36] ijlee2 commented on #1576
Hi, @Rxbsxn. Thank you for your help!

[2020-10-16 13:00] cah-johnryan commented on #1575
EmberFest Contributors Workshop: I am going to take a shot at this now

[2020-10-16 14:03] JamesS-M commented on #1572
@ijlee2 I can tackle this!

[2020-10-16 14:04] ijlee2 commented on #1572
@JamesS-M Thank you in advance for your help!

[2020-10-16 14:13] #1575 closed

[2020-10-16 16:41] #1576 closed

[2020-10-16 18:08] Ian-Yy commented on #1573
Hello, may I take this up?

[2020-10-16 19:06] ijlee2 commented on #1573
@Ian-Yy Thank you for your interest in helping out with the Ember Guides! If you have questions, feel free to reach out in this issue or over [Ember Discord](https://discord.gg/emberjs).

[2020-10-17 10:16] Ian-Yy commented on #1573
Created a PR. Please let me know if its not suitable and need changes. Thanks

[2020-10-17 14:48] ijlee2 commented on #1398
@vvkpd Thanks for helping out with the Ember Guides! If you have questions, feel free to reach out by commenting in this issue, or joining the `#hacktoberfest` channel at [Ember Discord](https://discord.gg/emberjs).

[2020-10-18 20:02] gabrielcsapo commented on #1559
👋 thanks for looking into this @ijlee2! I should have been more specific but some of sections that showcase app.import can be removed entirely with the suggestion that the way to import commonjs modules via ember-auto-import instead of app.import.

[2020-10-19 16:25] #1573 closed

[2020-10-20 19:09] #1574 closed

[2020-10-20 23:41] #1473 closed

[2020-10-22 12:34] jenweber commented on #1549
Hi @fozy81, how is it going? Let us know if you have any questions or want to do some pairing on this one.

[2020-10-22 16:07] fozy81 commented on #1549
Hi @jenweber , it's going well, but was a little busy last week but worked on draft last night. I did a bit of digging into what extensions are available. We maybe need some feedback on which extensions are most useful or which ones have been missed or no longer maintained etc. I use VS code but I'm quite new to that one. And know less about the other editors.

I'd appreciate feedback on the draft

[2020-10-26 13:32] #1398 closed

[2020-10-27 23:08] #1572 closed

[2020-10-27 23:10] ijlee2 commented on #1559
@gabrielcsapo Thanks! I've been pulled in different directions lately so I haven't gotten to think about the issue yet, my bad.

If you have an idea for what the pull request could look like, would you be interested in working on it? After you open the PR, I can help with proofreading and suggesting changes.

[2020-10-30 16:54] silhusk opened #1590 "Example in guide suggests accessing controller in route, which causes linter error"
The example on [Preventing Transitions via willTransition](https://guides.emberjs.com/release/routing/preventing-and-retrying-transitions/#toc_preventing-transitions-via-willtransition) is using `this.controller` from inside route `willTransition`. This behaviour is flagged as error [ember/no-controller-access-in-routes](https://github.com/ember-cli/eslint-plugin-ember/blob/master/docs/rules/no-co

[2020-11-01 06:25] neojp opened #1591 "Broken `Ember.getOwner()` link on Dependency Injection guide page older than v3.6.0"
On the **Guides > Application Concerns > [Dependency Injection](https://guides.emberjs.com/v3.5.0/applications/dependency-injection/#toc_getting-an-application-instance-from-a-factory-instance)** page for **v3.5.0** there is a broken link to `Ember.getOwner`:

![image](https://user-images.githubusercontent.com/127994/97796508-c19f5100-1be0-11eb-9991-7236d7c1895f.png)

---

The broken link looks li

[2020-11-01 09:24] neojp commented on #1440
@jenweber & @ijlee2, I went ahead and wrote a script that will allow us to do this process more quickly. This also hooks into the current process to create new releases and automates the process for us for future releases. You can see it in PR #1592.

![image](https://user-images.githubusercontent.com/127994/97798177-b86ab000-1bf1-11eb-9fd0-20bbff8b875b.png)

[2020-11-02 22:06] locks opened #1599 "Review guides for `ember new` and new lang flag"
Since Ember CLI v3.21, it is possible to specify a `lang` flag, which in turn sets `<html lang="LANG">` in `index.html`.
We should make sure that mentions of creating new app should include the `lang` flag.

Current list:
- [ ] https://guides.emberjs.com/release/tutorial/part-1/orientation/#toc_creating-a-new-ember-app-with-ember-cli
- [x] https://guides.emberjs.com/release/getting-started/quick-s

[2020-11-02 22:17] ijlee2 commented on #1599
Just in case: To propose a change in the Super Rentals tutorial, you will need to clone https://github.com/ember-learn/super-rentals-tutorial and open a pull request in that repo.

[2020-11-02 23:22] neojp commented on #1440
I have ran the script through all versions and submitted PRs for the ones that had any link edits, once these are approved and merged we should be able to close this issue.

[2020-11-03 00:17] fozy81 commented on #1599
Hi @locks, I'd like to have a go at this. Something like this: `ember new ember-quickstart --lang en` instead of  `ember new ember-quickstart` and a short explanation of the --lang flag? Happy to draft PR.

Additional there is lang attribute section https://guides.emberjs.com/release/accessibility/application-considerations/ I think it's worth mentioning the --lang flag there too.

I'll create an

[2020-11-03 21:21] kategengler opened #1604 "Diff is hard to read and use in code examples"
For example: https://guides.emberjs.com/release/components/helper-functions/#toc_advanced-class-helpers

It is very hard to see here what the proper syntax is for a class-based helper. You cannot just copy the correct syntax out of the example.

I've seen this problem elsewhere in the Guides as well, but this example seemed particularly bad because it's not something where a user is adding to an e

[2020-11-03 21:40] chancancode commented on #1604
Would https://github.com/ember-learn/guides-source/issues/1534#issuecomment-694594680 work for you? (also this is probably a duplicate of that issue)

[2020-11-03 21:53] kategengler commented on #1604
Ah, that'd be great! I'll close this in favor of that.

[2020-11-03 21:53] #1604 closed

[2020-11-04 10:26] locks commented on #1599
@fozy81 You make a good point. I think maybe we start with adding some text to "Application Considerations" about the flag, and then we can link to it from the Quickstart?

[2020-11-04 20:13] fozy81 commented on #1599
Good plan. I'll draft an update PR for the developer consideration section first and we can take it from there.

[2020-11-05 13:35] mansona commented on #1549
the PR was merged 🎉  thanks for doing the work

[2020-11-05 13:35] #1549 closed

[2020-11-05 15:58] mansona opened #1608 "Document the use of ember-page-title"
- route templates
  - they include {{page-title}} in the generated output now
  - maybe the auto tutorial thing might automatically work (if it uses the generators)

- a11y section should mention it

- Update the "Page Title" section in Page Template Considerations to use ember-page-title.

- Update code examples in Building Pages to include uses of {{page-title}}. Also explain that updating the p

[2020-11-28 23:42] MichalBryxi opened #1610 "v3.22 algolia search does not yield any(?) results"
Tried to search on [v3.22 guides](https://guides.emberjs.com/v3.22.0/) for any generic Ember term from `modifiers` through `component` to `template` provides no results whatsoever (see screenshot below).

Compared that to `v3.21`, `v3.20` and `v3.19` which all works ok.

![Screenshot 2020-11-28 at 23 37 04](https://user-images.githubusercontent.com/847473/100528282-5b0b5400-31db-11eb-8850-dfef35da

[2020-12-04 01:17] #1406 closed

[2020-12-04 01:18] ijlee2 commented on #1610
@MichalBryxi Thanks for reporting the issue.

@locks will try to set aside time to look into the problem. We're hoping that we can fix the search issue for 3.22 when Ember Guides releases its 3.23 documentation.

[2020-12-04 01:42] locks commented on #1610
I had some time to look into this and it should now be working:

<img width="647" alt="image" src="https://user-images.githubusercontent.com/32344/101110879-e74dba80-35d1-11eb-9a6a-6cb33412d2f8.png">

Hard refresh and give it a go! If it's still not working please re-open for further investigation.

[2020-12-04 01:42] #1610 closed

[2020-12-04 02:16] ijlee2 commented on #1610
I checked that the search in 3.22 works. Much thanks, @locks!

[2020-12-11 02:52] nruth opened #1616 "autotracking guide POJO/cache example confusion"
In https://guides.emberjs.com/release/in-depth-topics/autotracking-in-depth/ I'm not sure what this means:

Which is at the end of the following:

![image](https://user-images.githubusercontent.com/26158/101855170-e6310600-3b5a-11eb-874a-faff6dfc884b.png)

It might just be me, but I'm not getting a clear message from that last bit. I'm struggling with some ambiguities:

- Which `get` method? The o

[2020-12-21 18:44] amyrlam opened #1621 "Add back meta image"
We've lost the meta image for guides links, e.g. https://twitter.com/Steady5063/status/1340297223733735426

<img width="595" alt="screenshot" src="https://user-images.githubusercontent.com/16869656/111861683-79df5300-8950-11eb-8364-871b10d8485b.png">

Relates to / probably same fix as: https://github.com/ember-learn/ember-blog/issues/854

[2021-01-03 05:37] viraldevpb commented on #1016
can i work on this issue now?

[2021-01-03 09:02] ijlee2 commented on #1016
Hi, @viraldevpb. Thanks for wanting to help out with this issue!

I noticed that the issue is a bit outdated and its description needs to be updated. Currently,

1\. The [Built-in Components](https://guides.emberjs.com/release/components/built-in-components/) page, in versions 3.15 - 3.23, show the correct usage of checkbox inputs.
2\. The [Input Helpers](https://guides.emberjs.com/v3.13.0/templat

[2021-01-10 23:28] MichalBryxi opened #1625 "Algolia search provides no results"
## Problem description

1. GOTO: https://guides.emberjs.com/release/
2. Try to put "route" into search box.
3. No results are found even though this is a very common keyword

## What should happen instead

Search provides some results

## Screenshots

<img width="619" alt="Screenshot 2021-01-10 at 23 25 32" src="https://user-images.githubusercontent.com/847473/104138357-77360f80-539b-11eb-9c16-469

[2021-01-11 01:27] jaredgalanis commented on #1625
Thanks for reporting this @MichalBryxi! I've notified Algolia support of the issue and will look into it further. I'll report back here once I've figured out what the problem is.

[2021-01-11 10:30] jaredgalanis commented on #1625
Search is back up. I have not looked at the cause yet, but will.

[2021-01-12 22:37] fozy81 commented on #1599
Just to confirm, there's a matching issue for the Super Rentals repo: https://github.com/ember-learn/super-rentals/issues/151

[2021-01-13 06:34] ijlee2 commented on #1599
Hi, @fozy81. Let me move that issue that you referred to to `super-rentals-tutorial` repo. To suggest changes to the Super Rentals tutorial, you will want to clone that repo and open your pull request there. (Thank you for helping! 🌟)

[2021-01-13 10:38] ijlee2 commented on #1599
We

[2021-01-20 21:46] #235 closed

[2021-02-17 09:39] Benjy1979 opened #1633 "this.render in Route not well documented"
The ability to call this.render() in renderTemplate has not been well documented. Some questions on reading it immediately spring to mind, and some after experimentation:

[https://api.emberjs.com/ember/3.24/classes/Route/methods/render?anchor=render](https://api.emberjs.com/ember/3.24/classes/Route/methods/render?anchor=render)

1. What about query params and route arguments required for that rou

[2021-02-17 17:54] locks commented on #1633
Hi @Benjy1979, thanks for reporting! These APIs have in general not been recommended for a while and as of 3.26 they are officially deprecated https://deprecations.emberjs.com/v3.x#toc_route-render-template. Part of the reason is that they raise questions similar to yours and we have better solutions now.
I hope the migration guides are helpful in adjusting your code to not rely on `render`/`rende

[2021-02-17 17:54] #1633 closed

[2021-02-17 21:19] Benjy1979 commented on #1633
__It's been a while, but I'm pretty sure that the model and the controller that renderTemplate receives are the results of the model() and setupController() hooks in the owner of the renderTemplate. If you define controllerName somewhere, that controller will be used instead.__

The question I was asking refers to the route that this.render is rendering rather than the owner of renderTemplate that

[2021-02-26 15:28] NullVoxPopuli opened #1638 "Update addons / libraries / dependencies documentation to better represent the current state of npm support"
Motivation is so that devs just quick skimming the this page: https://guides.emberjs.com/v3.24.0/addons-and-dependencies/
don't feel like they need to install broccoli transform addons and do `app.import` for every dependency.

This is the only mention that I could find/skim of how things actually work
![image](https://user-images.githubusercontent.com/199018/109319656-18c6d280-781d-11eb-8d8b-00c7

[2021-03-16 18:34] startupsandcode opened #1644 "TweetParam test is failing by returning null not full URL"
Page with issue:
https://guides.emberjs.com/release/tutorial/part-2/service-injection/

Assert that is failing:
[code]

![image](https://user-images.githubusercontent.com/939730/111361737-68522e80-8664-11eb-886c-41cd911338f5.png)

It appears it is comparing at string to a url, and the following is not returning a URL

class MockRouterService extends Service {
  get currentURL() {
    return '/foo/

[2021-03-18 07:06] ijlee2 commented on #1644
Hi, @startupsandcode. Thank you for letting us know of the issue.

I wonder if it may be related to https://github.com/ember-learn/super-rentals/issues/156. There, an assertion against `href` failed because of a regression that occurred in Ember 3.25.1.

I think the regression has been fixed since. In case the issue that you saw still exists, let me move the issue to `super-rentals-tutorial`, the

[2021-03-18 23:42] waihon opened #1645 "Quick Start Guide: Post Deployment to Netlify, Navigating to Routes Resulted in Page Not Found"
After following the steps under "Deploying to Netlify using drag and drop" to deploy the app, navigating to `/` resulted in the index page as expected.

However, navigating to `/scientists` and `/programmers` resulted in Page Not Found error.

I posted the issue to Ember.js' Discord for help and received feedback that it might be due to missing of a `_redirects` file under `dist/` directory.

I ha

[2021-03-19 15:20] waihon commented on #1645
After further study, instead of adding a `_redirects` file into `dist/` after a build, it would be better to add that file to `public/` instead.
That way, `ember build --environment=production` will add `public/_redirects` to `dist/` automatically, for deployment using "drag and drop" or "GitHub".

[2021-03-19 15:25] waihon commented on #1645
I hope this issue will be assigned a much higher priority as it involves the Getting Started guide. A good first impression would be important for some aspiring Ember.js developer to continue pursuing this framework instead of switching to other front-end frameworks.

[2021-03-20 06:40] ijlee2 commented on #1645
@waihon Hello, thank you for letting us know that the instructions for deploying to Netlify in the Quick Start need an additional step. I agree that we do need to explain the missing step.

I think these reference links may help us come up with the content for the missing step:

- https://docs.netlify.com/routing/redirects/
- https://devjournal.balinterdi.com/how-to-deploy-an-ember-app-to-netlify/

[2021-03-20 06:43] ijlee2 commented on #1440
I believe this issue can be considered done now. 🥳

[2021-03-20 06:43] #1440 closed

[2021-03-20 07:04] ijlee2 commented on #1621
@nickschot @mansona Can you have a look at this issue? I checked that `e` logo does not show up still.

[2021-03-20 20:34] amyrlam commented on #1621
Ah thanks for the reminder. I added it to ember-website with https://github.com/ember-learn/ember-website/pull/804, by hardcoding the path...because I noticed the emberjs and embertimes Twitter accounts sending out links with a blank image.

I made a similar change here: https://github.com/ember-learn/guides-source/pull/1647 and will tag you 3 on that PR.

[2021-03-24 19:25] rwwagner90 commented on #1645
@ijlee2 should we perhaps add something that mentions using https://github.com/shipshapecode/ember-cli-netlify? This feels more like the "Ember way" to configure things than manually maintaining the `_redirects` file.

[2021-03-25 06:53] ijlee2 commented on #1645
@rwwagner90 I'm ok with mentioning `ember-cli-netlify` in the Guides. Since the page is Quick Start, I think it's best to provide readers an option that just works.

It may be good to also add the link to https://docs.netlify.com/routing/redirects/ in case people want to learn more about how redirects work?

[2021-03-25 17:54] amyrlam opened #1650 "Testing improvements - update Percy test code to snapshot more pages"
From @mansona at Learning Team meeting with @jaredgalanis @locks . Issue details edited by @jenweber

In [`visual-regression-test.js`](https://github.com/ember-learn/guides-source/blob/master/tests/acceptance/visual-regression-test.js) we loop over pages in the table of contents and take a visual snapshot of them using a service called Percy. Percy lets us compare a visual diff between two screens

[2021-03-25 18:07] #1621 closed

[2021-03-28 07:54] ejfian-2020 commented on #1016
Is there any work remaining to be done for this issue ? I can take a stab at it. Thanks

[2021-03-28 08:38] ijlee2 commented on #1016
Hi, @ejfian-2020. Thank you for making time to help out with the issue.

Yes, I think the 2 TODOs listed in my comment above (Jan 3, 2021) are yet to be done. Could you help out with updating the code examples for Ember 3.7 - 3.14?

If a code example shows angle brackets, please use the angle bracket syntax. If curly braces, keep the curly brace syntax. If you have any questions, please let me kno

[2021-03-29 02:28] ejfian-2020 commented on #1016
Hi @ijlee2,
Just so that i understand the asks correctly. This change needs to be done for all the versions of Ember from 3.7 to 3.14 , is that correct ?
Based on your recommendations I will create 2 PRs one for the v3.14 and another for v3.7- v3.13.

[2021-03-29 05:16] ejfian-2020 commented on #1016
Hi @ijlee2 ,
For v3.10 - v3.13 , the code is using angle brackets and keeping the @name="isAdmin" intact , I will change the
`<Input @type="text" @keyPress={{action "updateName"}} />`
to

`<Input @id="admin-checkbox" @type="checkbox" @name="isAdmin" @checked={{this.isAdmin}} @input={{this.validateRole}} />`

[2021-03-29 05:32] ejfian-2020 commented on #1016
Hi @ijlee2 ,
For v3.10 - v3.13 , the code is using angle brackets and removing the @name="isAdmin" , I will change the
`<Input @type="text" @keyPress={{action "updateName"}} />`
to

`<Input @id="admin-checkbox" @type="checkbox" @checked={{this.isAdmin}} @input={{this.validateRole}} />`

Please confirm if the change looks good.

[2021-03-29 06:15] #1016 closed

[2021-03-29 14:06] jenweber commented on #1638
This page could definitely be improved! Contributors are welcome to make big changes or small changes in their PRs. One thing that needs to stay the same is that we cannot remove existing headings. Sections can be moved around, and we can add new headings. This is so that we don't break anyone's bookmarks or blog links.

[2021-03-29 14:12] jenweber commented on #1645
I'd like if we can describe both, if it's not too confusing/wordy. The reason is that I think it's good to demonstrate that you don't need anything special to get your app deployed, but there is a bunch of stuff that helps you out if you look for it. For example:

[code]

[2021-03-29 14:14] jenweber commented on #1645
As a sidenote, I'd also be happy to merge a PR that mentions one option instead of both, just to get this fixed ASAP for our readers. It should be as short and sweet as possible so that we don't confuse people, so linking out to other resources for more learning is a great suggestion.

[2021-03-29 15:33] jenweber opened #1656 "Create a short Contributing guide (new content)"
It can be tough to know where to get started with contributing to Ember! We should create a short and sweet welcome message and some general guidance for new contributors.

## To do:
- Copy the contents of [`contributing/index.md`](https://github.com/ember-learn/guides-source/blob/master/guides/release/contributing/adding-new-features.md) into [contributing/adding-new-features.md](https://github.c

[2021-03-29 15:39] DanaKirsh commented on #1656
would like to work on this issue as part of the EmberConf contributors workshop :)

[2021-03-29 15:51] jenweber opened #1657 "Revise the Contributing/Adding New Features guide"
[This page of the guides](https://guides.emberjs.com/release/contributing/) is from a long time ago, before the Ember ecosystem and RFC process had grown a lot. We should update it to reflect where we are today.

## To-do:
- Edit this page: https://github.com/ember-learn/guides-source/blob/master/guides/release/contributing/index.md
- Follow the suggested outline below if you need some ideas, or c

[2021-03-29 15:53] jenweber opened #1658 "Remove references to Travis and replace them with more generic words"
Travis is a Continuous Integration Testing service. We don't use Travis as much anymore for Ember projects, but we have some lingering references. We use GitHub Actions a lot now. We should say something more generic when we talk about CI, like "Continuous integration tests" or "automated tests" etc.

## To do:
- Remove references to Travis here: https://guides.emberjs.com/release/contributing/#to

[2021-03-29 16:08] jenweber opened #1659 "Add a very simple example to the top of Block Content"
[This article](https://guides.emberjs.com/release/components/block-content/) gives a thorough explanation of what block component content is and when to use it, but it's missing a quick intro to help someone recognize what Block Content looks like.

## To do:
- Add a super short example to the intro to block content. See suggestions below
- Only make your changes in to the file in the Release fold

[2021-03-29 16:16] jenweber opened #1660 "Mention built-in helpers at the start of the Helpers page"
[This page](https://guides.emberjs.com/release/components/helper-functions/) of the Guides jumps right into making you write your own helper. This is a very useful skill and helps build understanding of helpers, but it's good if developers also know upfront that Ember has some built-in helpers.

## To do
- In the intro section of [this file](https://github.com/ember-learn/guides-source/edit/master

[2021-03-29 16:27] Valgueiro commented on #1660
I'll try to do it during the EmberConf 2021 workshop! 😄

[2021-03-29 16:54] barelyknown commented on #1659
I'll handle this as part of the EmberConf contributors' workshop.

[2021-03-29 16:54] vivasconcelos commented on #1658
I'll help with that!

[2021-03-29 17:03] afzal273 commented on #1608
I'll take this one

[2021-03-29 17:47] barelyknown commented on #1650
Taking a look at this one.

[2021-03-29 18:53] jenweber commented on #1657
I am working on this one.

[2021-03-29 19:07] #1660 closed

[2021-03-29 19:37] #1657 closed

[2021-03-30 20:04] ijlee2 commented on #1658
Completed in #1664

[2021-03-30 20:04] #1658 closed

[2021-03-31 05:44] welja opened #1669 "Issues with The Tutorial Super Rentals"
Hi,
I am just starting to learn Ember and though i like the tutorial soo far i do have a few issues.

1. Explain how to debug. For some reason (still have not figured it out) when i added the routes/index.js the demo site only displayed the gray background. All the content was missing. Eventually (using another tutorial) i used "ember generate route index" and it suddenly worked again.

2. I like

[2021-03-31 21:22] #1650 closed

[2021-04-05 11:21] NullVoxPopuli opened #1676 "Should the async routing page have examples to usage of async?"
Page: https://guides.emberjs.com/release/routing/asynchronous-routing/
Ref: https://discord.com/channels/480462759797063690/483601670685720591/828585464294408233

[2021-04-06 16:28] rwwagner90 commented on #1645
@jenweber I defer to whatever the group prefers, but I personally think configuring it in `ember-cli-build.js` with `ember-cli-netlify` feels like "the Ember way", but I know we also want to remove some of the Ember magic, so I am fine with whatever.

[2021-04-10 21:33] jenweber opened #1678 "Update Super Rentals Tutorial"
This is a task for project maintainers.

We had to change out an image used. This means we need to update the tutorial. Godfrey's advice:

[2021-04-11 06:09] #1678 closed

[2021-05-03 11:07] fozy81 opened #1682 "Update the Ember extensions / code editor page"
There's been a few [suggestions](https://discord.com/channels/480462759797063690/814921339219476571/831275779643539467) to improve the [Ember extensions / code editor page](https://guides.emberjs.com/release/code-editors/).

These are:

- [x] Merge the Vim and Neovim sections as same plugins can be used in both editors
- [x] Make it clear that the 'unstable' language server is safe to use...in oth

[2021-05-03 12:29] ijlee2 commented on #1682
The suggested items sound good to me, with the possible exception of the 3rd item. Rather than "other extensions" (a vague list), I'd suggest adding `ember-template-lint-plugin-tailwindcss` if it's used enough, or not adding it for now if it isn't used enough.

Can you start working on a pull request? Thanks!

[2021-05-03 12:41] fozy81 commented on #1682
Thanks @ijlee2 , I'll start work on a PR. And do a little more research on the most popular extensions being used at the moment.

[2021-05-07 23:24] #1659 closed

[2021-05-08 11:32] fozy81 commented on #1682
@ijlee2 I've updated the page (with 120 column width formatting) and made changes for the 1st and 2nd items in the issue.

The 3rd item: I've not added any more extensions. We can seek more feedback on this in future?

But I have removed mention of:
- [els-addon-docs](https://github.com/lifeart/els-addon-docs)
- [els-addon-typed-templates](https://github.com/lifeart/els-addon-typed-templates)

The

[2021-05-08 12:45] fozy81 commented on #1528
Just a suggestion, this explanation could be added just before this [section](https://guides.emberjs.com/release/in-depth-topics/autotracking-in-depth/#toc_tracking-through-methods)? Perhaps a 'zoe says...' section?

[2021-05-08 19:41] ijlee2 commented on #1682
@fozy81 Let's close this issue after merging #1683. If there's a need to mention more extensions in the future, people are welcome to open a new issue.

I don't know much about `els-addon-docs` and `els-addon-typed-templates`, but think it makes sense to remove them if they are addons for unstable ELS and the unstable ELS' webpage mentions them. We can always revert changes at a later point if nee

[2021-05-08 19:41] #1682 closed

[2021-05-09 20:08] fozy81 commented on #1599
Hi @ijlee2 can we close this issue? The [super rentals tutorial](https://guides.emberjs.com/release/tutorial/part-1/orientation/) mentions the `lang` flag now.

[2021-05-14 12:59] bertdeblock opened #1684 "Update examples using implicit injections in guides"
Implicit injections have been deprecated in v3.26.

The following examples contain implicit injections:
- https://guides.emberjs.com/v3.26.0/applications/dependency-injection/#toc_factory-injections
- https://guides.emberjs.com/v3.26.0/applications/initializers/#toc_application-initializers

There could be others as well, I'm not sure.

[2021-05-15 10:06] fozy81 commented on #1645
@jenweber I've made a PR mentioning the adding _redirect file and linking to other resources. Please review.

[2021-05-15 10:10] fozy81 commented on #1645
@rwwagner90  - sorry, just noticed this is assigned to you. I got confused with the 'help wanted' tag and just jumped in. Anyway, hopefully the PR is a good starting place.

[2021-05-15 10:31] fozy81 commented on #1492
Some notes:

A little background in the  [ in-element RFC](https://github.com/emberjs/rfcs/blob/5667872d8cb7df50b48df7fd05fdb77f43f4e024/text/0000-promote-in-element-to-public-api.md) and the [API guidance](https://api.emberjs.com/ember/release/classes/Ember.Templates.helpers/methods/in-element?anchor=in-element) for reference.

There's a couple of addons which previously provided this type of fun

[2021-05-16 05:27] ijlee2 commented on #1645
@fozy81 No problem. I'm glad that you were able to step in and help.

[2021-05-17 10:45] #1645 closed

[2021-05-27 16:17] jenweber opened #1690 "Add instructions for contributing to API documentation"
We have this page in the Guides to help people contribute: https://guides.emberjs.com/release/contributing/ But it's missing instructions for a common task: people want to know how to add/change api docs. We should add a new section to this page describing the workflow:

1. Open up the source code for ember or ember-data (give links)
2. Find the existing docs within it (give advice on how to searc

[2021-06-03 15:44] mansona opened #1692 "Add more details to the section Contextual Components section"
The current [Contextual Components section in the guides](https://guides.emberjs.com/release/in-depth-topics/patterns-for-components/#toc_contextual-components) is a little bit lacking and doesn't explain how contextual components are being used in the wider Ember community.

We have discussed this in the Learning team meeting and we have some suggestions on ways forward:

- add a description unde

[2021-06-03 16:27] fozy81 commented on #1690
Hi @jenweber , I'd like to try to add this guidance.

[2021-06-05 09:29] fozy81 commented on #1690
Hi @jenweber - I've jumped in and prepared a PR, hopefully a useful starting place.

[2021-06-09 22:02] jacobq opened #1694 ""Later on" comment feels confusing in "Native classes in-depth" section"
In the [Native Classes In-Depth](https://github.com/ember-learn/guides-source/blob/master/guides/release/in-depth-topics/native-classes-in-depth.md) part of the guides it says:

but it's not obvious to me where "later on in the guides" is because this is the end of the in-depth topics section which is the end of the core concepts guide. The [Autotracking In-Depth](https://guides.emberjs.com/releas

[2021-06-09 23:52] elwayman02 opened #1695 "Disabling Prototype Extensions guide needs review"
https://github.com/ember-learn/guides-source/blob/master/guides/release/configuring-ember/disabling-prototype-extensions.md

https://guides.emberjs.com/release/configuring-ember/disabling-prototype-extensions/

Prototype extensions have largely been phased out of Octane patterns, so this is a good time to rethink how we document them (if at all).

Potentially Related: https://github.com/ember-lear

[2021-06-09 23:53] elwayman02 commented on #1695
Related context from Discord discussions starts here: https://discord.com/channels/480462759797063690/480777444203429888/852288158892294165

[2021-06-17 15:15] #1441 closed

[2021-06-23 04:57] #1690 closed

[2021-07-10 07:01] faith-or commented on #1492
Hi! @locks / @fozy81 -- I would like to try to take this up.

[2021-07-10 09:01] fozy81 commented on #1492
@faith-or Thanks for helping out. I think it's safe to start and someone from the docs team will assign you. I'm a newbie around here 🙂.

[2021-07-27 06:13] #1492 closed

[2021-07-29 14:57] mansona opened #1706 "Table of Contents override from guides-source for redesign"
Delete https://github.com/ember-learn/guides-source/blob/master/app/components/table-of-contents.hbs and make sure the implementation is properly in the guidemaker-ember-template once the redesign is ready to be merged :+1:

[2021-08-05 05:22] Devashish0210 opened #1709 "CSS issue in Ember Guides"
| Stage | Start Date | Release Date | Release Versions |  | Relevant Team(s) | RFC PR |
| :---: | :--------: | :----------: | :--------------: | --- |  :--------------: | :----: |
| Accepted | 28/07/2021 | Unreleased | ember-source  | ember-data | Ember Learning Team
| ---------- | ------------- | ------------ |      v3.26.1  |    v3.26.1   | ------------ |

# Summary
This feature will create a co

[2021-08-09 14:17] Runner-dev opened #1710 "Give other (more important reason) for refactoring code in Super Rentals tutorial"
In the Super Rental tutorial, [Part 1, Interactive Components](https://guides.emberjs.com/release/tutorial/part-1/interactive-components/#toc_testing-user-interactions) it is suggested that this code
[code]
be refactored into this code
[code]
the main reason given is code readability but in my opinion the use of the same image element, without removing one and creating another, is much more import

[2021-08-12 13:21] jenweber commented on #1709
Thanks for writing this up! I like the idea of having a new tutorial page for styles/CSS. It's great that we can do that work right away while we tackle the more difficult question of adding this to the CLI. We'll talk about it at today's learning team meeting. The article content would go in this repo: https://github.com/ember-learn/super-rentals-tutorial/ and the new page would also need to be a

[2021-08-12 15:33] jenweber commented on #1709
Notes from learning team meeting:

- The new page would go right after Orientation
- Devashish is working on a blueprint for generating the files. This will take a lot of time. A little stuck on this. @mansona might be able to help!
- It's not documented how to achieve blueprints for addons - this could be improved in the CLI guides
- Adding a new page can move forward!

Next steps:
- Open a separ

[2021-08-12 15:45] jenweber opened #1711 "Epic: make sure we aren't using deprecated or removed methods for Ember 4"
Read through this list of APIs that are being removed in Ember 4. If we are using any of them in the guides/release folder, comment or open new issues/PRs. Thank you.

The list of removed APIs is in this blog post: [Road to Ember 4](https://blog.emberjs.com/the-road-to-ember-4-0)

[Main Ember 4 tracking issue](https://github.com/emberjs/ember.js/issues/19545)

[Road to Ember 4](https://blog.emberj

[2021-08-12 15:55] jenweber opened #1712 "Ember 4: Update optional features documentation"
In Ember 4, some optional features become part of the Ember experience. We may need to update the [Optional features](https://guides.emberjs.com/release/configuring-ember/optional-features/) guide.

Open questions:
- Which of today's optional features becoming non-configurable/mandatory?

[2021-08-12 15:57] jenweber opened #1713 "Ember 4: update the Upgrade Guide"
The Upgrade guide is focused on helping people on Ember 3 to adopt Octane features. What needs to change for Ember 4?

I will bring this up in a framework team meeting.

[2021-08-12 16:08] kategengler commented on #1711
The tutorial raises on deprecation, so it shouldn't have anything deprecated.

[2021-08-12 18:30] chancancode commented on #1709
@Devashish0210 I emphasize with your problem and you're definitely not the first person to run into it, in fact there is an [open issue](https://github.com/ember-learn/super-rentals-tutorial/issues/100) about a similar thing in the tutorial repo. I think we need to fix this, but here are some things to consider to help find the right fix for this. I'll frame them in the context of your three sugge

[2021-08-13 15:11] jenweber commented on #1694
I agree, this should be a link.

[code]

[2021-08-13 15:12] jenweber commented on #1694
Thanks for the feedback and suggestion!

[2021-08-13 15:40] rajakvk commented on #1694
I will work on this issue. @jenweber

[2021-08-19 14:36] jenweber commented on #1709
Hi all, thanks for sharing your thoughts. Maybe we should find some next steps are that we can all agree on, we do those first, and then see where that takes us. The learning team had agreement on the plan laid out by @Devashish0210 but I think it's good to iterate. The CLI changes would require a real RFC, so I don't think we need to make decisions for that yet.

I suggest we begin with revising

[2021-08-19 15:42] jenweber commented on #1709
Edit - one other thing I want to add is that if we were to make it a new page, what we discussed in the meeting is that it would be very short and sweet, and not aim to teach CSS. The information density would be similar to its current form.

[2021-08-19 15:58] jenweber commented on #1709
Another idea from the learning team meeting is to add a Zoey says on the next page of the tutorial, "By the way, if your app doesn't look like this, you might have missed the Add the CSS section."

One question for you @Devashish0210, at what point in going through the tutorial did you notice you were missing CSS?  That may be a good place to put the Zoey says.

[2021-08-26 08:01] lifeart opened #1719 "Outdated rootElement management example"
![image](https://user-images.githubusercontent.com/1360552/130924746-cfb0f945-5efe-4e2f-bf28-22fb144bb471.png)

https://guides.emberjs.com/release/configuring-ember/embedding-applications/

Latest blueprint:

![image](https://user-images.githubusercontent.com/1360552/130924812-73fa25e2-72bd-48b8-9f5c-7d72fc762214.png)